<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="utf-8" />
    <title th:text="${title}">

    </title>
    <link rel="icon" href="#">
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <script src="https://kit.fontawesome.com/979f4e20dd.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" th:href="@{/css/product.css}"/>
    <link rel="stylesheet" th:href="@{/css/media.css}" type="text/css"/>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.2.1/dist/jquery.min.js" type="text/javascript"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery.maskedinput@1.4.1/src/jquery.maskedinput.min.js" type="text/javascript"></script>
</head>

<body>
<!-- loader start -->
<th:block th:insert="blocks/loader :: loader"></th:block>
<!-- loader end -->
<div class="main-container" id="blur">
    <!-- header start -->
    <th:block th:insert="blocks/header :: navigation"></th:block>
    <div class="main-content">
        <th:block th:insert="blocks/header :: header"></th:block>

        <div class="link-cards">
            <div class="container" id="main-content">

                <div class="card">
                    <div class="card-image cpu"style="--background-img:url('../img/links/INTEL-CORE-i9-X-SERIES.png')"></div>
                    <div class="card-text">
                        <h2>Процессоры</h2>
                    </div>
                    <div class="card-stats"></div>
                    <div class="card-stats">
                        <div class="count">500 Товаров</div>
                        <a class="button" href="accry/cpu">Перейти</a>
                    </div>
                </div>

                <div class="card">
                    <div class="card-image gpu"style="--background-img:url('../img/links/NVIDIA-RTX-3080-3D-Render-2.png')"></div>
                    <div class="card-text">
                        <h2>Видеокарты</h2>
                    </div>
                    <div class="card-stats">
                        <div class="count">500 Товаров</div>
                        <a class="button" href="accry/gpu">Перейти</a>
                    </div>
                </div>

                <div class="card">
                    <div class="card-image motherboad"style="--background-img:url('../img/links/ASUS_MAXIMUS_XII.png')"></div>
                    <div class="card-text">
                        <h2>Материнские платы</h2>
                    </div>
                    <div class="card-stats">
                        <div class="count">500 Товаров</div>
                        <a class="button" href="accry/motherboard">Перейти</a>
                    </div>
                </div>

                <div class="card">
                    <div class="card-image ram"style="--background-img:url('../img/links/CORSAIR_VENGEANCE_LED.png')"></div>
                    <div class="card-text">
                        <h2>Модули памяти (ОЗУ)</h2>
                    </div>
                    <div class="card-stats">
                        <div class="count">500 Товаров</div>
                        <a class="button" href="accry/ram">Перейти</a>
                    </div>
                </div>

                <div class="card">
                    <div class="card-image ssd"style="--background-img:url('../img/links/samsung_950_pro.0.0.png')"></div>
                        <div class="card-text">
                            <h2>SSD-диски</h2>
                        </div>
                    <div class="card-stats">
                        <div class="count">500 Товаров</div>
                        <a class="button" href="accry/ssd">Перейти</a>
                    </div>
                </div>

                <div class="card">
                    <div class="card-image case"style="--background-img:url('../img/links/raidmax_neon_rgb_1.png')"></div>
                        <div class="card-text">
                            <h2>Корпуса</h2>
                        </div>
                    <div class="card-stats">
                        <div class="count">500 Товаров</div>
                        <a class="button" href="accry/case">Перейти</a>
                    </div>
                </div>

                <div class="card">
                    <div class="card-image powerblock"style="--background-img:url('../img/links/THERMALTAKE_PS-SPR-0650FPCBEU-R-04.png')"></div>
                        <div class="card-text">
                            <h2>Блоки питания</h2>
                        </div>
                    <div class="card-stats">
                        <div class="count">500 Товаров</div>
                        <a class="button" href="accry/power-supply">Перейти</a>
                    </div>
                </div>

                <div class="card">
                    <div class="card-image cooler"style="--background-img:url('../img/links/kuler.png}')"></div>
                        <div class="card-text">
                            <h2>Системы охлаждения</h2>
                        </div>
                    <div class="card-stats">
                        <div class="count">500 Товаров</div>
                        <a class="button" href="accry/cooling-system">Перейти</a>
                    </div>
                </div>

                <div class="card">
                    <div class="card-image hdd"style="--background-img:url('../img/links/seagate_hdd1tb.png')"></div>
                        <div class="card-text">
                            <h3>Жесткие диски</h3>
                        </div>
                    <div class="card-stats">
                        <div class="count">500 Товаров</div>
                        <a class="button" href="accry/hdd">Перейти</a>
                    </div>
                </div>

                <div class="card">
                    <div class="card-image soundcard"style="--background-img:url('../img/links/61-tm_thickbox_default.webp')"></div>
                        <div class="card-text">
                            <h3>Звуковые карты</h3>
                        </div>
                    <div class="card-stats">
                        <div class="count">500 Товаров</div>
                        <a class="button" href="accry/sound-cards">Перейти</a>
                    </div>
                </div>

                <div class="card">
                    <div class="card-image controller-adapter"style="--background-img:url('../img/links/asrock-thunderbolt-2-aic-thunderbolt-2-aic.png')"></div>
                        <div class="card-text">
                            <h3>Контроллеры<br>Адаптеры</h3>
                        </div>
                    <div class="card-stats">
                        <div class="count">500 Товаров</div>
                        <a class="button" href="accry/controllers-adapters">Перейти</a>
                    </div>
                </div>

                <div class="card">
                    <div class="card-image external-hdd"style="--background-img:url('../img/links/ASUS_FX_HDD.png')"></div>
                        <div class="card-text">
                            <h3>Внешние HDD</h3>
                        </div>
                    <div class="card-stats">
                        <div class="count">500 Товаров</div>
                        <a class="button" href="accry/external-hdd">Перейти</a>
                    </div>
                </div>

            </div>
        </div>

        <!-- footer start -->
        <th:block th:insert="blocks/footer :: footer"></th:block>
        <!-- footer end -->
    </div>
</div>
<!-- modals start -->
<th:block th:insert="blocks/modals :: recall"></th:block>
<th:block th:insert="blocks/modals :: settings"></th:block>
<th:block th:insert="blocks/modals :: login"></th:block>
<th:block th:insert="blocks/modals :: register"></th:block>
<!-- modals end -->
<script type="text/javascript" th:src="@{/js/OpenProfileImage.js}"></script>
<script type="text/javascript" th:src="@{/js/PhoneMask.js}"></script>
<script type="text/javascript" th:src="@{/js/modals.js}"></script>
</body>

</html>