<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
  <meta charset="utf-8" />
  <title th:text="${title}">

  </title>
  <link rel="icon" href="#">
  <meta name='viewport' content='width=device-width, initial-scale=1.0'>
  <script src="https://kit.fontawesome.com/979f4e20dd.js" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <link rel="stylesheet" th:href="@{/css/style.css}"/>
  <link rel="stylesheet" th:href="@{/css/prod-page.css}">
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.2.1/dist/jquery.min.js" type="text/javascript"></script>
  <script src="https://cdn.jsdelivr.net/npm/jquery.maskedinput@1.4.1/src/jquery.maskedinput.min.js" type="text/javascript"></script>
</head>

<body>
<!-- loader start -->
<th:block th:insert="blocks/loader :: loader"></th:block>
<!-- loader end -->
<div class="main-container" id="blur">
  <!-- header start -->
  <th:block th:insert="blocks/header :: navigation"></th:block>
  <div class="main-content">
    <th:block th:insert="blocks/header :: header"></th:block>
    <!-- nagivation end -->
    <div class="product" th:each="element : ${product}" id="main-content">
      <h2 class="heading" th:text="'Ноутбук ' + ${element.name} +' ('+${element.model}+') ' + ${element.getOptionally().get('color')}"></h2>
      <div class="container">
        <div class="content main">
          <div class="info">
            <h3 class="serial">
              Код: <p th:text="${element.laptop_id}"></p>
            </h3>
            <div class="imgBox">
              <img class="image" th:src="${element.getPhoto()[0]}">
            </div>
            <div class="charact">
              <h2>Краткие характеристики:</h2>
              <ul class="description">
                <li>
                  <p class="title">Дисплей: </p>
                  <p class="about" th:text="${element.getDisplay().get('diagonal')} +'″ ('+ ${element.getDisplay().get('resolution')} +', '+ ${element.getDisplay().get('matrix type')} + ')'"></p>
                </li>
                <li>
                  <p class="title">Процессор: </p>
                  <p class="about" th:text="${element.getCpu().get('cpu')} +', ' + ${element.getCpu().get('cores')}"></p>
                </li>
                <li>
                  <p class="title">Оперативная память: </p>
                  <p class="about" th:text="${element.getRam().get('size')} +' ГБ (' + ${element.getRam().get('type')} + ')'"></p>
                </li>
                <li>
                  <p class="title">Внутренний накопитель: </p>
                  <p class="about" th:text="${element.getSSD().get('size')} +' ГБ (' + ${element.getSSD().get('type')}"></p>
                </li>
                <li>
                  <p class="title">Видеокарта: </p>
                  <p class="about" th:text="${element.getGpu().get('gpu')}"></p>
                </li>
                <li>
                  <p class="title">Габариты: </p>
                  <p class="about" th:text="${element.getOptionally().get('dimensions')} + ' мм'"></p>
                </li>
                <li>
                  <p class="title">Вес: </p>
                  <p class="about" th:text="${element.getOptionally().get('weight')} + ' кг'"></p>
                </li>
              </ul>
            </div>
          </div>

        </div>
        <div class="content price">
          <h3 class="available">Есть в наличии</h3>
          <div class="main">
            <h1 th:text="${element.cost}"><p>грн</p></h1>
            <div class="inputBox">
              <i class="fas fa-shopping-cart"></i>
              <input type="submit" name="" value="Купить">
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="content detailed">
          <h2 class="heading">Технические характеристики <p th:text="'Ноутбук' + ${element.name} +' ('+${element.model}+') ' + ${element.getOptionally().get('color')}"></p></h2>

          <ul class="parts">
            <h2>Процессор</h2>
            <li>
              <h3 class="title">Процессор</h3>
              <data>
                <p class="about" th:text="${element.getCpu().get('cpu')}"></p>
              </data>
            </li>
            <li>
              <h3 class="title">Производительность процессора</h3>
              <data>
                <p class="about" th:text="${element.getCpu().get('manufacturer')}"></p>
              </data>
            </li>
            <li>
              <h3 class="title">Количество ядер</h3>
              <data>
                <p class="about"th:text="${element.getCpu().get('cores')}"></p>
              </data>
            </li>
            <li>
              <h3 class="title">Количество потоков</h3>
              <data>
                <p class="about" th:text="${element.getCpu().get('threads')}"></p>
              </data>
            </li>
            <li>
              <h3 class="title">Объем кэша L3</h3>
              <data>
                <p class="about" th:text="${element.getCpu().get('cache size')}"></p>
              </data>
            </li>
          </ul>

          <ul class="parts">
            <h2>Видеокарта</h2>
            <li>
              <h3 class="title">Тип</h3>
              <data>
                <p class="about" th:text="${element.getGpu().get('type')}"></p>
              </data>
            </li>
            <li>
              <h3 class="title">Видеокарта</h3>
              <data>
                <p class="about" th:text="${element.getGpu().get('gpu')}"></p>
              </data>
            </li>
            <li>
              <h3 class="title">Объем видеопамяти</h3>
              <data>
                <p class="about" th:text="${element.getGpu().get('memory size')}"></p>
              </data>
            </li>
            <li>
              <h3 class="title">Тип видеопамяти</h3>
              <data>
                <p class="about" th:text="${element.getGpu().get('memory type')}"></p>
              </data>
            </li>
            <li>
              <h3 class="title">Производительность видеокарты</h3>
              <data>
                <p class="about" th:text="${element.getGpu().get('manufacturer')}"></p>
              </data>
            </li>
          </ul>

          <ul class="parts">
            <h2>Дисплей</h2>
            <li>
              <h3 class="title">Диагональ</h3>
              <data>
                <p class="about" th:text="${element.getDisplay().get('diagonal')}"></p>
              </data>
            </li>
            <li>
              <h3 class="title">Разрешение</h3>
              <data>
                <p class="about" th:text="${element.getDisplay().get('resolution')}"></p>
              </data>
            </li>
            <li>
              <h3 class="title">Тип матрицы</h3>
              <data>
                <p class="about" th:text="${element.getDisplay().get('matrix type')}"></p>
              </data>
            </li>
            <li>
              <h3 class="title">Частота обновления</h3>
              <data>
                <p class="about" th:text="${element.getDisplay().get('freq')}"></p>
              </data>
            </li>
            <li>
              <h3 class="title">Покрытие</h3>
              <data>
                <p class="about" th:text="${element.getDisplay().get('coverage')}"></p>
              </data>
            </li>
          </ul>

          <ul class="parts">
            <h2>Оперативная память</h2>
            <li>
              <h3 class="title">Объем</h3>
              <data>
                <p class="about" th:text="${element.getRam().get('size')}"></p>
              </data>
            </li>
            <li>
              <h3 class="title">Частота</h3>
              <data>
                <p class="about" th:text="${element.getRam().get('freq')}"></p>
              </data>
            </li>
            <li>
              <h3 class="title">Тип</h3>
              <data>
                <p class="about" th:text="${element.getRam().get('type')}"></p>
              </data>
            </li>
            <li>
              <h3 class="title">Количество слотов</h3>
              <data>
                <p class="about" th:text="${element.getRam().get('slots')}"></p>
              </data>
            </li>
            <li>
              <h3 class="title">Максимальный поддерживаемый объем</h3>
              <data>
                <p class="about" th:text="${element.getRam().get('max size')}"></p>
              </data>
            </li>
          </ul>

          <ul class="parts">
            <h2>Внутренний накопитель</h2>
            <li>
              <h3 class="title">Тип</h3>
              <data>
                <p class="about" th:text="${element.getSSD().get('type')}"></p>
              </data>
            </li>
            <li>
              <h3 class="title">Объем SSD</h3>
              <data>
                <p class="about" th:text="${element.getSSD().get('size')}"></p>
              </data>
            </li>
            <li>
              <h3 class="title">Дополнительно</h3>
              <data>
                <p class="about" th:text="${element.getSSD().get('optionally')}"></p>
              </data>
            </li>
          </ul>

          <ul class="parts">
            <h2>Порты и беспроводные технологии</h2>
            <li>
              <h3 class="title">Порты</h3>
              <data>
                <p class="about" th:text="${element.getPorts()[0]}"></p>
                <p class="about" th:text="${element.getPorts()[1]}"></p>
                <p class="about" th:text="${element.getPorts()[2]}"></p>
                <p class="about" th:text="${element.getPorts()[3]}"></p>
                <p class="about" th:text="${element.getPorts()[4]}"></p>
                <p class="about" th:text="${element.getPorts()[5]}"></p>
                <p class="about" th:text="${element.getPorts()[6]}"></p>
                <p class="about" th:text="${element.getPorts()[7]}"></p>
                <p class="about" th:text="${element.getPorts()[8]}"></p>
              </data>
            </li>
            <li>
              <h3 class="title">Беспроводные технологии</h3>
              <data>
                <p class="about" th:text="${element.getWirelessTech()[0]}"></p>
                <p class="about" th:text="${element.getWirelessTech()[1]}"></p>
              </data>
            </li>
          </ul>

          <ul class="parts">
            <h2>Мультимедиа</h2>
            <li>
              <h3 class="title">Мультимедиа</h3>
              <data>
                <p class="about" th:text="${element.getMultimedia()[0]}"></p>
              </data>
            </li>
            <li>
              <h3 class="title">Дополнительно</h3>
              <data>
                <p class="about" th:text="${element.getMultimedia()[1]}"></p>
              </data>
            </li>
          </ul>

          <ul class="parts">
            <h2>Аккумулятор</h2>
            <li>
              <h3 class="title">Тип</h3>
              <data>
                <p class="about" th:text="${element.battery}"></p>
              </data>
            </li>
          </ul>

          <ul class="parts">
            <h2>Дополнительно</h2>
            <li>
              <h3 class="title">Объем</h3>
              <data>
                <p class="about" th:text="${element.getOptionally().get('volume')}"></p>
              </data>
            </li>
            <li>
              <h3 class="title">Установленная операционная система</h3>
              <data>
                <p class="about" th:text="${element.getOptionally().get('OS')}"></p>
              </data>
            </li>
            <li>
              <h3 class="title">Особенности</h3>
              <data>
                <p class="about" th:text="${element.getOptionally().get('features1')}"></p>
                <p class="about" th:text="${element.getOptionally().get('features2')}"></p>
              </data>
            </li>
            <li>
              <h3 class="title">Дополнительно</h3>
              <data>
                <p class="about" th:text="${element.getOptionally().get('additionally1')}"></p>
                <p class="about" th:text="${element.getOptionally().get('additionally2')}"></p>
              </data>
            </li>
            <li>
              <h3 class="title">Габариты</h3>
              <data>
                <p class="about" th:text="${element.getOptionally().get('dimensions')}"></p>
              </data>
            </li>
            <li>
              <h3 class="title">Вес</h3>
              <data>
                <p class="about" th:text="${element.getOptionally().get('weight')}"></p>
              </data>
            </li>
            <li>
              <h3 class="title">Цвет</h3>
              <data>
                <p class="about" th:text="${element.getOptionally().get('color')}"></p>
              </data>
            </li>
          </ul>

        </div>
      </div>
    </div>

    <!-- footer start -->
    <th:block th:insert="blocks/footer :: footer"></th:block>
    <!-- footer end -->
  </div>
</div>
<!-- modals start -->
<th:block th:insert="blocks/modals :: recall"></th:block>
<th:block th:insert="blocks/modals :: settings"></th:block>
<th:block th:insert="blocks/modals :: login"></th:block>
<th:block th:insert="blocks/modals :: register"></th:block>
<!-- modals end -->
<script type="text/javascript" th:src="@{/js/OpenProfileImage.js}"></script>
<script type="text/javascript" th:src="@{/js/PhoneMask.js}"></script>
<script type="text/javascript" th:src="@{/js/modals.js}"></script>
</body>

</html>