<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="utf-8" />
    <title th:text="${title}">

    </title>
    <link rel="icon" href="#">
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <script src="https://kit.fontawesome.com/979f4e20dd.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" th:href="@{/css/product.css}"/>
    <link rel="stylesheet" th:href="@{/css/media.css}" type="text/css"/>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.2.1/dist/jquery.min.js" type="text/javascript"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery.maskedinput@1.4.1/src/jquery.maskedinput.min.js" type="text/javascript"></script>
</head>

<body>
<!-- loader start -->
<th:block th:insert="blocks/loader :: loader"></th:block>
<!-- loader end -->
<div class="main-container" id="blur">
    <!-- header start -->
    <th:block th:insert="blocks/header :: navigation"></th:block>
    <div class="main-content">
        <th:block th:insert="blocks/header :: header"></th:block>

        <div class="link-cards">
            <div class="container" id="main-content">


                <div class="card">
                    <div class="card-image" style="--background-img:url('../img/links/f804623f-c701-4623-940c-4f9bc48f3983.png')"></div>
                    <div class="card-text">
                        <h3>
                            МФУ
                        </h3>
                    </div>
                    <div class="card-stats">
                        <a class="button" href="office/mfp">Перейти</a>
                    </div>
                </div>

                <div class="card">
                    <div class="card-image" style="--background-img:url('../img/links/539.png')"></div>
                    <div class="card-stats">
                        <div class="card-text">
                            <h3>
                                Принтеры
                            </h3>
                        </div>
                        <a class="button" href="office/printers">Перейти</a>
                    </div>
                </div>

                <div class="card">
                    <div class="card-image" style="--background-img:url('../img/teremki.png')"></div>
                    <div class="card-text">
                        <h3>
                            Картриджи
                        </h3>
                    </div>
                    <div class="card-stats">
                        <a class="button" href="office/cartridges">Перейти</a>
                    </div>
                </div>

                <div class="card">
                    <div class="card-image" style="--background-img:url('../img/links/1247676.png')"></div>
                    <div class="card-text">
                        <h3>
                            Мониторы
                        </h3>
                    </div>
                    <div class="card-stats">
                        <a class="button" href="office/monitors">Перейти</a>
                    </div>
                </div>

                <div class="card">
                    <div class="card-image" style="--background-img:url('../img/links/oh-raa106-ng-1.png')"></div>
                    <div class="card-text">
                        <h3>
                            Геймерские кресла
                        </h3>
                    </div>
                    <div class="card-stats">
                        <a class="button" href="office/gaming-chair">Перейти</a>
                    </div>
                </div>

                <div class="card">
                    <div class="card-image" style="--background-img:url('../img/links/91W-5uKVtNL.png')"></div>
                    <div class="card-text">
                        <h3>
                            Акустические системы
                        </h3>
                    </div>
                    <div class="card-stats">
                        <a class="button" href="/acoustic-systems">Перейти</a>
                    </div>
                </div>

                <div class="card">
                    <div class="card-image" style="--background-img:url('../img/links/2885895785.png')"></div>
                    <div class="card-text">
                        <h3>
                            ИБП
                        </h3>
                    </div>
                    <div class="card-stats">
                        <a class="button" href="office/ups">Перейти</a>
                    </div>
                </div>

            </div>
        </div>

        <!-- footer start -->
        <th:block th:insert="blocks/footer :: footer"></th:block>
        <!-- footer end -->
    </div>
</div>
<!-- modals start -->
<th:block th:insert="blocks/modals :: recall"></th:block>
<th:block th:insert="blocks/modals :: settings"></th:block>
<th:block th:insert="blocks/modals :: login"></th:block>
<th:block th:insert="blocks/modals :: register"></th:block>
<!-- modals end -->

<script type="text/javascript" th:src="@{/js/OpenProfileImage.js}"></script>
<script type="text/javascript" th:src="@{/js/PhoneMask.js}"></script>
<script type="text/javascript" th:src="@{/js/modals.js}"></script>
</body>

</html>>