<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
  <meta charset="utf-8" />
  <title th:text="${title}">

  </title>
  <link rel="icon" href="#">
  <meta name='viewport' content='width=device-width, initial-scale=1.0'>
  <script src="https://kit.fontawesome.com/979f4e20dd.js" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <link rel="stylesheet" th:href="@{/css/style.css}"/>
  <link rel="stylesheet" th:href="@{/css/product.css}"/>
  <link rel="stylesheet" th:href="@{/css/media.css}" type="text/css"/>
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.2.1/dist/jquery.min.js" type="text/javascript"></script>
  <script src="https://cdn.jsdelivr.net/npm/jquery.maskedinput@1.4.1/src/jquery.maskedinput.min.js" type="text/javascript"></script>
</head>

<body>
<!-- loader start -->
<div th:insert="blocks/loader :: loader"></div>
<!-- loader end -->
	<main id="blur">
  <!-- header start -->
    <div th:insert="blocks/header :: header"></div>

  <div class="link-cards">
    <div class="container" id="main-content">


    <div class="card">
        <img th:src="@{/img/links/razer_chroma_rgb_gaming.png}">
        <div class="content">
          <div class="card-title">
            <h3>
              Мышки
            </h3>
          </div>
        <a class="button" href="mouses">Перейти</a>
        </div>
    </div>

    <div class="card">
        <img th:src="@{/img/links/razer-keyboard-rgb-gaming.png}">
        <div class="content">
          <div class="card-title">
            <h3>
              Клавиатуры
            </h3>
          </div>
        <a class="button" href="keyboards">Перейти</a>
        </div>
    </div>

    <div class="card">
        <img th:src="@{/img/links/566126-8f18k.png}">
        <div class="content">
          <div class="card-title">
            <h3>
              Наушники
            </h3>
          </div>
        <a class="button" href="headphones">Перейти</a>
        </div>
    </div>

    <div class="card">
        <img th:src="@{/img/links/91W-5uKVtNL.png}">
        <div class="content">
          <div class="card-title">
            <h3>
              Акустические системы
            </h3>
          </div>
        <a class="button" href="acoustic-systems">Перейти</a>
        </div>
    </div>

    <div class="card">
        <img th:src="@{/img/links/SteelSeries-QcK-Prism-3.png}">
        <div class="content">
          <div class="card-title">
            <h3>
              Ковры для мышки
            </h3>
          </div>
        <a class="button" href="mouses-carpet">Перейти</a>
        </div>
    </div>

    <div class="card">
        <img th:src="@{/img/links/Oh2TyQp2gvPAHuS8Z4QrY8dt1ZplhhaN.png}">
        <div class="content">
          <div class="card-title">
            <h3>
              Микрофоны
            </h3>
          </div>
        <a class="button" href="microphones">Перейти</a>
        </div>
    </div>

    <div class="card">
        <img th:src="@{/img/links/gamepad_PNG23.png}">
        <div class="content">
          <div class="card-title">
            <h3>
              Манипуляторы
            </h3>
          </div>
        <a class="button" href="manipulators">Перейти</a>
        </div>
    </div>

    <div class="card">
        <img th:src="@{/img/links/GX100-1.png}">
        <div class="content">
          <div class="card-title">
            <h3>
              Комплект
            </h3>
          </div>
        <a class="button" href="periphery-kits">Перейти</a>
        </div>
    </div>

    <div class="card">
        <img th:src="@{/img/links/HTB16h1EPVXXXXXaXpXXq6xXFXXXX.png}">
        <div class="content">
          <div class="card-title">
            <h3>
              Вебкамеры
            </h3>
          </div>
        <a class="button" href="webcams">Перейти</a>
        </div>
    </div>

    <div class="card">
        <img th:src="@{/img/links/HTB1Id_oz7KWBuNjy1zjq6AOypXaO.png}">
        <div class="content">
          <div class="card-title">
            <h3>
              Кронштейны
            </h3>
          </div>
        <a class="button" href="brackets">Перейти</a>
        </div>
    </div>

    <div class="card">
        <img th:src="@{/img/links/46.jpg_q50.png}">
        <div class="content">
          <div class="card-title">
            <h3>
              Инструменты
            </h3>
          </div>
        <a class="button" href="tools">Перейти</a>
        </div>
    </div>

    <div class="card">
        <img th:src="@{/img/links/9377182973982.png}">
        <div class="content">
          <div class="card-title">
            <h3>
              Чистящие средства
            </h3>
          </div>
        <a class="button" href="cleanings">Перейти</a>
        </div>
    </div>

  </div>
  </div>

<!-- footer start -->
  <div th:insert="blocks/footer :: footer"></div>
<!-- footer end -->
    </main>
<!-- modals start -->
    <div th:insert="blocks/modals :: recall"></div>
    <div th:insert="blocks/modals :: settings"></div>
    <div th:insert="blocks/modals :: login"></div>
    <div th:insert="blocks/modals :: register"></div>
    <!-- modals end -->

    <script type="text/javascript" th:src="@{/js/OpenProfileImage.js}"></script>
    <script type="text/javascript" th:src="@{/js/PhoneMask.js}"></script>
    <script type="text/javascript" th:src="@{/js/modals.js}"></script>
</body>

</html>