<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="utf-8" />
    <title th:text="${title}">

    </title>
    <link rel="icon" href="#">
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <script src="https://kit.fontawesome.com/979f4e20dd.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" th:href="@{/css/product.css}"/>
    <link rel="stylesheet" th:href="@{/css/media.css}" type="text/css"/>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.2.1/dist/jquery.min.js" type="text/javascript"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery.maskedinput@1.4.1/src/jquery.maskedinput.min.js" type="text/javascript"></script>
</head>

<body>
<!-- loader start -->
<th:block th:insert="blocks/loader :: loader"></th:block>
<!-- loader end -->
<div class="main-container" id="blur">
    <!-- header start -->
    <th:block th:insert="blocks/header :: navigation"></th:block>
    <div class="main-content">
        <th:block th:insert="blocks/header :: header"></th:block>

        <div class="link-cards">
            <div class="container" id="main-content">


                <div class="card">
                    <div class="card-image" style="--background-img:url('../img/links/wifi-router.png')"></div>
                    <div class="card-text">
                        <h3>
                            Wi-Fi роутеры
                        </h3>
                    </div>
                    <div class="card-stats">
                        <a class="button" href="wifi-routers">Перейти</a>
                    </div>
                </div>

                <div class="card">
                    <div class="card-image" style="--background-img:url('../img/links/DW-POE496M_1500x1221_L_96.png')"></div>
                    <div class="card-text">
                        <h3>
                            Сетевые коммутаторы
                        </h3>
                    </div>
                    <div class="card-stats">
                        <a class="button" href="switches">Перейти</a>
                    </div>
                </div>

                <div class="card">
                    <div class="card-image" style="--background-img:url('../img/links/91.png')"></div>
                    <div class="card-text">
                        <h3>
                            Сетевые карты
                        </h3>
                    </div>
                    <div class="card-stats">
                        <a class="button" href="network-cards">Перейти</a>
                    </div>
                </div>

                <div class="card">
                    <div class="card-image" style="--background-img:url('../img/links/H3ad3d2c0fb974abe8dbc1abd03907a29T.png')"></div>
                    <div class="card-text">
                        <h3>
                            Wi-Fi адаптеры
                        </h3>
                    </div>
                    <div class="card-stats">
                        <a class="button" href="wifi-adapters">Перейти</a>
                    </div>
                </div>

                <div class="card">
                    <div class="card-image" style="--background-img:url('../img/links/I17470_33103627_1692646014.png')"></div>
                    <div class="card-text">
                        <h3>
                            Powerline
                        </h3>
                    </div>
                    <div class="card-stats">
                        <a class="button" href="powerlines">Перейти</a>
                    </div>
                </div>

                <div class="card">
                    <div class="card-image" style="--background-img:url('../img/links/1571220598_88ba7beba16ac4388afb9c4a24c4e559.png')"></div>
                    <div class="card-text">
                        <h3>
                            Для сетей
                        </h3>
                    </div>
                    <div class="card-stats">
                        <a class="button" href="network-cabels">Перейти</a>
                    </div>
                </div>

                <div class="card">
                    <div class="card-image" style="--background-img:url('../img/links/GW.71.5153_01.png')"></div>
                    <div class="card-text">
                        <h3>
                            Антенны
                        </h3>
                    </div>
                    <div class="card-stats">
                        <a class="button" href="antennas">Перейти</a>
                    </div>
                </div>

            </div>
        </div>

        <!-- footer start -->
        <th:block th:insert="blocks/footer :: footer"></th:block>
        <!-- footer end -->
    </div>
</div>
<!-- modals start -->
<th:block th:insert="blocks/modals :: recall"></th:block>
<th:block th:insert="blocks/modals :: settings"></th:block>
<th:block th:insert="blocks/modals :: login"></th:block>
<th:block th:insert="blocks/modals :: register"></th:block>
<!-- modals end -->

<script type="text/javascript" th:src="@{/js/OpenProfileImage.js}"></script>
<script type="text/javascript" th:src="@{/js/PhoneMask.js}"></script>
<script type="text/javascript" th:src="@{/js/modals.js}"></script>
</body>

</html>