<form th:fragment="cpu" class="change" th:action="@{/accessories/cpu}" th:object="${Cpu}" method="POST" enctype="multipart/form-data" > <!--enctype="multipart/form-data"-->
  <input type="text" class="openBox" name="" placeholder="Добавить товар: Процессор" readonly>
  <div class="option">
    <div class="formBox">
      <h2 class="form-heading">Процессор</h2>
      <div class="inputBox">
        <input type="text" name="name" required="">
        <label>Название</label>
        <span></span>
      </div>
      <div class="inputBox">
        <input type="text" name="model" required="">
        <label>Модель</label>
        <span></span>
      </div>
      <div class="inputBox">
        <input type="text" name="productLine" required="">
        <label>Линейка</label>
        <span></span>
      </div>
      <div class="inputBox">
        <input type="text" name="socket" required="">
        <label>Разъем процессора (Socket)</label>
        <span></span>
      </div>
      <div class="inputBox">
        <input type="text" name="compatibility" required="">
        <label>Совместимость</label>
        <span></span>
      </div>
      <div class="inputBox">
        <input type="number"  name="cost" required="">
        <label>Цена</label>
        <span></span>
      </div>
    </div>
    <br>
    <br>
    <div class="formBox">
      <h2 class="form-heading">Характеристики</h2>
      <div class="inputBox">
        <input type="number" min="2" step="2" name="cores" required="">
        <label>Ядра</label>
        <span></span>
      </div>
      <div class="inputBox">
        <input type="number" min="2" step="2" name="threads" required="">
        <label>Потоки</label>
        <span></span>
      </div>
      <div class="inputBox">
        <input type="number" min="2" step="1.1" name="frequency" required="">
        <label>Частота процессора</label>
        <span></span>
      </div>
      <div class="inputBox">
        <input type="number" min="1024" step="1024" name="cacheSize">
        <label>Размер кэша</label>
        <span></span>
      </div>
    </div>
    <div class="formBox" style="display: flex; flex-wrap: wrap;">
      <h2 class="form-heading">Фото:</h2>
      <div class="inputImgBox" title="Фото 1" data-placement="bottom">
        <img th:src="@{/img/admin/prod-icon.png}">
        <input type="file" accept="image/jpg, image/jpeg, image/png" name="photo1" th:enctype="'multipart/form-data'">
      </div>
      <div class="inputImgBox" title="Фото 2" data-placement="bottom">
        <img th:src="@{/img/admin/prod-icon.png}">
        <input type="file" accept="image/jpg, image/jpeg, image/png" name="photo2" th:enctype="'multipart/form-data'">
      </div>
      <div class="inputImgBox" title="Фото 3" data-placement="bottom">
        <img th:src="@{/img/admin/prod-icon.png}">
        <input type="file" accept="image/jpg, image/jpeg, image/png" name="photo3" th:enctype="'multipart/form-data'">
      </div>
      <div class="inputImgBox" title="Фото 4" data-placement="bottom">
        <img th:src="@{/img/admin/prod-icon.png}">
        <input type="file" accept="image/jpg, image/jpeg, image/png" name="photo4" th:enctype="'multipart/form-data'">
      </div>
      <div class="inputImgBox" title="Фото 5" data-placement="bottom">
        <img th:src="@{/img/admin/prod-icon.png}">
        <input type="file" accept="image/jpg, image/jpeg, image/png" name="photo5" th:enctype="'multipart/form-data'">
      </div>
    </div>
    <br>
    <div class="formBox">
      <div class="inputBox">
        <input type="submit" name="" value="Применить">
      </div>
    </div>
  </div>
</form>