<form th:fragment="gpu" class="change" th:action="@{/accessories/gpu}" th:object="${Gpu}" method="POST" enctype="multipart/form-data" > <!--enctype="multipart/form-data"-->
  <input type="text" class="openBox" name="" placeholder="Добавить товар: Видеокарту" readonly>
  <div class="option">
    <div class="formBox">
      <h2 class="form-heading">Видеокарта</h2>
      <div class="inputBox">
        <input type="text" name="name" required="">
        <label>Название</label>
        <span></span>
      </div>
      <div class="inputBox">
        <input type="text" name="model" required="">
        <label>Модель</label>
        <span></span>
      </div>
      <div class="inputBox">
        <input type="text" name="type" required="">
        <label>Тип</label>
        <span></span>
      </div>
      <div class="inputBox">
        <input type="number"  name="cost" required="">
        <label>Цена</label>
        <span></span>
      </div>
    </div>
    <br>
    <br>
    <div class="formBox">
      <h2 class="form-heading">Характеристики</h2>
      <div class="inputBox">
        <input type="number" min="1024" step="1024" name="memorySize" required="">
        <label>Объем памяти (Мб)</label>
        <span></span>
      </div>
      <div class="inputBox">
        <input type="text" name="memoryType" required="">
        <label>Тип памяти</label>
        <span></span>
      </div>
      <div class="inputBox">
        <input type="number" min="0" step="1" name="memoryBus">
        <label>Шина памяти (бит)</label>
        <span></span>
      </div>
      <div class="inputBox">
        <input type="text" name="coreFrequency" required="">
        <label>Частота графического ядра (Мгц)</label>
        <span></span>
      </div>
      <div class="inputBox">
        <input type="number" min="0" step="1" name="videoMemoryFrequency">
        <label>Частота видеопамяти (Мгц)</label>
        <span></span>
      </div>
      <div class="inputBox">
        <input type="text" name="maxResolution">
        <label>Максимальное разрешение </label>
        <span></span>
      </div>
      <div class="inputBox">
        <input type="text" name="processorFamily">
        <label>Семейство процессора  </label>
        <span></span>
      </div>
    </div>
    <div class="formBox">
      <h2 class="form-heading">Подключения и разъемы</h2>
      <div class="inputBox">
        <input type="text" name="gpuInterface" required="">
        <label>Интерфейс</label>
        <span></span>
      </div>
      <div class="inputBox">
        <input type="text" name="connectors" required="">
        <label>Разъемы</label>
        <span></span>
      </div>
    </div>
    <div class="formBox">
      <h2 class="form-heading">Подсветка</h2>
      <div class="inputBox">
        <input type="text" name="lighting" required="">
        <label>Подсветка </label>
        <span></span>
      </div>
    </div>
    <div class="formBox">
      <h2 class="form-heading">Дополнительные характеристики</h2>
      <div class="inputBox">
        <input type="number" min="0" step="1" name="fans">
        <label>Количество вентиляторов </label>
        <span></span>
      </div>
      <div class="inputBox">
        <input type="text" name="standardsSupport">
        <label>Поддержка стандартов </label>
        <span></span>
      </div>
      <div class="inputBox">
        <input type="checkbox" name="cudaSupport">
        <label>Поддержка CUDA</label>
        <span></span>
      </div>
      <div class="inputBox">
        <input type="number" min="0" step="1" name="length">
        <label>Длина видеокарты </label>
        <span></span>
      </div>
      <div class="inputBox">
        <input type="number" min="0" step="1" name="height">
        <label>Высота видеокарты</label>
        <span></span>
      </div>
      <div class="inputBox">
        <input type="number" min="0" step="1" name="slots">
        <label>Кол-во занимаемых слотов</label>
        <span></span>
      </div>
      <div class="inputBox">
        <input type="checkbox" name="additionalPowerSupply">
        <label>Необходимость дополнительного питания</label>
        <span></span>
      </div>
      <div class="inputBox">
        <input type="number" min="0" step="50" name="powerSupplyCapacity">
        <label>Рекомендуемая мощность БП (Вт)</label>
        <span></span>
      </div>
      <div class="inputBox">
        <input type="text" name="supplyConnector" required="">
        <label>Разъем доп. питания </label>
        <span></span>
      </div>
      <div class="inputBox">
        <input type="number" min="0" step="1" name="cudaCores">
        <label>Количество ядер CUDA </label>
        <span></span>
      </div>
    </div>
    <div class="formBox" style="display: flex; flex-wrap: wrap;">
      <h2 class="form-heading">Фото:</h2>
      <div class="inputImgBox" title="Фото 1" data-placement="bottom">
        <img th:src="@{/img/admin/prod-icon.png}">
        <input type="file" accept="image/jpg, image/jpeg, image/png" name="photo1" th:enctype="'multipart/form-data'">
      </div>
      <div class="inputImgBox" title="Фото 2" data-placement="bottom">
        <img th:src="@{/img/admin/prod-icon.png}">
        <input type="file" accept="image/jpg, image/jpeg, image/png" name="photo2" th:enctype="'multipart/form-data'">
      </div>
      <div class="inputImgBox" title="Фото 3" data-placement="bottom">
        <img th:src="@{/img/admin/prod-icon.png}">
        <input type="file" accept="image/jpg, image/jpeg, image/png" name="photo3" th:enctype="'multipart/form-data'">
      </div>
      <div class="inputImgBox" title="Фото 4" data-placement="bottom">
        <img th:src="@{/img/admin/prod-icon.png}">
        <input type="file" accept="image/jpg, image/jpeg, image/png" name="photo4" th:enctype="'multipart/form-data'">
      </div>
      <div class="inputImgBox" title="Фото 5" data-placement="bottom">
        <img th:src="@{/img/admin/prod-icon.png}">
        <input type="file" accept="image/jpg, image/jpeg, image/png" name="photo5" th:enctype="'multipart/form-data'">
      </div>
    </div>
    <br>
    <div class="formBox">
      <div class="inputBox">
        <input type="submit" name="" value="Применить">
      </div>
    </div>
  </div>
</form>