.block
{
    position: relative;
    width: 100%;
    height: auto;
    display: inline-block;
    background: white;
    font-size: 16px;
    margin-top: 70px;
    padding: 30px 15px;
    border-radius: 13px;
}
.block .content
{
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    transform: translateY(-5%);
}
.head
{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 15px;

    padding-block: 10px;
    margin-inline: auto;
    background: linear-gradient(60deg, rgb(251 93 97), rgb(230 41 47));
    transform: translateY(-75%);
    box-shadow: 0 12px 20px -10px rgb(233 64 69 / 28%);
}
.head .heading
{
    font-size: clamp(1.5rem, 5vw + 1rem, 4rem);
    letter-spacing: 2px;
    line-height: 1;
    text-align: center;
    padding: 10px 10px 25px;
    margin: 0;
    color: #FFFFFF;
    border-radius: 30px;
}
.head .inputBox
{
    position: relative;
    display: flex;
    width: 100%;
    max-width: 422px;
    padding: 0 10px;
    font-size: 16px;
}
.head .inputBox input
{
    position: relative;
    background: #FFF;
    border-bottom: 1px solid #000;
    width: calc(100% - 38px);
    padding-block: 10px;
    padding-left: 16px;
    margin-bottom: 1px;
    font-size: 16px;
    text-align: start;
    letter-spacing: 1px;
    color: #000;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    -webkit-box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    -moz-box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -webkit-transition: 0.5s;
}
.head .inputBox label
{
    position: absolute;
    padding: 10px 0;
    margin-left: 4%;
    font-size: 1em;
    color: #000;
    letter-spacing: 1px;
    pointer-events: none;
    transition: .5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -webkit-transition: 0.5s;
}
.head .inputBox input:focus ~ label,
.head .inputBox input:valid ~ label
{
    transform: translateY(-27px);
    color: #fff;
}
.head .inputBox input:hover + label
{
    opacity: 0.5;
}
.head .inputBox a i
{
    position: absolute;
    background: #000;
    border-radius: 30%;
    box-shadow: -3px -3px 5px rgba(0,0,0,0.25),
    3px 3px 5px rgba(0,0,0,0.25);
    -webkit-box-shadow: -3px -3px 5px rgba(0,0,0,0.25),
    3px 3px 5px rgba(0,0,0,0.25);
    -moz-box-shadow: -3px -3px 5px rgba(0,0,0,0.25),
    3px 3px 5px rgba(0,0,0,0.25);
    text-shadow: none;
    padding: 10px;
    top: 0;
    color: #fff;
    margin: 0px 5px;
    font-size: 18px;
    z-index: 1;
    transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -webkit-transition: 0.5s;
}
.head .inputBox a i:hover
{
    color: #DD4141;
    opacity: 0.9;
    border-bottom: 2px solid #DD4141;
    text-shadow: 0 5px 5px rgba(0,0,0,0.5);
    border-radius: 5px;
    background: #fff;
    transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -webkit-transition: 0.5s;
}
.block .content .container
{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.block .content .container .contentBox
{
    padding: 1.8rem 1.5rem;
    width: 20.625rem;
    background: white;
    border-radius: 10px;
    box-shadow: 4px 4px 2px rgb(200 200 200 / 50%);
    transition: box-shadow 0.5s, color 0.5s ease-in-out;
    -moz-transition: box-shadow 0.5s, transform 0.5s ease, color 0.5s ease-in-out;
    -o-transition: box-shadow 0.5s, transform 0.5s ease, color 0.5s ease-in-out;
    -webkit-transition: box-shadow 0.5s, transform 0.5s ease, color 0.5s ease-in-out;
    transition-delay: box-shadow 0.15s;
    -moz-transition-delay: box-shadow 0.15s;
    -o-transition-delay: box-shadow 0.15s;
    -webkit-transition-delay: box-shadow 0.15s;
}
.block .content .container .contentBox .preview
{
    align-items: center;
    position: relative;
    padding: 0 30px;
    max-width: 100%;
    transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -webkit-transition: 0.5s;
}
.block .content .container .contentBox .Name
{
    width: 100%;
    font-family: 'Dosis', sans-serif;
    font-size: 1.2rem;
    font-weight: 600;
    text-align: end;
    text-decoration: none;
    color: #000;
    transition: text-shadow 0.3s;
    -moz-transition: text-shadow 0.3s;
    -o-transition: text-shadow 0.3s;
    -webkit-transition: text-shadow 0.3s;
}
.block .content .container .contentBox .Name:hover
{
    color: var(--primary);
}
.block .content .container .contentBox .serial,
.block .content .container .contentBox .availability
{
    font-size: 1.1rem;
    font-weight: 300;
    padding: 10px;
    color: rgb(0,0,0);
    opacity: 0.8;
}
.block .content .container .contentBox .cost
{
    position: relative;
    display: flex;
    justify-content: space-between;
}
.block .content .container .contentBox .cost .money
{
    font-family: 'Dosis', sans-serif;
    font-weight: 700;
    font-size: 1.4em;
    padding: 10px;
}
.block .content .container .contentBox .cost .icons
{
    position: relative;
    display: flex;
    justify-content: space-between;
}
.block .content .container .contentBox .cost .icons a
{
    text-decoration: none;
    margin: 2px;
    margin-top: 10px;
    white-space: nowrap;
}
.block .content .container .contentBox .cost .icons a i
{
    font-size: 1.4rem;
    text-shadow: none;
    padding: 10px;
    background: transparent;
    transition: transform 0.5s ease-in-out;
    -moz-transition: transform 0.5s ease-in-out;
    -o-transition: transform 0.5s ease-in-out;
    -webkit-transition: transform 0.5s ease-in-out;
}
.block .content .container .contentBox .cost .icons a:nth-child(1) i
{
    color: #000;
    font-size: 1.6em;
    padding: 8px;
    transition: color 500ms ease;
    width: 100%;
    height: 100%;
    border-radius: 30%;
}
.block .content .container .contentBox .cost .icons a:nth-child(2) i
{
    position: relative;
    color: var(--light-shades);
    background: var(--primary-triangular);
    border-radius: 30%;
    transition: background-color 500ms ease;
}
.block .content .container .contentBox .cost .icons a:nth-child(1) i:hover
{
    color: #929292;
}
.block .content .container .contentBox .cost .icons a:nth-child(2) i:hover
{
    background: #111;
    color: var(--light-shades);
}

.link-cards
{
    display: flex;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
}
.link-cards .container
{
    width: 1200px;
    display: grid;
    align-items: end;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
    padding: 50px;
    border-radius: 15px;
}

.card {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 210px 110px 80px;
    grid-template-areas: "image" "text" "stats";

    border-radius: 18px;
    background: white;
    box-shadow: 6px 7px 1px rgb(0 0 0 / 5%);

    text-align: center;
}
.card-image {
    grid-area: image;

    border-top-left-radius: 15px;
    border-top-right-radius: 15px;

    background-color: var(--light-shades);
    background-image: var(--background-img);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    pointer-events: none;
}

.card-text {
    grid-area: text;
    margin: 25px;
}
.card-text .h2 {
    color: grey;
    margin-top: 0px;
    font-size: 28px;
    font-weight: 300;
}
.card-stats {
    grid-area: stats;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;

    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;

    background-color: var(--main-brand);
}
.card-stats .count {
    font-size: 11px;
    font-weight: 300;
    text-transform: uppercase;
    color: #FFFFFF;
}
.card-stats .button {
    font-size: 22px;
    font-weight: 500;
    text-decoration: none;
    color: #ffffff;
}
.card-stats .button:hover {
    color: #121212;
}

.card-second
{
    width: 100%;
    height: 360px;
    backdrop-filter: blur(15px);
    background: rgba(0,0,0,0.25);
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    z-index: 1;
    transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -webkit-transition: 0.5s;
}
.card-second
{
    background: rgba(0,0,0,0.18);
    grid-row: 3;
}
.card-second:nth-child(6)
{
    height: 198px;
}
.card-second:nth-child(7)
{
    height: 160px;
}
.card-second:hover
{
    box-shadow: 0px 15px 15px rgb(0,0,0),
    0 0 25px black;
    -webkit-box-shadow: 0px 15px 15px rgb(0,0,0),
    0 0 25px black;
    -moz-box-shadow: 0px 15px 15px rgb(0,0,0),
    0 0 25px black;
    background: rgba(215, 171, 154, 0.5);
}
.card-second:hover .content .productName
{
    color: #FFF;
}
.card-second a
{
    text-decoration: none;
    color: #83b81a;
    font-size: 1.5em;
    font-weight: 600;
}
.card-second a
{
    color: var(--p-text);
}
.card-second a:hover,
.card-second a:hover i,
.card-second a:hover i label
{
    color: rgba(var(--p-dark-rgb), 1);
}
.card-second .imgBox
{
    width: 100%;
    height: auto;
}
.card-second .imgBox img
{
    position: relative;
    padding: 10px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.card-second .imgBox i
{
    margin-left: 15px;
    font-size: 1.3em;
    background: var(--sb-light);
    border-radius: 50%;
    padding: 10px;
    transition: color 0.5s;
    -moz-transition: color 0.5s;
    -o-transition: color 0.5s;
    -webkit-transition: color 0.5s;
    position: relative;
}
.card-second .imgBox i label
{
    font-size: 0.3em;
    padding: 5px;
    cursor: pointer;
}
.card-second:nth-child(6) .imgBox i
{
    margin-bottom: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
    background: unset;
    border-radius: unset;
    border-bottom: 1px solid var(--sb-light);
    border-bottom-left-radius: 5px;
}
.card-second:nth-child(7) .imgBox i label
{
    position: absolute;
    top: 40px;
    left: 0;
}
.card-second .content
{
    padding: 10px;
}
.card-second .content .productName h3
{
    color: var(--s-light);
    font-size: 1.5em;
    font-weight: 600;
    margin: 5px;
}
.card-second .content .productName h3
{
    margin-left: 0;
    word-wrap: break-word;
    font-size: 1.35em;
}
.footer
{
    position: relative;
}
.footer footer
{
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}

.NavigationContainer
{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
    width: 360px;
    height: auto;
    padding-inline: 5px;
    visibility: visible;
    font-size: 14px;
    transform: translateY(-5%);
}
.FilterList
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 10px;
    padding: 20px;
    margin: 5px;
    width: fit-content;
    height: 4.25em;
    overflow: hidden;
    background: #f5f6f86b;
    box-shadow: 4px 4px 2px rgb(200 200 200 / 50%);
}
.FilterList.active
{
    height: fit-content;
}
.FilterList .FilterName
{
    width: 100%;
    font-size: 1.2em;
    color: var(--primary);
    cursor: pointer;
    user-select: none;
    border-bottom: 2px solid;
    white-space: nowrap;
}
.FilterList .FilterName:after
{
    content: "\f150";
    font-family: "Font Awesome 5 Free";
    margin-inline: 10px;
    cursor: pointer;
}
.FilterList.active .FilterName:after
{
    content: "\f151";
}
.FilterList .filter
{
    position: relative;
    --width: 90px;
    min-width: 60px;
    height: 60px;
    list-style: none;
    text-align: center;
    margin: 5px;
    overflow: visible;
}
.checkContainer
{
    position: relative;
    margin: 10px;
    cursor: pointer;
}
.checkContainer input[type="checkbox"]
{
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
.checkContainer .iconBox
{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 60px;
    min-width: var(--width);
    height: 60px;
    padding-inline: 10px;

    background: #ffffff;
    box-shadow: inset -2px -2px 5px rgb(0 0 0 / 10%),
    inset 3px 3px 5px rgb(255 255 255 / 50%);
    border-radius: 10px;
    pointer-events: none;
}
.checkContainer .iconBox label
{
    font-size: 1rem;
    color: var(--primary);
    user-select: none;
    transition-duration: 0s;
}
.checkContainer input[type="checkbox"]:checked ~ .iconBox
{
    box-shadow: inset -2px -2px 5px rgba(255,255,255,1),
    inset 3px 3px 5px rgba(0,0,0,0.1),
    0 0 1px var(--primary-triangular);
}
.checkContainer input[type="checkbox"]:checked ~ .iconBox label
{
    transform: scale(0.95);
    color: var(--primary-triangular);
}
.NavigationContainer .inputBox-2
{
    position: relative;
    width: 100%;
    height: fit-content;
    padding-inline: 15px;
    margin-block: 5px;
    background: #ffffff;
    border-radius: 5px;
    font-size: 16px;
}
.NavigationContainer .inputBox-2 label
{
    color: #000;
    font-size: 1em;
}
.NavigationContainer .inputBox-2 input
{
    transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -webkit-transition: 0.5s;
    margin: 5px;
    padding: 0.5em;
    background: rgb(221 65 65 / 50%);
    font-size: 1em;
    color: #000;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}
.NavigationContainer .inputBox-2 input[type="submit"]
{
    background: #BD1F2A;
    color: #FFF;
    box-shadow: unset;
}
.NavigationContainer .inputBox-2 input[type="submit"]:hover
{
    background: #111;
    text-shadow: none;
    cursor: pointer;
    color: #FFF;
}
.NavigationContainer .inputBox-2 input[type="submit"]:focus
{
    outline: none;
    animation: none;
    background: var(--primary);
    color: #fff;
}
.NavigationContainer .inputBox-2 input[type="text"]:invalid
{
    color: #9D0015;
    background: var(--primary);
}
.NavigationContainer .inputBox-2 span
{
    position: absolute;
    display: block;
    background: transparent;
    width: calc(100% - 30px);
    height: 2px;
    transform: scale(0);
    transform-origin: right;
    transition: transform 0.5s ease-in-out;
    -moz-transition: transform 0.5s ease-in-out;
    -o-transition: transform 0.5s ease-in-out;
    -webkit-transition: transform 0.5s ease-in-out;
}
.NavigationContainer .inputBox-2 input[type="text"]:invalid ~ span
{
    background: #9D0015;
    box-shadow:
            0 2px 10px #9D0015,
            0 2px 15px #9D0015;
    -webkit-box-shadow:
            0 2px 10px #9D0015,
            0 2px 15px #9D0015;
    -moz-box-shadow:
            0 2px 10px #9D0015,
            0 2px 15px #9D0015;
    transform: scale(1);
    transform-origin: left;
}
.NavigationContainer .nav-opener-filter
{
    display: none;
}

.container-list
{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    gap: 10px;
}

.list-head
{
    position: relative;
    display: flex;
    align-items: center;
    background: white;
    box-shadow: 4px 4px 2px rgb(200 200 200 / 50%);
    border-radius: 5px;
}

.list-head .heading
{
    width: 400px;
    height: 100%;
    padding: 11px;
    transform: translateY(5px);
    color: black;
}

.list-head .imageBox
{
    background: #7b8e4d;
    width: 50px;
    height: 50px;
    margin-left: auto;
}

.list-head .titleBox
{
    display: flex;
    align-items: center;
    width: 60%;
    height: 100%;
    margin-inline: auto;
    color: black;
}

.list-head .buttonBox
{
    width: 50px;
    margin-left: auto;
}

.list-head .buttonBox .expandButton
{
    position: relative;
    width: 18px;
    height: 9px;
    background: var(--primary);
    font-size: 2rem;
    padding-inline: 9px;
    color: white;
    text-decoration: none;
    border-radius: 3px;
    transition: 500ms ease;
}

.list-head .buttonBox .expandButton:hover
{
    opacity: 0.8;
}

@media only screen and (max-width: 1600px)
{
    .block .content .container
    {
        grid-template-columns: repeat(3, 1fr);
    }
    .block .content .container .contentBox .preview
    {
        padding: 0;
    }
}
/*@media only screen (max-width: 1080px)*/
@media (max-width: 959px)
{
    .head {
        transform: translateY(0);
        margin-bottom: 20px;
    }
    .block .content {
        transform: translateY(0);
    }
    .block .content .container
    {
        width: auto;
        grid-template-columns: auto;
        grid-gap: 0.5rem;
    }
    .block .content .container .contentBox:hover
    {
        transform: scale(1);
    }
    .block .NavigationContainer
    {
        width: 100%;
        padding-inline: 20px;
        background: #ebf5fc;
        transform: translateY(0);
    }
    .block .NavigationContainer.active
    {
        visibility: hidden;
    }
    .NavigationContainer .nav-opener-filter
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        visibility: visible;
    }
    .NavigationContainer .nav-opener-filter label
    {
        text-align: center;
        font-size: 2rem;
        color: #000;
    }
    .NavigationContainer .nav-opener-filter i
    {
        font-size: 4em;
        padding: 0.16em 0;
        color: var(--primary);
        border: 1px solid var(--primary);
        width: 1em;
        line-height: 1em;
        margin: auto;
        text-align: center;
    }
    .NavigationContainer.active .nav-opener-filter i
    {
        background: var(--primary);
        color: #FFF;
    }
    .card
    {
        height: auto;
        margin: 25px 0;
    }
    .card .card-stats
    {
        padding: var(--padding);
    }
    .card img,
    .card-second .imgBox img
    {
        width: 100%;
        height: 100%;
    }
    .product .container
    {
        display: block;
        padding: 20px 10px;
    }
    .product .container .content.detailed:nth-last-child(1) .parts
    {
        margin-bottom: 50px;
    }
    .link-cards .container
    {
        width: 1080px;
        display: block;
    }
    .head .inputBox {
        font-size: 14px;
    }
}