@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap');
:root
{
  --primary: #DD4141;
  --primary-triangular: #2A98DE;
  --primary-complementary: #40DE6D;
  --p-light: #67daff;
  --p-dark: #007ac1;
  --secondary: #b3e5fc;
  --s-light: #e6ffff;
  --s-dark: #82b3c9;
  --p-text: #fafafa;
  --s-text: #000000;
  --primary-rgb: 3, 169, 244;
  --p-light-rgb: 103, 218, 255;
  --p-dark-rgb: 0, 122, 193;
  --secondary-rgb: 179, 229, 252;
  --s-light-rgb: 230, 255, 255;
  --s-dark-rgb: 130, 179, 201;
  --p-text-rgb: 250, 250, 250;
  --s-text-rgb: 0, 0, 0;

  --header-color: #220031;
  --header-color-rgb: 34, 0, 49;

  --primary-black: #111;
  --pb-light: #1a1a1a;
  --pb-dark: #141414;

  --secondary-black: #262626;
  --sb-light: #363636;
  --sb-dark: #2b2b2b;

  --primary-black-rgb: 17, 17, 17;
  --pb-light-rgb: 26, 26, 26;
  --pb-dark-rgb: 20, 20, 20;

  --secondary-black-rgb: 38, 38, 38;
  --sb-light-rgb: 54, 54, 54;
  --sb-dark-rgb: 43, 43, 43;

    --light-shades: #F6EFEA;
    --light-accent: #D7AB9A;
    --main-brand: #DC9B85;
    --dark-accent: #A48A8B;
    --dark-shades: #DD4141;

  /* http://colormind.io/bootstrap/ */
  /* https://mycolor.space/?hex=%23DD4141&sub=1 */
}
*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'EB Garamond', serif;
}
html
{
  scroll-behavior: smooth;
}
body
{
  background-color: var(--primary-black);
}
main#blur.active
{
  filter: blur(8px);
  pointer-events: none;
  user-select: none;
}
/* --- banner start --- */
header 
{
  top: 0;
  left: 0;
  width: 100%;
  font-size: 16px;
  padding: 5px 100px;
  background: var(--primary);
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .imgBox
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 110%;
  background: url('../img/bg2.jpg');
  z-index: -1;
}
.skip-nav-link
{
  position: absolute;
  color: #F6EFEA;
  text-decoration: none;
  background: var(--primary);
  transform: translateY(-340%);
  padding: .5rem 1.5rem;
  border-radius: 0.25rem;
  transition: transform 325ms ease-in;
}
.skip-nav-link:focus
{
  transform: translateY(-220%);
}
header .main
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 25px;
  width: 100%;
  height: 100%;
}
header .main .content
{
  display: flex;
  align-items: center;
  grid-column: 1;
  position: relative;
  width: 25rem;
  z-index: 1;
}
header .main .action
{
  display: flex;
  align-items: center;
  position: relative;
  width: 25rem;
  z-index: 1;
}
header .main .content .navbar,
header .main .action .navbar
{
  margin: 0 5px;
  list-style: none;
  white-space: nowrap;
}
header .main .content .navbar .nav-item .nav-link,
header .main .action .navbar .nav-item .nav-link
{
  border: 0 none;
  color: rgba(255,255,255,0.7);
  background-color: transparent;
  text-decoration: none;
  font-weight: 600;
}
header .main .content .navbar .nav-item .nav-link:hover,
header .main .action .navbar .nav-item .nav-link:hover
{
  color: #66615b;
}
header .main .content .navbar .nav-item .nav-link p,
header .main .action .navbar .nav-item .nav-link p
{
  margin: 0px 0px;
  text-transform: uppercase;
  line-height: 1.5rem;
  padding: 1rem 0;
}
header .main .action
{
  justify-content: flex-end;
}
header  .btn
{
  position: relative;
  width: calc(9.375rem * var(--i));
  height: 2.5rem;
  margin: 0.9rem;
}
header .btn .nav-link-btn
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255,255,255,0.05);
  box-shadow: 0 15px 35px rgba(0,0,0,0.2);
  -webkit-box-shadow: 0 15px 35px rgba(0,0,0,0.2);
  -moz-box-shadow: 0 15px 35px rgba(0,0,0,0.2);
  border-top: 1px solid rgba(255,255,255,0.1);
  border-bottom: 1px solid rgba(255,255,255,0.1);
  border-radius: 30px;
  color: #fff;
  z-index: 1;
  font-weight: 400;
  letter-spacing: 1px;
  text-decoration: none;
  overflow: hidden;
  transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition-delay: 0s;
  -moz-transition-delay: 0s;
  -o-transition-delay: 0s;
  -webkit-transition-delay: 0s;
  backdrop-filter: blur(15px);
}
header .btn .nav-link-btn p
{
  margin: 5px 5px;
}
header .btn:hover .nav-link-btn
{
  letter-spacing: 3px;
  transition-delay: 0.5s;
}
header .btn .nav-link-btn::before
{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: linear-gradient(to left, rgba(255,255,255,0.15), transparent);
  transform: skewX(45deg) translateX(0);
  transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -webkit-transition: 0.5s;
}
header .btn:hover .nav-link-btn::before
{
  transform: skewX(45deg) translateX(200%);
}
header .btn::before
{
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -5px;
  width: 30px;
  height: 10px;
  background: #f00;
  border-radius: 10px;
  transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition-delay: 0s;
  -moz-transition-delay: 0s;
  -o-transition-delay: 0s;
  -webkit-transition-delay: 0s;
}
header .btn:hover::before
{
  bottom: 0;
  height: 50%;
  width: 80%;
  border-radius: 30px;
  transition-delay: 0.5s;
}
header .btn::after
{
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -5px;
  width: 30px;
  height: 10px;
  background: #f00;
  border-radius: 10px;
  transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition-delay: 0s;
  -moz-transition-delay: 0s;
  -o-transition-delay: 0s;
  -webkit-transition-delay: 0s;
}
header .btn:hover::after
{
  top: 0;
  height: 50%;
  width: 85%;
  border-radius: 30px;
  transition-delay: 0.5s;
}
header .btn:nth-child(1)::before,
header .btn:nth-child(1)::after
{
  background: #0084FF;
  box-shadow:
            0 0 5px #0084ff,
            0 0 15px #0084ff,
            0 0 30px #0084ff,
            0 0 60px #0084ff;
  -webkit-box-shadow:
            0 0 5px #0084ff,
            0 0 15px #0084ff,
            0 0 30px #0084ff,
            0 0 60px #0084ff;
  -moz-box-shadow:
            0 0 5px #0084ff,
            0 0 15px #0084ff,
            0 0 30px #0084ff,
            0 0 60px #0084ff;
}
header .btn:nth-child(2)::before,
header .btn:nth-child(2)::after
{
  background: #0084FF;
  box-shadow:
            0 0 5px #0084ff,
            0 0 15px #0084ff,
            0 0 30px #0084ff,
            0 0 60px #0084ff;
  -webkit-box-shadow:
            0 0 5px #0084ff,
            0 0 15px #0084ff,
            0 0 30px #0084ff,
            0 0 60px #0084ff;
  -moz-box-shadow:
            0 0 5px #0084ff,
            0 0 15px #0084ff,
            0 0 30px #0084ff,
            0 0 60px #0084ff;
}
header .btn:nth-child(3)::before,
header .btn:nth-child(3)::after
{
  background: #89ADE1;
  box-shadow:
            0 0 5px #89ade1,
            0 0 15px #89ade1,
            0 0 30px #89ade1,
            0 0 60px #89ade1;
  -webkit-box-shadow:
            0 0 5px #89ade1,
            0 0 15px #89ade1,
            0 0 30px #89ade1,
            0 0 60px #89ade1;
  -moz-box-shadow:
            0 0 5px #89ade1,
            0 0 15px #89ade1,
            0 0 30px #89ade1,
            0 0 60px #89ade1;
}
header .logo
{
  color: var(--p-text);
  text-decoration: none;
  font-family: 'Staatliches', cursive;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 700;
  white-space: nowrap;
  padding-right: 5px;
  letter-spacing: 7px;
  margin: 1.25rem auto;
  width: auto;
}
header .logo:hover
{
  filter: invert(100%) contrast(10%);
}
header .navigate
{
  position: relative;
  width: 90%;
  display: flex;
  justify-content: left;
  align-items: center;
  z-index: 1;
}
header .navigate .navbar
{
  padding: 0 10px;
  list-style: none;
}
header .navigate .navbar .nav-item
{
  color: #66615b;
  overflow: hidden;
  padding: 0 5px;
  position: relative;
}
header .navigate .navbar .nav-item .nav-link
{
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
}
header .navigate .navbar .nav-item .nav-link span
{
  position: absolute;
  top: 20px;
  left: 0;
  width: 100%;
  border-bottom: 1px solid var(--primary-triangular);
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  transform: scaleX(0);
  transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  -webkit-transition: 0.2s;
  transform-origin: left;
}
header .navigate .navbar .nav-item .nav-link:hover span
{
  transform: scaleX(1);
  transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -webkit-transition: 0.5s;
}
/* --- banner end --- */

/* --- nav-menu start --- */
.nav-menu
{
  position: relative;
  z-index: 2;
  font-size: 16px;
}
.nav-menu .content
{
  display: flex;
  flex-direction: column;
  /*align-items: center;*/

}
.nav-menu .content .search
{
  background: var(--primary);
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding: 0 30px;
  width: 100%;
  height: 3.125rem;
}
.nav-menu .content .search .inputBox
{
  position: relative;
  width: 330px;
  height: 39px;
}
.nav-menu .content .search .inputBox input
{
  padding: 10px 0;
  padding-left: 8px;
  font-size: 16px;
  color: #FFF;
  background: #a5242478;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  border-bottom: 1px solid #fff;
  border-radius: 10px 10px 0 0;
  transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -webkit-transition: 0.5s;
}
.nav-menu .content .search .inputBox label
{
  position: absolute;
  top: 0;
  left: 8px;
  padding: 10px 0;
  font-size: 16px;
  color: #FFF;
  letter-spacing: 1px;
  font-family: sans-serif;
  pointer-events: none;
  transition: .5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -webkit-transition: 0.5s;
}
.nav-menu .content .search .inputBox input:focus ~ label,
.nav-menu .content .search .inputBox input:valid ~ label
{
  top: -25px;
  left: 8px;
  color: #000;
}
.nav-menu .content .search .inputBox input:hover + label
{
  opacity: 0.5;
}
.nav-menu .content .search .inputBox a
{
  position: absolute;
  top: 0;
}
.nav-menu .content .search .inputBox a i
{
  text-shadow: unset;
  background: #000;
  border-radius: 50%;
  box-shadow: -3px -3px 5px rgba(0,0,0,0.25),
  3px 3px 5px rgba(0,0,0,0.25);
  -webkit-box-shadow: -3px -3px 5px rgba(0,0,0,0.25),
  3px 3px 5px rgba(0,0,0,0.25);
  -moz-box-shadow: -3px -3px 5px rgba(0,0,0,0.25),
  3px 3px 5px rgba(0,0,0,0.25);
  padding: 7px;
  color: #fff;
  margin: 5px 5px;
  font-size: 1.1rem;
  z-index: 1;
  transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -webkit-transition: 0.5s;
  cursor: pointer;
}
.nav-menu .content .search .inputBox a i:hover
{
  color: #DD4141;
  opacity: 0.9;
  text-shadow: 0 5px 5px rgba(0,0,0,0.5);
  border-radius: 5px;
  border-bottom: 1px solid #DD4141;
  background: #fff;
  transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -webkit-transition: 0.5s;
}
.nav-menu .content .search .icons
{
  position: absolute;
  background: transparent;
  top: 0px;
  right: 20px;
}
.nav-menu .content .search .icons a
{
  text-decoration: none;
  margin: 2px;
  color: #FFF;
}
.nav-menu .content .search .icons a i
{
  font-size: 1.5rem;
  font-weight: 600;
  text-shadow: none;
  background: transparent;
  transition: transform 0.5s ease-in-out;
  -moz-transition: transform 0.5s ease-in-out;
  -o-transition: transform 0.5s ease-in-out;
  -webkit-transition: transform 0.5s ease-in-out;
  transition-delay: 0.3s;
  -moz-transition-delay: 0.3s;
-o-transition-delay: 0.3s;
-webkit-transition-delay: 0.3s;
}
.nav-menu .content .search .icons a:nth-child(2) i
{
  font-weight: 300;
}
.nav-menu .content .search .icons a i:hover
{
  color: #DD4141;
  text-shadow: 0 0 5px rgba(0,0,0,0.25),
  0 0 10px rgba(0,0,0,0.25),
  0 0 15px rgba(0,0,0,0.25),
  0 0 20px rgba(0,0,0,0.25);
  transition-delay: 0s;
}
.nav-menu .content .search .icons a:nth-child(1) i:hover
{
  color: var(--primary-triangular);
}
.nav-menu .content .search .icons a:nth-child(2) i:hover
{
  font-weight: 600;
  transition: color 0.5s ease-in-out;
  -moz-transition: color 0.5s ease-in-out;
  -o-transition: color 0.5s ease-in-out;
  -webkit-transition: color 0.5s ease-in-out;
}
.nav-menu .content .search .icons a:nth-child(3) i:hover
{
  color: var(--primary-complementary);
}
.nav-menu .content .catalog
{
  background: #111;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}
.nav-menu .content .catalog h2
{
  margin-left: 15px;
  font-size: 1.3em;
  color: #f9fbe7;
}
.navigation
{
  display: flex;


/*  box-shadow: inset 0 -1px 0 rgba(0,0,0,0.8),
    inset -1px 0 0 rgba(0,0,0,0.8),
    0 0 15px rgba(0,0,0,0.5);
  -webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,0.8),
    inset -1px 0 0 rgba(0,0,0,0.8),
    0 0 15px rgba(0,0,0,0.5);
  -moz-box-shadow: inset 0 -1px 0 rgba(0,0,0,0.8),
    inset -1px 0 0 rgba(0,0,0,0.8),
    0 0 15px rgba(0,0,0,0.5);
  transition: height 0.5s ease-in-out, padding 0.45s ease-in-out, opacity 1s ease-in-out;
  -moz-transition: height 0.5s ease-in-out, padding 0.45s ease-in-out, opacity 1s ease-in-out;
  -o-transition: height 0.5s ease-in-out, padding 0.45s ease-in-out, opacity 1s ease-in-out;
  -webkit-transition: height 0.5s ease-in-out, padding 0.45s ease-in-out, opacity 1s ease-in-out;*/
}
.navigation ul
{
	display: flex;
	justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.navigation li
{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  width: 100px;
  height: 100px;
  margin: 0 15px;
  box-sizing: border-box;
  border-radius: 50%;
  z-index: 2;

  /*transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  -webkit-transition: opacity 0.5s;*/
}
.navigation li a
{
  position: relative;
  display: block;
  text-align: center;
  width: 60px;
  height: 60px;
  line-height: 60px;
  font-size: 30px;
  color: #cdcdcd;
  background: #BD1F2A;
  border-radius: 50%;
  transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -webkit-transition: 0.5s;
}
.navigation li a:before
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: #0081F3;
    transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -webkit-transition: 0.5s;
    transform: scale(0.9);
    z-index: -1;
}
.navigation li a:hover:before
{
    transform: scale(1.1);
    box-shadow: 0 0 15px #0081f3;
}
.navigation li a:hover
{
    color: #0084FF;
    box-shadow: 0 0 15px #0081f3;
    text-shadow: 0 0 5px #0081f3;
}
.nav-menu .detailed-nav
{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	visibility: hidden;
	height: 0px;
	background: var(--pb-dark);
  	overflow: hidden;
  	transition: height 0.25s;
  	-moz-transition: height 0.25s;
  	-o-transition: height 0.25s;
  	-webkit-transition: height 0.25s;
}
.nav-menu .detailed-nav .det
{
	display: flex;
	list-style: none;
  	transition: height 0.25s;
  	-moz-transition: height 0.25s;
  	-o-transition: height 0.25s;
  	-webkit-transition: height 0.25s;
}
.nav-menu .detailed-nav .det li
{
	margin: 0 10px;
}
.nav-menu .detailed-nav .det li a
{
	color: #fff;
	padding: 10px;
	text-decoration: none;
	border: 1px solid #fff;
  transition: color 0.25s, background 0.25s;
  -moz-transition: color 0.25s, background 0.25s;
  -o-transition: color 0.25s, background 0.25s;
  -webkit-transition: color 0.25s, background 0.25s;
}
.nav-menu .detailed-nav .det li a:hover
{
	background: #fff;
	color: #000;
  transition: color 0.25s, background 0.25s;
  -moz-transition: color 0.25s, background 0.25s;
  -o-transition: color 0.25s, background 0.25s;
  -webkit-transition: color 0.25s, background 0.25s;
}
.nav-menu.active .detailed-nav
{
  display: flex;
  visibility: visible;
  height: 75px;
  transition: height 0.5s ease-in-out;
  -moz-transition: height 0.5s ease-in-out;
  -o-transition: height 0.5s ease-in-out;
  -webkit-transition: height 0.5s ease-in-out;
}
/* --- nav-menu end --- */

/* --- about start --- */
.about
{
  position: relative;
  width: 100%;
  display: flex;
}
.about .contentBox
{
  background: #fff;
  padding: 50px 100px;
  width: 100%;
}
.about .contentBox .heading
{
  text-align: center;
  color: #000;
}
.about .contentBox .text
{
  color: #000;
}
/* --- about end --- */

/* --- services start --- */
.services
{
  background: #e7e7e7;
  padding: 50px 100px;
  text-align: center;
  transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -webkit-transition: 0.5s;
  box-shadow: 0 5px 50px black;
  -webkit-box-shadow: 0 5px 50px black;
  -moz-box-shadow: 0 5px 50px black;
}
.services .heading,
.services .text
{
  color: #000;
}
.services .container
{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 60px;
  position: relative;
  transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -webkit-transition: 0.5s;
}
.services .container .serviceBox
{
  position: relative;
  background: #131313;
  border-radius: 5px;
  margin: 5px;
  width: 350px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -webkit-transition: 0.5s;
  transform: scale(.7);
  border-radius: 10px;
}
.services .container .serviceBox .content h2
{
  color: #fff;
}
.services .container:hover .serviceBox
{
  border-radius: 20px;
  filter: blur(7px);
}
.services .container .serviceBox:hover
{
  
  filter: blur(0px);
  transform: scale(1);
}
.services .container .serviceBox:before
{
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #131313;
  z-index: 1;
  transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -webkit-transition: 0.5s;
  border-radius: 10px;
  box-shadow: 0 0 15px 5px rgba(0,0,0,0.5);
  -webkit-box-shadow: 0 0 15px 5px rgba(0,0,0,0.5);
  -moz-box-shadow: 0 0 15px 5px rgba(0,0,0,0.5);
}
.services .container .serviceBox:hover:before
{
  background: #131313;
  transform: scaleY(1.15);
  box-shadow: 0 0 25px 5px rgba(0,0,0,0.5);
  -webkit-box-shadow: 0 0 25px 5px rgba(0,0,0,0.5);
  -moz-box-shadow: 0 0 25px 5px rgba(0,0,0,0.5);
}
.services .container .serviceBox:hover .content
{
  color: #fff;
}
.services .container .serviceBox .content
{
  text-align: center;
  z-index: 2;
  padding: 0 20px;
  transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -webkit-transition: 0.5s;
  color: #000;
}
.services .container .serviceBox i
{
  max-width: 208px;
  transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -webkit-transition: 0.5s;
}
.services .container .serviceBox h2
{
  font-weight: 0,500;
  font-size: 32px;
  letter-spacing: 1px;
  transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -webkit-transition: 0.5s;
}
.services .container .serviceBox i.fas,
.services .container .serviceBox i.fab
{
  font-size: 10em;
  padding: 5px;
  transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -webkit-transition: 0.5s;
}
/* --- services end --- */

/* --- technology start --- */
.technology
{
  background: linear-gradient(0deg, #230f16, #222222);
  width: 100%;
  padding: 50px 100px;
  padding-top: 150px;
  margin-top: -300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.technology .contentBox
{
  max-width: 800px;
}
.technology .imgBox
{
  max-width: 250px;
  margin-top: 40px;
}
.technology .imgBox i,
.technology .imgBox svg
{
  width: 100%;
  padding: 5px;
  display: block;
}
/* --- technology end --- */

/* --- contact start --- */
.contact
{
  position: relative; 
  display: flex;
  justify-content: center;
  padding: 50px;
}
.contact .contact-bg
{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  filter: blur(2px);
  box-shadow: inset 0 0 100px #000;
  -webkit-box-shadow: inset 0 0 100px #000;
  -moz-box-shadow: inset 0 0 100px #000;
  background: url("../img/form.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  pointer-events: none;
}
/* --- contact end --- */

/* --- footer start --- */
.footer
{
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer footer
{
  width: 100%;
  padding: 10px 100px;
  background: black;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10000;
}
.footer ul
{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer ul li
{
  list-style: none;
  align-items: flex-start;
}
.footer ul li a
{
  text-decoration: none;
  display: inline-block;
  margin: 0 15px;
}
.footer ul li a i
{
  color: rgba(155,155,155,1);
  font-size: 30px;
  max-width: 20px;
  transition: .2s;
  -moz-transition: .2s;
  -o-transition: .2s;
  -webkit-transition: .2s;
}
.footer ul li a i:hover
{
  box-shadow: rgba(255,255,255,0.2);
  -webkit-box-shadow: rgba(255,255,255,0.2);
  -moz-box-shadow: rgba(255,255,255,0.2);
  color: rgba(255,255,255,0.8);
  transform: scale(1.5);
}
.footer span
{
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
}
/* --- footer end --- */

/* --- Elements start --- */
i.fa-java
{
  max-width: 208px;
  font-size: 10em;
  padding: 5px;
  background: linear-gradient(to bottom, #fe8c00, #f83600); /* Градиент для текста */
  -webkit-background-clip: text; /* Обрезаем фон по тексту */
  -webkit-text-fill-color: transparent;
}
i.fa-database
{
  background: linear-gradient(to bottom, #00c6ff, #0072ff); /* Градиент для текста */
  -webkit-background-clip: text; /* Обрезаем фон по тексту */
  -webkit-text-fill-color: transparent;
}
i.fa-pencil-ruler
{
  background: linear-gradient(to bottom, #9d50bb, #6e48aa); /* Градиент для текста */
  -webkit-background-clip: text; /* Обрезаем фон по тексту */
  -webkit-text-fill-color: transparent;
}
i.fa-code
{
  background: linear-gradient(to bottom, #000000, #e74c3c); /* Градиент для текста */
  -webkit-background-clip: text; /* Обрезаем фон по тексту */
  -webkit-text-fill-color: transparent;
}
i.fa-html5
{
  max-width: 208px;
  font-size: 10em;
  padding: 5px;
  background: linear-gradient(to bottom, #606c88, #3f4c6b); /* Градиент для текста */
  -webkit-background-clip: text; /* Обрезаем фон по тексту */
  -webkit-text-fill-color: transparent;
}
i.fa-css3-alt
{
  max-width: 208px;
  font-size: 10em;
  padding: 5px;
  background: linear-gradient(to bottom, #B993D6, #8CA6DB); /* Градиент для текста */
  -webkit-background-clip: text; /* Обрезаем фон по тексту */
  -webkit-text-fill-color: transparent;
}
svg.MySql
{
  max-width: 208px;
  height: 140px;
  padding: 5px;
}
.heading
{
  color: #fff;
  font-style: bold;
  font-size: 30px;
  font-weight: 0,600;
  letter-spacing: 1px;
  margin-bottom: 10px;
}
.text
{
  color: #fff;
  font-style: normal;
  font-size: 21px;
  font-weight: 0,300;
  letter-spacing: 1px;
}

/* --- form start --- */
.formBox
{
  width: 400px;
  padding: 40px;
  background: rgba(0,0,0,.8);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0,0,0,0.5);
  -webkit-box-shadow: 0 15px 25px rgba(0,0,0,0.5);
  -moz-box-shadow: 0 15px 25px rgba(0,0,0,0.5);
  border-radius: 10px;
  backdrop-filter: blur(8px);
  transform: scale(0.95);
  transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -webkit-transition: 0.5s;
}
.formBox:hover
{
  transform: scale(1);
}
.formBox .form-heading
{
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
  font-family: sans-serif;
}
.formBox .inputBox
{
  position: relative;
}
.formBox .inputBox label
{
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  letter-spacing: 1px;
  font-family: sans-serif;
  pointer-events: none;
  transition: .5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -webkit-transition: 0.5s;
}
.formBox .inputBox input:focus ~ label,
.formBox .inputBox input:valid ~ label
{
  top: -30px;
  left: 0;
  color: #03a9f4;
}
.formBox .inputBox input
{
  position: relative;
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  letter-spacing: 1px;
  font-family: sans-serif;
  margin-bottom: 30px;
  border: none;
  outline: none;
  background: transparent;
  box-shadow: 0 0 15px rgba(0,0,0,0.3);
  -webkit-box-shadow: 0 0 15px rgba(0,0,0,0.3);
  -moz-box-shadow: 0 0 15px rgba(0,0,0,0.3);
}
.formBox .inputBox textarea:focus ~ label,
.formBox .inputBox textarea:valid ~ label
{
  top: -30px;
  left: 0;
  color: #03a9f4;
}
.formBox .inputBox textarea
{
  max-width: 100%;
  min-width: 100%;
  min-height: 150px;
  max-height: 300px;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  letter-spacing: 1px;
  font-family: sans-serif;
  margin-bottom: 30px;
  border: none;
  outline: none;
  background: transparent;
  box-shadow: 0 0 15px rgba(0,0,0,0.3);
  -webkit-box-shadow: 0 0 15px rgba(0,0,0,0.3);
  -moz-box-shadow: 0 0 15px rgba(0,0,0,0.3);
}
.formBox .inputBox span
{
  position: absolute;
  bottom: 0;
  right: 0;
  display: block;
  background: var(--secondary-black);
  width: 100%;
  height: 2px;
  transform: translateY(-30px);
}
.formBox .inputBox span:before
{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #00b0ff;
  transform: scale(0);
  transform-origin: right;
  transition: transform 0.5s ease-in-out;
  -moz-transition: transform 0.5s ease-in-out;
  -o-transition: transform 0.5s ease-in-out;
  -webkit-transition: transform 0.5s ease-in-out;
}
.formBox .inputBox textarea:hover + label,
.formBox .inputBox input:hover + label
{
  opacity: 0.25;
}

.formBox .inputBox textarea:focus ~ span:before,
.formBox .inputBox textarea:valid ~ span:before,
.formBox .inputBox input:focus ~ span:before,
.formBox .inputBox input:valid ~ span:before
{
  box-shadow: 0 2px 10px #00b0ff,
    0 2px 15px #00b0ff;
  -webkit-box-shadow: 0 2px 10px #00b0ff,
    0 2px 15px #00b0ff;
  -moz-box-shadow: 0 2px 10px #00b0ff,
    0 2px 15px #00b0ff;
  transform: scale(1);
  transform-origin: left;
  transition: transform 0.5s ease-in-out;
  -moz-transition: transform 0.5s ease-in-out;
  -o-transition: transform 0.5s ease-in-out;
  -webkit-transition: transform 0.5s ease-in-out;
}
.formBox .inputBox input:invalid ~ span:before
{
  background: #c70000;
  box-shadow: 0 2px 10px #c70000,
    0 2px 15px #c70000;
  -webkit-box-shadow: 0 2px 10px #c70000,
    0 2px 15px #c70000;
  -moz-box-shadow: 0 2px 10px #c70000,
    0 2px 15px #c70000;
}
.formBox .inputBox input[type="submit"],
.formBox .inputBox button[type="submit"]
{
  background: transparent;
  border: none;
  outline: none;
  color: var(--p-text);
  font-family: sans-serif;
  font-size: 16px;
  background: #DD4141;
  padding: 10px 20px;
  margin: auto;
  cursor: pointer;
  border-radius: 5px;
  overflow: hidden;
  transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -webkit-transition: 0.5s;
}
.inputBox input[type="submit"]:hover,
.inputBox button[type="submit"]:hover
{
  text-shadow: 0 0 10px #000;
  transform: scale(0.98);
  opacity: 0.85;
  animation: hover-shadow 2s linear infinite;
}
label
{
  position: relative;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  letter-spacing: 1px;
  font-family: sans-serif;
  pointer-events: none;
  transition: .5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -webkit-transition: 0.5s;
}
input
{
  position: relative;
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  letter-spacing: 1px;
  font-family: sans-serif;
  margin-bottom: 30px;
  border: none;
  /*border-bottom: 1px solid #03a9f4;*/
  outline: none;
  background: transparent;
  box-shadow: 0 0 20px rgba(0,0,0,0.5);
  -webkit-box-shadow: 0 0 20px rgba(0,0,0,0.5);
  -moz-box-shadow: 0 0 20px rgba(0,0,0,0.5);
}
input[type="submit"],
button[type="submit"]
{
  background: transparent;
  border: none;
  outline: none;
  color: var(--p-text);
  font-family: sans-serif;
  font-size: 16px;
  background: var(--primary);
  padding: 10px 20px;
  margin: auto;
  cursor: pointer;
  border-radius: 5px;
  overflow: hidden;
  transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -webkit-transition: 0.5s;
}
textarea
{
  max-width: 100%;
  min-width: 100%;
  min-height: 150px;
  max-height: 300px;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  letter-spacing: 1px;
  font-family: sans-serif;
  margin-bottom: 30px;
  border: none;
  /*border-bottom: 1px solid #03a9f4;*/
  outline: none;
  background: transparent;
  box-shadow: 0 0 20px rgba(0,0,0,0.5);
  -webkit-box-shadow: 0 0 20px rgba(0,0,0,0.5);
  -moz-box-shadow: 0 0 20px rgba(0,0,0,0.5);
}
textarea:hover,
input:hover
{
  box-shadow: 0 0 5px rgba(0,0,0,0.8),
  inset 0 0 1px rgba(255,255,255,0.8);
  -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.8),
  inset 0 0 1px rgba(255,255,255,0.8);
  -moz-box-shadow: 0 0 5px rgba(0,0,0,0.8),
  inset 0 0 1px rgba(255,255,255,0.8);
}
textarea:focus,
input:focus
{
  box-shadow: 0 0 5px rgba(0,0,0,0.8),
  inset 0 0 1px rgba(255,255,255,0.8);
  -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.8),
  inset 0 0 1px rgba(255,255,255,0.8);
  -moz-box-shadow: 0 0 5px rgba(0,0,0,0.8),
  inset 0 0 1px rgba(255,255,255,0.8);
}
img
{
  pointer-events: none;
}

/* --- modals start --- */
#login,
#register,
#recall,
#settings
{
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -webkit-transition: 0.5s;
  z-index: 1000;
}
#recall
{
  width: 600px;
  padding: 25px 32px;
  background: rgba(0, 0, 0,.8);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0,0,0,0.5);
  -webkit-box-shadow: 0 15px 25px rgba(0,0,0,0.5);
  -moz-box-shadow: 0 15px 25px rgba(0,0,0,0.5);
  border-radius: 10px;
  backdrop-filter: blur(16px);
  font-family: sans-serif;
}
#settings
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    width: 535px;
    padding: 0 32px;
    background: rgba(0, 0, 0,.8);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 15px 25px rgba(0,0,0,0.5);
    -moz-box-shadow: 0 15px 25px rgba(0,0,0,0.5);
    border-radius: 10px;
    backdrop-filter: blur(16px);
    font-family: sans-serif;
}
#login.active,
#register.active,
#recall.active,
#settings.active
{
  top: 50%;
  visibility: visible;
  opacity: 1;
  transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition:  0.5s;
  -webkit-transition: 0.5s;
}
#recall .heading,
#settings .heading
{
  color: #FFF;
  text-align: center;
  font-size: 1.8em;
}
#login .formBox,
#register .formBox
{
  transform: scale(1);
}
#register .formBox
{
  width: 450px;
}
#login .formBox a,
#register .formBox a
{
  padding: 5px;
  margin-top: 50px;
  text-decoration: none;
  color: #fff;
  cursor: pointer;
  font-family: sans-serif;
  display: table;
  font-family: serif;
  border-bottom: 2px solid rgba(0, 176, 255,0.05);
  transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -webkit-transition: 0.5s;
}
#login .formBox a:hover,
#register .formBox a:hover
{
  border-bottom: 2px solid rgba(0, 176, 255,1);
}
#login .close,
#register .close,
#recall .close,
#settings .close
{
  position: absolute;
  right: 20px;
  top: 20px;
  z-index: 1;
  color: #fff;
  cursor: pointer;
}
#login .close:hover,
#register .close:hover,
#recall .close:hover,
#settings .close:hover
{
  opacity: 0.85;
}
#recall .close,
#settings .close
{
  font-size: 1.3em;
}
#settings .imgBox
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    margin-bottom: 25px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}
#settings input[type=file]
{
    outline: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    user-select: none;
    cursor: pointer;
    z-index: 10000;
}
#settings .imgBox img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#settings .imgBox:hover
{
    border: 1px solid #fff;
}
#recall .inputBox,
#settings .inputBox,
#recall .inputBox-2
{
  margin-bottom: 25px;
  position: relative;
}
#settings .inputBox
{
    margin-bottom: 0;
}
#settings .formBox-form .inputBox.admin
{
    width: max-content;
    position: relative;
    margin-bottom: 25px;
    margin-right: auto;
    margin-left: auto;
}
#settings .formBox-form .inputBox.admin .link-btn
{
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}
#recall .inputBox-2 label
#recall .inputBox-2 h2
{
  color: #fff;
  margin-bottom: 5px;
  font-family: sans-serif;
}
#recall .inputBox label,
#settings .inputBox label
{
  position: absolute;
  top: 0;
  left: 4px;
  padding: 10px 0;
  color: #fff;
  font-size: 18px;
  font-family: 'Font Awesome 5 Free';
  letter-spacing: 1px;
  pointer-events: none;
  transition: .5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -webkit-transition: 0.5s;
}
#recall .inputBox input:focus ~ label,
#settings .inputBox input:focus ~ label,
#recall .inputBox input:valid ~ label,
#settings .inputBox input:valid ~ label
{
  top: -30px;
  left: 4px;
  color: #03a9f4;
}
#recall .inputBox input,
#settings .inputBox input
{
  position: relative;
  width: 100%;
  padding: 10px 5px;
  font-size: 16px;
  color: #fff;
  letter-spacing: 1px;
  font-family: sans-serif;
  margin-bottom: 30px;
  border: none;
  outline: none;
  background: transparent;
  box-shadow: 0 0 15px rgba(0,0,0,0.3);
  -webkit-box-shadow: 0 0 15px rgba(0,0,0,0.3);
  -moz-box-shadow: 0 0 15px rgba(0,0,0,0.3);
}
#recall .inputBox textarea:focus ~ label,
#settings .inputBox textarea:focus ~ label,
#recall .inputBox textarea:valid ~ label,
#settings .inputBox textarea:valid ~ label
{
  top: -30px;
  left: 4px;
  color: white;
}
#recall .inputBox textarea,
#settings .inputBox textarea
{
  max-width: 100%;
  min-width: 100%;
  min-height: 150px;
  max-height: 300px;
  padding: 10px 5px;
  font-size: 16px;
  color: #fff;
  letter-spacing: 1px;
  font-family: sans-serif;
  margin-bottom: 30px;
  border: none;
  /*border-bottom: 1px solid #03a9f4;*/
  outline: none;
  background: transparent;
  box-shadow: 0 0 25px rgba(0,0,0,0.30);
  -webkit-box-shadow: 0 0 25px rgba(0,0,0,0.30);
  -moz-box-shadow: 0 0 25px rgba(0,0,0,0.30);
}
#recall .inputBox textarea:hover + label,
#settings .inputBox textarea:hover + label,
#recall .inputBox input:hover + label,
#settings .inputBox input:hover + label
{
  opacity: 0.25;
}
#recall .inputBox input:focus,
#settings .inputBox input:focus
{
  outline: none;
}
#recall .inputBox textarea:focus,
#settings .inputBox textarea:focus
{
  outline: none;
}
#recall .inputBox span,
#settings .inputBox span
{
  position: absolute;
  bottom: 0;
  right: 0;
  display: block;
  background: var(--secondary-black);
  width: 100%;
  height: 2px;
  transform: translateY(-30px);
}
#recall .inputBox span:before,
#settings .inputBox span:before
{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #00b0ff;
  transform: scale(0);
  transform-origin: right;
  transition: transform 0.5s ease-in-out;
  -moz-transition: transform 0.5s ease-in-out;
  -o-transition: transform 0.5s ease-in-out;
  -webkit-transition: transform 0.5s ease-in-out;
}
#recall .inputBox textarea:focus ~ span:before,
#settings .inputBox textarea:focus ~ span:before,
#recall .inputBox textarea:valid ~ span:before,
#settings .inputBox textarea:valid ~ span:before,
#recall .inputBox input:focus ~ span:before,
#settings .inputBox input:focus ~ span:before,
#recall .inputBox input:valid ~ span:before,
#settings .inputBox input:valid ~ span:before
{
  box-shadow: 0 2px 10px #00b0ff,
    0 2px 15px #00b0ff;
  -webkit-box-shadow: 0 2px 10px #00b0ff,
    0 2px 15px #00b0ff;
  -moz-box-shadow: 0 2px 10px #00b0ff,
    0 2px 15px #00b0ff;
  transform: scale(1);
  transform-origin: left;
  transition: transform 0.5s ease-in-out;
  -moz-transition: transform 0.5s ease-in-out;
  -o-transition: transform 0.5s ease-in-out;
  -webkit-transition: transform 0.5s ease-in-out;
}
#recall .inputBox-2 i
{
  visibility: hidden;
  color: var(--primary);
  opacity: 0.25;
  transform: scale(0.8);
  transition: opacity 0.5s, transform 0.8s;
  -moz-transition: opacity 0.5s, transform 0.8s;
  -o-transition: opacity 0.5s, transform 0.8s;
  -webkit-transition: opacity 0.5s, transform 0.8s;
}
#recall .inputBox-2 input
{
  background: #00b0ff;
}
#recall .inputBox-2 input[type="radio"]
{
  display: none;
}
#recall .inputBox-2 label
{
  display: inline-block;
  background: rgba(var(--sb-light-rgb), 0.45);
  cursor: pointer;
  pointer-events: all;
  padding: 0px 15px;
  line-height: 34px;
  border: 1px solid #999;
  border-radius: 6px;
  user-select: none;
}
#recall .inputBox-2 input[type=radio]:checked + label
{
  background: var(--primary);
}
#recall .inputBox-2 input[type=radio]:checked + label + i
{
  visibility: visible;
  transform: scale(1.2);
  opacity: 1;
}
#recall .inputBox-2 label:hover
{
  color: var(--p-text);
}
#recall .inputBox-2 input[type=radio]:disabled + label
{
  background: rgba(var(--p-text-rgb), 0.3);
  color: var(--p-text);
}
#recall .link-btn,
#settings .link-btn
{
  background: rgba(var(--primary-rgb),0.1);
  border: 2px solid var(--primary);
  padding: 15px 35px;
  box-shadow: 0 0 15px black;
  -webkit-box-shadow: 0 0 15px black;
  -moz-box-shadow: 0 0 15px black;
  font-family: sans-serif;
  font-size: 18px;
  color: var(--p-text);
  text-decoration: none;
  transition: background 0.5s;
  -moz-transition: background 0.5s;
  -o-transition: background 0.5s;
  -webkit-transition: background 0.5s;
}
#recall .link-btn:hover,
#settings .link-btn:hover
{
  text-shadow: 0 0 10px #000;
  background: var(--primary);
  animation: hover-shadow 2s linear infinite;
}
/* --- modals end --- */

@keyframes hover-shadow
{
  0%
  {
    box-shadow: 0 0 15px black;
    -webkit-box-shadow: 0 0 15px black;
    -moz-box-shadow: 0 0 15px black;
  }
  50%
  {
    box-shadow: 0 0 20px #DD4141;
    -webkit-box-shadow: 0 0 20px #DD4141;
    -moz-box-shadow: 0 0 20px #DD4141;
  }
  100%
  {
    box-shadow: 0 0 15px black;
    -webkit-box-shadow: 0 0 15px black;
    -moz-box-shadow: 0 0 15px black;
  }
}
/* --- form end --- */

/* --- Elements end --- */

/* --- heart start --- */
.heart 
{
  color: red;
  padding: 5px;
  animation: heathing 1s ease-in-out infinite;
}

@keyframes heathing 
{
  0%,40%,80%,100%
  {
    transform: scale(0.75);
  }

  20%,60%
  {
    transform: scale(1);
  }
}
/* --- heart end --- */

@media (max-width: 1583px)
{
  header .header-menu
  {
    margin: 0;
  }
  .head .inputBox label
  {
    font-size: small;
  }
}
@media (max-width: 959px)
{
  header
  {
    padding: 0;
    display: flex;
    flex-direction: column;
    font-size: 14px;
  }
  header .main
  {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    padding: 0;
    margin: 0;
    font-size: 16px;
  }
  header .btn .nav-link-btn::before
  {
    background: transparent;
  }
  header .navigate
  {
    justify-content: center;
  }
  header .main .action
  {
    justify-content: center;
  }
  header .main .content
  {
    justify-content: center;
    flex-wrap: wrap-reverse;
  }
  header .navigate .navbar
  {
    padding: 10px 0px;
  }
  .navigation li
  {
    opacity: 1;
    width: auto;
    height: 50px;
    display: flex;
    flex-wrap: wrap;
  }
  .navigation li a
  {
    font-size: 18px;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
  }
  .navigation li.active
  {
    z-index: 2;
  }
  .navigation li .navigation
  {
    right: 0;
  }
  .navigation li.active .navigation
  {
    right: -340px;
    top: 0px;
    border: none;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    min-height: auto;
    background: rgba(25,25,25,1);
    opacity: 1;
    z-index: 3;
  }
  .nav-menu
  {
    font-size: 21px;
  }
  .about
  {
    flex-direction: column;
  }
  .about .contentBox
  {
    width: 100%;
    padding: 50px;
    min-height: 400px;
    text-align: center;
  }
  .services
  {
    padding: 50px;
  }
  .services .container
  {
    justify-content: center;
    margin-top: 20px;
  }
  .services .container .serviceBox
  {
    width: 300px;
    height: 350px;
  }
  .technology
  {
    padding: 50px;
    padding-top: 300px;
    flex-direction: column;
  }
  .footer
  {
    text-align: center;
    position: relative;
  }
  .footer ul
  {
    margin-bottom: 20px;
  }
  .footer footer
  {
    flex-direction: column;
    background: black;
  }
  .footer span
  {
    width: 100%;
  }
  #login .formBox,
  #register .formBox
  {
    width: 360px;
  }
  #recall,
  #settings
  {
    width: 90%;
    height: 90%;
    padding: 0 22px;
  }
  #recall .inputBox input,
  #recall .inputBox textarea,
  #settings .inputBox input,
  #settings .inputBox textarea
  {
    margin-bottom: 20px;
  }
  #recall .inputBox span,
  #settings .inputBox span
  {
    transform: translateY(-20px);
  }
  #recall .inputBox input:valid ~ label,
  #recall .inputBox textarea:valid ~ label,
  #settings .inputBox input:valid ~ label,
  #settings .inputBox textarea:valid ~ label
  {
    top: -20px;
  }
  #settings .inputBox label,
  #settings .inputBox input,
  #settings .inputBox textarea,
  #login .formBox .inputBox label,
  #login .formBox .inputBox input,
  #login .formBox .inputBox textarea,
  #register .formBox .inputBox label,
  #register .formBox .inputBox input,
  #register .formBox .inputBox textarea,
  #recall .inputBox label,
  #recall .inputBox input,
  #recall .inputBox textarea
  {
    font-size: 14px;
  }
  #recall .heading,
  #settings .heading
  {
    font-size: 1.2em;
    padding-bottom: 0;
  }
  #recall .heading
  {
    padding-bottom: 25px;
  }
  #recall .inputBox,
  #settings .inputBox
  {
    margin-bottom: 0;
  }
  #recall .inputBox-2
  {
    margin-bottom: 20px;
  }
  #recall .link-btn
  {
    padding: 10px 25px;
  }

}