<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="utf-8" />
    <title th:text="${title}">

    </title>
    <link rel="icon" href="#">
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <script src="https://kit.fontawesome.com/979f4e20dd.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" th:href="@{/css/product.css}"/>
    <link rel="stylesheet" th:href="@{/css/media.css}" type="text/css"/>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.2.1/dist/jquery.min.js" type="text/javascript"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery.maskedinput@1.4.1/src/jquery.maskedinput.min.js" type="text/javascript"></script>
</head>

<body>
<!-- loader start -->
<th:block th:insert="blocks/loader :: loader"></th:block>
<!-- loader end -->
<div class="main-container" id="blur">
    <!-- header start -->
    <th:block th:insert="blocks/header :: navigation"></th:block>
    <div class="main-content">
        <th:block th:insert="blocks/header :: header"></th:block>

        <section class="block" style="background: none">
            <div class="head">
                <h2 class="heading" id="main-content">Конструктор</h2>
            </div>

            <div class="content">
                <div class="container-list">

                    <div class="panel">
                        <div class="list-head">
                            <h2 class="heading">Материнская плата</h2>
                            <div class="imageBox">
                                <img class="preview_selected_product" src="">
                            </div>
                            <div class="titleBox"><p>Пока ещё не добавлен</p></div>
                            <div class="buttonBox">
                                <a class="expandButton" href="javascript: void(0);" onclick="expandList('motherboard', this)">+</a>
                            </div>
                        </div>
                        <div class="bottom-panel" id="motherboard"></div>
                    </div>

                    <div class="panel">

                        <div class="list-head">
                            <h2 class="heading">Процессор</h2>
                            <div class="imageBox">
                                <img class="preview_selected_product" src="">
                            </div>
                            <div class="titleBox"><p>Пока ещё не добавлен</p></div>
                            <div class="buttonBox">
                                <a class="expandButton" href="javascript: void(0);" onclick="expandList('cpu', this)">+</a>
                            </div>
                        </div>
                        <div class="bottom-panel" id="cpu"></div>
                    </div>

                    <div class="panel">
                        <div class="list-head">
                            <h2 class="heading">Система охлаждения</h2>
                            <div class="imageBox">
                                <img class="preview_selected_product" src="">
                            </div>
                            <div class="titleBox"><p>Пока ещё не добавлен</p></div>
                            <div class="buttonBox">
                                <a class="expandButton" href="javascript: void(0);" onclick="expandList('cooling-system', this)">+</a>
                            </div>
                        </div>
                        <div class="bottom-panel" id="cooling-system"></div>
                    </div>

                    <div class="panel">
                        <div class="list-head">
                            <h2 class="heading">Видеокартра</h2>
                            <div class="imageBox">
                                <img class="preview_selected_product" src="">
                            </div>
                            <div class="titleBox"><p>Пока ещё не добавлен</p></div>
                            <div class="buttonBox">
                                <a class="expandButton" href="javascript: void(0);" onclick="expandList('gpu', this)">+</a>
                            </div>
                        </div>
                        <div class="bottom-panel" id="gpu"></div>
                    </div>

                    <div class="panel">
                        <div class="list-head">
                            <h2 class="heading">Модули памяти</h2>
                            <div class="imageBox">
                                <img class="preview_selected_product" src="">
                            </div>
                            <div class="titleBox"><p>Пока ещё не добавлен</p></div>
                            <div class="buttonBox">
                                <a class="expandButton" href="javascript: void(0);" onclick="expandList('ram', this)">+</a>
                            </div>
                        </div>
                        <div class="bottom-panel" id="ram"></div>
                    </div>

                    <div class="panel">
                        <div class="list-head">
                            <h2 class="heading">SSD</h2>
                            <div class="imageBox">
                                <img class="preview_selected_product" src="">
                            </div>
                            <div class="titleBox"><p>Пока ещё не добавлен</p></div>
                            <div class="buttonBox">
                                <a class="expandButton" href="javascript: void(0);" onclick="expandList('ssd', this)">+</a>
                            </div>
                        </div>
                        <div class="bottom-panel" id="ssd"></div>
                    </div>

                    <div class="panel">
                        <div class="list-head">
                            <h2 class="heading">HDD</h2>
                            <div class="imageBox">
                                <img class="preview_selected_product" src="">
                            </div>
                            <div class="titleBox"><p>Пока ещё не добавлен</p></div>
                            <div class="buttonBox">
                                <a class="expandButton" href="javascript: void(0);" onclick="expandList('hdd', this)">+</a>
                            </div>
                        </div>
                        <div class="bottom-panel" id="hdd"></div>
                    </div>

                    <div class="panel">
                        <div class="list-head">
                            <h2 class="heading">Звуковая карта</h2>
                            <div class="imageBox">
                                <img class="preview_selected_product" src="">
                            </div>
                            <div class="titleBox"><p>Пока ещё не добавлен</p></div>
                            <div class="buttonBox">
                                <a class="expandButton" href="javascript: void(0);" onclick="expandList('sound-card', this)">+</a>
                            </div>
                        </div>
                        <div class="bottom-panel" id="sound-card"></div>
                    </div>

                    <div class="panel">
                        <div class="list-head">
                            <h2 class="heading">Блок питания</h2>
                            <div class="imageBox">
                                <img class="preview_selected_product" src="">
                            </div>
                            <div class="titleBox"><p>Пока ещё не добавлен</p></div>
                            <div class="buttonBox">
                                <a class="expandButton" href="javascript: void(0);" onclick="expandList('power-supply', this)">+</a>
                            </div>
                        </div>
                        <div class="bottom-panel" id="power-supply"></div>
                    </div>

                    <div class="panel">
                        <div class="list-head">
                            <h2 class="heading">Корпус</h2>
                            <div class="imageBox">
                                <img class="preview_selected_product" src="">
                            </div>
                            <div class="titleBox">
                                <p>Пока ещё не добавлен</p>
                            </div>
                            <div class="buttonBox">
                                <a class="expandButton" href="javascript: void(0);" onclick="expandList('case', this)">+</a>
                            </div>
                        </div>
                        <div class="bottom-panel" id="case"></div>
                    </div>

                </div>
            </div>
        </section>

        <!-- footer start -->
        <th:block th:insert="blocks/footer :: footer"></th:block>
        <!-- footer end -->
    </div>
</div>
<!-- modals start -->
<th:block th:insert="blocks/modals :: recall"></th:block>
<th:block th:insert="blocks/modals :: settings"></th:block>
<th:block th:insert="blocks/modals :: login"></th:block>
<th:block th:insert="blocks/modals :: register"></th:block>
<!-- modals end -->
<script type="text/javascript" th:src="@{/js/OpenProfileImage.js}"></script>
<script type="text/javascript" th:src="@{/js/PhoneMask.js}"></script>
<script type="text/javascript" th:src="@{/js/modals.js}"></script>

<script>
    function expandList(id, self) {
        setTimeout(toggleFilter, 500);
        setTimeout(setBuyButtonToChoiceFunction, 500, id, self);
        var native_id = "#" + id;
        $(native_id).toggleClass("active");
        $(native_id).load("http://localhost:8088/accessories/"+id+" #product-list-block");
        $(self).attr("onclick", "expandBackUp('"+id+"', this)");
    }
    function expandBackUp(id, self) {
        var native_id = "#" + id;
        $(native_id).toggleClass("active");
        $(native_id).empty();
        $(self).attr("onclick", "expandList('"+id+"', this)");
    }
    function toggleFilter() {
        document.querySelectorAll('.FilterName').forEach(
          el => el.onclick = function() {
            el.parentElement.classList.toggle('active')
          }
        );
    }
</script>
<script>
    function setBuyButtonToChoiceFunction(id, self) {
        document.querySelectorAll('.buy-button').forEach(
            el => el.onclick = function () {
                let this_name = $(this).closest('.contentBox').find('.Name');
                let this_href = this_name.attr('href');
                let this_preview = $(this).closest('.contentBox').find('.preview').attr('src');
                let this_titleBox = $(this).closest('.panel').find('.titleBox');
                let this_productCode = $(this).closest('.contentBox').find('.serial');

                $(this).closest('.panel').find('img').attr('src', this_preview);
                this_titleBox.attr('data-code', this_productCode.text().replace("Код:", ""));
                this_titleBox.empty().prepend($('<a href="'+ this_href +'">'+this_name.text()+'</a>'))
                setTimeout(expandBackUp, 25, id, self);
            }
        )

    }
</script>
</body>

</html>