<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="utf-8" />
    <title th:text="${title}">

    </title>
    <link rel="icon" href="#">
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <script src="https://kit.fontawesome.com/979f4e20dd.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" th:href="@{/css/product.css}"/>
    <link rel="stylesheet" th:href="@{/css/media.css}" type="text/css"/>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.2.1/dist/jquery.min.js" type="text/javascript"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery.maskedinput@1.4.1/src/jquery.maskedinput.min.js" type="text/javascript"></script>
</head>

<body>
<!-- loader start -->
<th:block th:insert="blocks/loader :: loader"></th:block>
<!-- loader end -->
<div class="main-container" id="blur">
    <!-- header start -->
    <th:block th:insert="blocks/header :: navigation"></th:block>
    <div class="main-content">
        <th:block th:insert="blocks/header :: header"></th:block>

        <section class="block" style="background: none">
            <div class="head">
                <h2 class="heading" id="main-content">Конструктор</h2>
            </div>

            <div class="content">
                <div class="container-list">

                    <div class="list-head">
                        <h2 class="heading">Материнская плата</h2>
                        <div class="imageBox">

                        </div>
                        <div class="titleBox">
                            <p>Пока ещё не добавлен</p>
                        </div>
                        <div class="buttonBox">
                            <a class="expandButton" href="javascript: void(0);">+</a>
                        </div>
                    </div>

                    <div class="list-head">
                        <h2 class="heading">Процессор</h2>
                        <div class="imageBox">
                            <i class="fa-solid fa-microchip"></i>
                        </div>
                        <div class="titleBox">
                            <p>Пока ещё не добавлен</p>
                        </div>
                        <div class="buttonBox">
                            <a class="expandButton" href="javascript: void(0);">+</a>
                        </div>
                    </div>

                    <div class="list-head">
                        <h2 class="heading">Термопаста</h2>
                        <div class="imageBox">

                        </div>
                        <div class="titleBox">
                            <p>Пока ещё не добавлен</p>
                        </div>
                        <div class="buttonBox">
                            <a class="expandButton" href="javascript: void(0);">+</a>
                        </div>
                    </div>

                    <div class="list-head">
                        <h2 class="heading">Система охлаждения</h2>
                        <div class="imageBox">

                        </div>
                        <div class="titleBox">
                            <p>Пока ещё не добавлен</p>
                        </div>
                        <div class="buttonBox">
                            <a class="expandButton" href="javascript: void(0);">+</a>
                        </div>
                    </div>

                    <div class="list-head">
                        <h2 class="heading">Видеокартра</h2>
                        <div class="imageBox">

                        </div>
                        <div class="titleBox">
                            <p>Пока ещё не добавлен</p>
                        </div>
                        <div class="buttonBox">
                            <a class="expandButton" href="javascript: void(0);">+</a>
                        </div>
                    </div>

                    <div class="list-head">
                        <h2 class="heading">Модули памяти</h2>
                        <div class="imageBox">
                            <i class="fa-solid fa-memory"></i>
                        </div>
                        <div class="titleBox">
                            <p>Пока ещё не добавлен</p>
                        </div>
                        <div class="buttonBox">
                            <a class="expandButton" href="javascript: void(0);">+</a>
                        </div>
                    </div>

                    <div class="list-head">
                        <h2 class="heading">SSD</h2>
                        <div class="imageBox">

                        </div>
                        <div class="titleBox">
                            <p>Пока ещё не добавлен</p>
                        </div>
                        <div class="buttonBox">
                            <a class="expandButton" href="javascript: void(0);">+</a>
                        </div>
                    </div>

                    <div class="list-head">
                        <h2 class="heading">HDD</h2>
                        <div class="imageBox">

                        </div>
                        <div class="titleBox">
                            <p>Пока ещё не добавлен</p>
                        </div>
                        <div class="buttonBox">
                            <a class="expandButton" href="javascript: void(0);">+</a>
                        </div>
                    </div>

                    <div class="list-head">
                        <h2 class="heading">Звуковая карта</h2>
                        <div class="imageBox">

                        </div>
                        <div class="titleBox">
                            <p>Пока ещё не добавлен</p>
                        </div>
                        <div class="buttonBox">
                            <a class="expandButton" href="javascript: void(0);">+</a>
                        </div>
                    </div>

                    <div class="list-head">
                        <h2 class="heading">Блок питания</h2>
                        <div class="imageBox">

                        </div>
                        <div class="titleBox">
                            <p>Пока ещё не добавлен</p>
                        </div>
                        <div class="buttonBox">
                            <a class="expandButton" href="javascript: void(0);">+</a>
                        </div>
                    </div>

                    <div class="list-head">
                        <h2 class="heading">Корпус</h2>
                        <div class="imageBox">

                        </div>
                        <div class="titleBox">
                            <p>Пока ещё не добавлен</p>
                        </div>
                        <div class="buttonBox">
                            <a class="expandButton" href="javascript: void(0);">+</a>
                        </div>
                    </div>

                </div>
            </div>
        </section>

        <!-- footer start -->
        <th:block th:insert="blocks/footer :: footer"></th:block>
        <!-- footer end -->
    </div>
</div>
<!-- modals start -->
<th:block th:insert="blocks/modals :: recall"></th:block>
<th:block th:insert="blocks/modals :: settings"></th:block>
<th:block th:insert="blocks/modals :: login"></th:block>
<th:block th:insert="blocks/modals :: register"></th:block>
<!-- modals end -->
<script type="text/javascript" th:src="@{/js/OpenProfileImage.js}"></script>
<script type="text/javascript" th:src="@{/js/PhoneMask.js}"></script>
<script type="text/javascript" th:src="@{/js/modals.js}"></script>
</body>

</html>