<!DOCTYPE html>
<html create-session="ifRequired" lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
  <meta charset="utf-8" />
  <title th:text="${title}">

  </title>
  <link rel="icon" href="#">
  <meta name='viewport' content='width=device-width, initial-scale=1.0'>
  <script src="https://kit.fontawesome.com/979f4e20dd.js" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/jquery.maskedinput@1.4.1/src/jquery.maskedinput.min.js" type="text/javascript"></script>
  <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css"/>
  <link rel="stylesheet" th:href="@{/css/product.css}" type="text/css"/>
</head>

<body>
<!-- loader start -->
<th:block th:insert="blocks/loader :: loader"></th:block>
<!-- loader end -->
<div class="main-container" id="blur">
  <!-- header start -->
  <th:block th:insert="blocks/header :: navigation"></th:block>
  <div class="main-content">
    <th:block th:insert="blocks/header :: header"></th:block>

    <!-- services start -->
    <section class="block" style="background: none">
      <div class="head">
        <h2 class="heading" id="main-content">Популярные товары</h2>
      </div>
      <div class="content">
        <div class="container">

          <div class="contentBox">
            <a href="/detailed" class="Name">
              Ноутбук Gigabyte G5 GD (GD-51RU121SD) Black
            </a>
            <h2 class="serial">
              Код: 376645
            </h2>
            <br>
            <img class="preview" th:src="@{/img/gigabyte-g5-gd-gd-51ru121sd-black.png}">
            <br>
            <p class="availability">Есть в наличии</p>
            <div class="cost">
              <p class="money">31 999 грн</p>
              <div class="icons">
                <a href="#">
                  <i class="fas fa-balance-scale"></i>
                </a>
                <a href="#">
                  <i class="fas fa-shopping-cart"></i>
                </a>
              </div>
            </div>
          </div>

          <div class="contentBox">
            <div>
              <a href="#" class="Name">
                SSD-диск Kingston A2000 3D NAND 500GB M.2 (2280 PCI-E) NVMe x4 (SA2000M8/500G)
              </a>
              <h2 class="serial">
                Код: 168884
              </h2>
              <br>
              <img class="preview" th:src="@{/img/links/kingston-a2000-3d-nand-500gb-m2-2280-pci-e-nvme-x4-sa2000m8500g.png}">
              <br>
              <p class="availability">Есть в наличии</p>
              <div class="cost">
                <p class="money">1 899 грн</p>
                <div class="icons">
                  <a href="#">
                    <i class="fas fa-balance-scale"></i>
                  </a>
                  <a href="#">
                    <i class="fas fa-shopping-cart"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>

          <div class="contentBox">
            <div>
              <a href="#" class="Name">
                ОЗУ Samsung SODIMM DDR2 2GB 800Mhz (M470T5663EH3-CF7)
              </a>
              <h2 class="serial">
                Код: 081008
              </h2>
              <br>
              <img class="preview" th:src="@{/img/links/samsung-sodimm-ddr2-2gb-800mhz-m470t5663eh3-cf7.png}">
              <br>
              <p class="availability">Есть в наличии</p>
              <div class="cost">
                <p class="money">309 грн</p>
                <div class="icons">
                  <a href="#">
                    <i class="fas fa-balance-scale"></i>
                  </a>
                  <a href="#">
                    <i class="fas fa-shopping-cart"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>

          <div class="contentBox">
            <div>
              <a href="#" class="Name">
                Жесткий диск Western Digital Red 1TB 16MB 2.5" (WD10JFCX)
              </a>
              <h2 class="serial">
                Код: 017662
              </h2>
              <br>
              <img class="preview" th:src="@{/img/links/western-digital-wd-red-1tb-16mb-25-wd10jfcx.png}">
              <br>
              <p class="availability">Есть в наличии</p>
              <div class="cost">
                <p class="money">2 311 грн</p>
                <div class="icons">
                  <a href="#">
                    <i class="fas fa-balance-scale"></i>
                  </a>
                  <a href="#">
                    <i class="fas fa-shopping-cart"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>

          <div class="contentBox">
            <div>
              <a href="#" class="Name">
                SSD-диск Kingston A2000 3D NAND 500GB M.2 (2280 PCI-E) NVMe x4 (SA2000M8/500G)
              </a>
              <h2 class="serial">
                Код: 168884
              </h2>
              <br>
              <img class="preview" th:src="@{/img/links/kingston-a2000-3d-nand-500gb-m2-2280-pci-e-nvme-x4-sa2000m8500g.png}">
              <br>
              <p class="availability">Есть в наличии</p>
              <div class="cost">
                <p class="money">1 899 грн</p>
                <div class="icons">
                  <a href="#">
                    <i class="fas fa-balance-scale"></i>
                  </a>
                  <a href="#">
                    <i class="fas fa-shopping-cart"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>

          <div class="contentBox">
            <a href="/detailed" class="Name">
              Ноутбук Gigabyte G5 GD (GD-51RU121SD) Black
            </a>
            <h2 class="serial">
              Код: 376645
            </h2>
            <br>
            <img class="preview" th:src="@{/img/gigabyte-g5-gd-gd-51ru121sd-black.png}">
            <br>
            <p class="availability">Есть в наличии</p>
            <div class="cost">
              <p class="money">31 999 грн</p>
              <div class="icons">
                <a href="#">
                  <i class="fas fa-balance-scale"></i>
                </a>
                <a href="#">
                  <i class="fas fa-shopping-cart"></i>
                </a>
              </div>
            </div>
          </div>

          <div class="contentBox">
            <div>
              <a href="#" class="Name">
                Жесткий диск Western Digital Red 1TB 16MB 2.5" (WD10JFCX)
              </a>
              <h2 class="serial">
                Код: 017662
              </h2>
              <br>
              <img class="preview" th:src="@{/img/links/western-digital-wd-red-1tb-16mb-25-wd10jfcx.png}">
              <br>
              <p class="availability">Есть в наличии</p>
              <div class="cost">
                <p class="money">2 311 грн</p>
                <div class="icons">
                  <a href="#">
                    <i class="fas fa-balance-scale"></i>
                  </a>
                  <a href="#">
                    <i class="fas fa-shopping-cart"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>

          <div class="contentBox">
            <div>
              <a href="#" class="Name">
                ОЗУ Samsung SODIMM DDR2 2GB 800Mhz (M470T5663EH3-CF7)
              </a>
              <h2 class="serial">
                Код: 081008
              </h2>
              <br>
              <img class="preview" th:src="@{/img/links/samsung-sodimm-ddr2-2gb-800mhz-m470t5663eh3-cf7.png}">
              <br>
              <p class="availability">Есть в наличии</p>
              <div class="cost">
                <p class="money">309 грн</p>
                <div class="icons">
                  <a href="#">
                    <i class="fas fa-balance-scale"></i>
                  </a>
                  <a href="#">
                    <i class="fas fa-shopping-cart"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </section>
    <!-- services end -->

    <!-- services start -->
    <section class="block" style="background: none">
      <div class="head">
        <h2 class="heading">Каталог</h2>
      </div>
      <th:block th:insert="products/accessories-catalog :: catalog"></th:block>
      <th:block th:insert="products/periphery-catalog :: catalog"></th:block>
      <th:block th:insert="products/office-catalog :: catalog"></th:block>
    </section>
    <!-- services end -->

    <!-- contact start -->
    <div class="contact">
      <div class="formBox">
        <form class="formBox-form">
          <h2 class="form-heading">Связаться с нами</h2>
          <div class="inputBox">
            <input type="text" name="" required="">
            <label>Полное имя</label>
            <span></span>
          </div>
          <div class="inputBox">
            <input type="Email" name="" required="">
            <label>E-mail адрес</label>
            <span></span>
          </div>
          <div class="inputBox">
            <input type="tel" id="Phone2" name="" required="" autocomplete="on">
            <label>Номер телефона</label>
            <span></span>
          </div>
          <div class="inputBox">
            <textarea type="text" required=""></textarea>
            <label>Ваше сообщение</label>
            <span></span>
          </div>
          <div class="inputBox">
            <input type="submit" name="" value="Отправить">
            <!-- <button type="submit" name="" value="">Send</button> -->
          </div>
        </form>
      </div>
    </div>
    <!-- contact end -->


    <!-- footer start -->
    <th:block th:insert="blocks/footer :: footer"></th:block>
    <!-- footer end -->

  </div>
</div>
<!-- modals start -->
<th:block th:insert="blocks/modals :: recall"></th:block>
<th:block th:insert="blocks/modals :: settings"></th:block>
<th:block th:insert="blocks/modals :: login"></th:block>
<th:block th:insert="blocks/modals :: register"></th:block>
<!-- modals end -->
<script type="text/javascript" th:src="@{/js/OpenProfileImage.js}"></script>
<script type="text/javascript" th:src="@{/js/PhoneMask.js}"></script>
<script type="text/javascript" th:src="@{/js/modals.js}"></script>
<script th:if="${param.register}">
  $(document).ready(function(){
    register();
  });
</script>
<script th:if="${param.login}">
  $(document).ready(function(){
    login();
  });
</script>
</body>

</html>