<div th:fragment="cpu" class="filter">
    <div class="nav-opener-filter">
        <label>Фильтры</label>
        <i class="fas fa-caret-down"></i>
    </div>
    <div class="inputBox-2">
        <label for="maxcost">Введите максимальную стоимость</label>
        <input type="text" name="maxcost" value="190000" id="maxcost-label" pattern="[0-9]{0,6}" size="6" maxlength="6">
        <span></span>
    </div>
    <ul class="FilterList">
        <h2 class="FilterName">Объем памяти</h2>
        <li class="filter">
            <label class="checkContainer">
                <input type="checkbox" name="GeForce3080" value="GeForce RTX 3080">
                <span class="iconBox"><label>Более 2 ТБ</label></span>
            </label>
        </li>
    </ul>
    <ul class="FilterList">
        <h2 class="FilterName">Форм-фактор</h2>
        <li class="filter">
            <label class="checkContainer">
                <input type="checkbox" name="GeForce3080" value="GeForce RTX 3080">
                <span class="iconBox"><label>2.5″</label></span>
            </label>
        </li>
    </ul>
    <ul class="FilterList">
        <h2 class="FilterName">Объем памяти</h2>
        <li class="filter">
            <label class="checkContainer">
                <input type="checkbox" name="GeForce3080" value="GeForce RTX 3080">
                <span class="iconBox"><label>Более 2 ТБ</label></span>
            </label>
        </li>
    </ul>
    <ul class="FilterList">
        <h2 class="FilterName">Объем памяти</h2>
        <li class="filter">
            <label class="checkContainer">
                <input type="checkbox" name="GeForce3080" value="GeForce RTX 3080">
                <span class="iconBox"><label>Более 2 ТБ</label></span>
            </label>
        </li>
    </ul>
    <ul class="FilterList">
        <h2 class="FilterName">Объем памяти</h2>
        <li class="filter">
            <label class="checkContainer">
                <input type="checkbox" name="GeForce3080" value="GeForce RTX 3080">
                <span class="iconBox"><label>Более 2 ТБ</label></span>
            </label>
        </li>
    </ul>
    <ul class="FilterList">
        <h2 class="FilterName">Объем памяти</h2>
        <li class="filter">
            <label class="checkContainer">
                <input type="checkbox" name="GeForce3080" value="GeForce RTX 3080">
                <span class="iconBox"><label>Более 2 ТБ</label></span>
            </label>
        </li>
    </ul>
    <ul class="FilterList">
        <h2 class="FilterName">Объем памяти</h2>
        <li class="filter">
            <label class="checkContainer">
                <input type="checkbox" name="GeForce3080" value="GeForce RTX 3080">
                <span class="iconBox"><label>Более 2 ТБ</label></span>
            </label>
        </li>
    </ul>
    <ul class="FilterList">
        <h2 class="FilterName">Объем памяти</h2>
        <li class="filter">
            <label class="checkContainer">
                <input type="checkbox" name="GeForce3080" value="GeForce RTX 3080">
                <span class="iconBox"><label>Более 2 ТБ</label></span>
            </label>
        </li>
    </ul>
    <ul class="FilterList">
        <h2 class="FilterName">Объем памяти</h2>
        <li class="filter">
            <label class="checkContainer">
                <input type="checkbox" name="GeForce3080" value="GeForce RTX 3080">
                <span class="iconBox"><label>Более 2 ТБ</label></span>
            </label>
        </li>
    </ul>
    <ul class="FilterList">
        <h2 class="FilterName">Объем памяти</h2>
        <li class="filter">
            <label class="checkContainer">
                <input type="checkbox" name="GeForce3080" value="GeForce RTX 3080">
                <span class="iconBox"><label>Более 2 ТБ</label></span>
            </label>
        </li>
    </ul>
    <ul class="FilterList">
        <h2 class="FilterName">Объем памяти</h2>
        <li class="filter">
            <label class="checkContainer">
                <input type="checkbox" name="GeForce3080" value="GeForce RTX 3080">
                <span class="iconBox"><label>Более 2 ТБ</label></span>
            </label>
        </li>
    </ul>
    <ul class="FilterList">
        <h2 class="FilterName">Объем памяти</h2>
        <li class="filter">
            <label class="checkContainer">
                <input type="checkbox" name="GeForce3080" value="GeForce RTX 3080">
                <span class="iconBox"><label>Более 2 ТБ</label></span>
            </label>
        </li>
    </ul>
    <ul class="FilterList">
        <h2 class="FilterName">Объем памяти</h2>
        <li class="filter">
            <label class="checkContainer">
                <input type="checkbox" name="GeForce3080" value="GeForce RTX 3080">
                <span class="iconBox"><label>Более 2 ТБ</label></span>
            </label>
        </li>
    </ul>
    <div class="inputBox-2">
        <input type="submit" name="" value="Применить">
    </div>
</div>