<div th:fragment="hdd" class="filter">
  <div class="nav-opener-filter">
    <label>Фильтры</label>
    <i class="fas fa-caret-down"></i>
  </div>
  <div class="nav-filter">
    <div class="f-toggle">
      <h2 class="heading2">Объем памяти</h2>
      <i class="fas fa-chevron-down"></i>
      <span></span>
    </div>
    <div class="choice" style="--i:631px; --display:block">
      <div class="inputBox">
        <input type="checkbox" name="GeForce3080" id="GeForce3080" value="GeForce RTX 3080">
        <label for="GeForce3080">18 ТБ</label>
        <i class="fas fa-check"></i>
      </div>
      <div class="inputBox">
        <input type="checkbox" name="GeForce3070" id="GeForce3070" value="GeForce RTX 3070">
        <label for="GeForce3070">16 ТБ</label>
        <i class="fas fa-check"></i>
      </div>
      <div class="inputBox">
        <input type="checkbox" name="GeForce3070" id="GeForce3070" value="GeForce RTX 3070">
        <label for="GeForce3070">14 ТБ</label>
        <i class="fas fa-check"></i>
      </div>
      <div class="inputBox">
        <input type="checkbox" name="GeForce3070" id="GeForce3070" value="GeForce RTX 3070">
        <label for="GeForce3070">12 ТБ</label>
        <i class="fas fa-check"></i>
      </div>
      <div class="inputBox">
        <input type="checkbox" name="GeForce3070" id="GeForce3070" value="GeForce RTX 3070">
        <label for="GeForce3070">10 ТБ</label>
        <i class="fas fa-check"></i>
      </div>
      <div class="inputBox">
        <input type="checkbox" name="GeForce3070" id="GeForce3070" value="GeForce RTX 3070">
        <label for="GeForce3070">8 ТБ</label>
        <i class="fas fa-check"></i>
      </div>
      <div class="inputBox">
        <input type="checkbox" name="GeForce3070" id="GeForce3070" value="GeForce RTX 3070">
        <label for="GeForce3070">6 ТБ</label>
        <i class="fas fa-check"></i>
      </div>
      <div class="inputBox">
        <input type="checkbox" name="GeForce3070" id="GeForce3070" value="GeForce RTX 3070">
        <label for="GeForce3070">4 ТБ</label>
        <i class="fas fa-check"></i>
      </div>
      <div class="inputBox">
        <input type="checkbox" name="GeForce3070" id="GeForce3070" value="GeForce RTX 3070">
        <label for="GeForce3070">3 ТБ</label>
        <i class="fas fa-check"></i>
      </div>
      <div class="inputBox">
        <input type="checkbox" name="GeForce3070" id="GeForce3070" value="GeForce RTX 3070">
        <label for="GeForce3070">2 ТБ</label>
        <i class="fas fa-check"></i>
      </div>
      <div class="inputBox">
        <input type="checkbox" name="GeForce3070" id="GeForce3070" value="GeForce RTX 3070">
        <label for="GeForce3070">1 ТБ</label>
        <i class="fas fa-check"></i>
      </div>
      <div class="inputBox">
        <input type="checkbox" name="GeForce3070" id="GeForce3070" value="GeForce RTX 3070">
        <label for="GeForce3070">500 ГБ</label>
        <i class="fas fa-check"></i>
      </div>
      <div class="inputBox">
        <input type="checkbox" name="GeForce3070" id="GeForce3070" value="GeForce RTX 3070">
        <label for="GeForce3070">До 256 ГБ</label>
        <i class="fas fa-check"></i>
      </div>
    </div>
  </div>

  <div class="nav-filter">
    <div class="f-toggle">
      <h2 class="heading2">Форм-фактор</h2>
      <i class="fas fa-chevron-down"></i>
      <span></span>
    </div>
    <div class="choice" style="--i:67px; --display:flex">
      <div class="inputBox">
        <input type="checkbox" name="GeForce3080" id="GeForce3080" value="GeForce RTX 3080">
        <label for="GeForce3080">2.5″</label>
        <i class="fas fa-check"></i>
      </div>
      <div class="inputBox">
        <input type="checkbox" name="GeForce3070" id="GeForce3070" value="GeForce RTX 3070">
        <label for="GeForce3070">3.5″</label>
        <i class="fas fa-check"></i>
      </div>
    </div>
  </div>

  <div class="nav-filter">
    <div class="f-toggle">
      <h2 class="heading2">Производитель</h2>
      <i class="fas fa-chevron-down"></i>
      <span></span>
    </div>
    <div class="choice" style="--i:161px; --display:block">
      <div class="inputBox">
        <input type="checkbox" name="GeForce3080" id="GeForce3080" value="GeForce RTX 3080">
        <label for="GeForce3080">Seagate</label>
        <i class="fas fa-check"></i>
      </div>
      <div class="inputBox">
        <input type="checkbox" name="GeForce3070" id="GeForce3070" value="GeForce RTX 3070">
        <label for="GeForce3070">Toshiba</label>
        <i class="fas fa-check"></i>
      </div>
      <div class="inputBox">
        <input type="checkbox" name="GeForce3070" id="GeForce3070" value="GeForce RTX 3070">
        <label for="GeForce3070">Western Digital</label>
        <i class="fas fa-check"></i>
      </div>
    </div>
  </div>

  <div class="nav-filter">
    <div class="f-toggle">
      <h2 class="heading2">Интерфейс</h2>
      <i class="fas fa-chevron-down"></i>
      <span></span>
    </div>
    <div class="choice" style="--i:67px; --display:flex">
      <div class="inputBox">
        <input type="checkbox" name="GeForce3080" id="GeForce3080" value="GeForce RTX 3080">
        <label for="GeForce3080">SATA III</label>
        <i class="fas fa-check"></i>
      </div>
      <div class="inputBox">
        <input type="checkbox" name="GeForce3070" id="GeForce3070" value="GeForce RTX 3070">
        <label for="GeForce3070">SATA</label>
        <i class="fas fa-check"></i>
      </div>
    </div>
  </div>

  <div class="nav-filter">
    <div class="f-toggle">
      <h2 class="heading2">Буфер обмена</h2>
      <i class="fas fa-chevron-down"></i>
      <span></span>
    </div>
    <div class="choice" style="--i:255px; --display:block">
      <div class="inputBox">
        <input type="checkbox" name="GeForce3080" id="GeForce3080" value="GeForce RTX 3080">
        <label for="GeForce3080">256 МБ</label>
        <i class="fas fa-check"></i>
      </div>
      <div class="inputBox">
        <input type="checkbox" name="GeForce3070" id="GeForce3070" value="GeForce RTX 3070">
        <label for="GeForce3070">128 МБ</label>
        <i class="fas fa-check"></i>
      </div>
      <div class="inputBox">
        <input type="checkbox" name="GeForce3060" id="GeForce3060" value="GeForce RTX 3060">
        <label for="GeForce3060">64 МБ</label>
        <i class="fas fa-check"></i>
      </div>
      <div class="inputBox">
        <input type="checkbox" name="GeForce3050Ti" id="GeForce3050Ti" value="GeForce RTX 3050 Ti">
        <label for="GeForce3050Ti">16 МБ</label>
        <i class="fas fa-check"></i>
      </div>
      <div class="inputBox">
        <input type="checkbox" name="GeForce3050" id="GeForce3050" value="GeForce RTX 3050">
        <label for="GeForce3050">8 МБ</label>
        <i class="fas fa-check"></i>
      </div>
    </div>
  </div>

  <div class="nav-filter">
    <div class="f-toggle">
      <h2 class="heading2">Скорость вращения</h2>
      <i class="fas fa-chevron-down"></i>
      <span></span>
    </div>
    <div class="choice" style="--i:161px; --display:block">
      <div class="inputBox">
        <input type="checkbox" name="GeForce3080" id="GeForce3080" value="GeForce RTX 3080">
        <label for="GeForce3080">5400 оборотов/мин</label>
        <i class="fas fa-check"></i>
      </div>
      <div class="inputBox">
        <input type="checkbox" name="GeForce3070" id="GeForce3070" value="GeForce RTX 3070">
        <label for="GeForce3070">5401–7199 оборотов/мин</label>
        <i class="fas fa-check"></i>
      </div>
      <div class="inputBox">
        <input type="checkbox" name="GeForce3060" id="GeForce3060" value="GeForce RTX 3060">
        <label for="GeForce3060">7200 оборотов/мин</label>
        <i class="fas fa-check"></i>
      </div>
    </div>
  </div>

  <div class="nav-filter">
    <div class="f-toggle">
      <h2 class="heading2">Скорость передачи данных</h2>
      <i class="fas fa-chevron-down"></i>
      <span></span>
    </div>
    <div class="choice" style="--i:67px; --display:flex">
      <div class="inputBox">
        <input type="checkbox" name="GeForce3080" id="GeForce3080" value="GeForce RTX 3080">
        <label for="GeForce3080">600 МБ/с</label>
        <i class="fas fa-check"></i>
      </div>
      <div class="inputBox">
        <input type="checkbox" name="GeForce3070" id="GeForce3070" value="GeForce RTX 3070">
        <label for="GeForce3070">До 600 МБ/с</label>
        <i class="fas fa-check"></i>
      </div>
    </div>
  </div>

  <div class="nav-filter">
    <div class="f-toggle">
      <h2 class="heading2">Количество пластин</h2>
      <i class="fas fa-chevron-down"></i>
      <span></span>
    </div>
    <div class="choice" style="--i:208px; --display:block">
      <div class="inputBox">
        <input type="checkbox" name="GeForce3080" id="GeForce3080" value="GeForce RTX 3080">
        <label for="GeForce3080">1 пластина</label>
        <i class="fas fa-check"></i>
      </div>
      <div class="inputBox">
        <input type="checkbox" name="GeForce3070" id="GeForce3070" value="GeForce RTX 3070">
        <label for="GeForce3070">2 пластины</label>
        <i class="fas fa-check"></i>
      </div>
      <div class="inputBox">
        <input type="checkbox" name="GeForce3060" id="GeForce3060" value="GeForce RTX 3060">
        <label for="GeForce3060">4 пластины</label>
        <i class="fas fa-check"></i>
      </div>
      <div class="inputBox">
        <input type="checkbox" name="GeForce3050Ti" id="GeForce3050Ti" value="GeForce RTX 3050 Ti">
        <label for="GeForce3050Ti">5 пластин</label>
        <i class="fas fa-check"></i>
      </div>
    </div>
  </div>

  <div class="nav-filter">
    <div class="f-toggle">
      <h2 class="heading2">Линейка Hitachi</h2>
      <i class="fas fa-chevron-down"></i>
      <span></span>
    </div>
    <div class="choice" style="--i:67px; --display:block">
      <div class="inputBox">
        <input type="checkbox" name="GeForce3080" id="GeForce3080" value="GeForce RTX 3080">
        <label for="GeForce3080">Ultrastar</label>
        <i class="fas fa-check"></i>
      </div>
    </div>
  </div>

  <div class="nav-filter">
    <div class="f-toggle">
      <h2 class="heading2">Линейка Seagate</h2>
      <i class="fas fa-chevron-down"></i>
      <span></span>
    </div>
    <div class="choice" style="--i:255px; --display:block">
      <div class="inputBox">
        <input type="checkbox" name="GeForce3080" id="GeForce3080" value="GeForce RTX 3080">
        <label for="GeForce3080">BarraCuda</label>
        <i class="fas fa-check"></i>
      </div>
      <div class="inputBox">
        <input type="checkbox" name="GeForce3070" id="GeForce3070" value="GeForce RTX 3070">
        <label for="GeForce3070">BarraCuda Pro</label>
        <i class="fas fa-check"></i>
      </div>
      <div class="inputBox">
        <input type="checkbox" name="GeForce3060" id="GeForce3060" value="GeForce RTX 3060">
        <label for="GeForce3060">IronWolf (NAS)</label>
        <i class="fas fa-check"></i>
      </div>
      <div class="inputBox">
        <input type="checkbox" name="GeForce3050Ti" id="GeForce3050Ti" value="GeForce RTX 3050 Ti">
        <label for="GeForce3050Ti">SkyHawk (Secure)</label>
        <i class="fas fa-check"></i>
      </div>
      <div class="inputBox">
        <input type="checkbox" name="GeForce3050" id="GeForce3050" value="GeForce RTX 3050">
        <label for="GeForce3050">IronWolf Pro</label>
        <i class="fas fa-check"></i>
      </div>
    </div>
  </div>

  <div class="nav-filter">
    <div class="f-toggle">
      <h2 class="heading2">Линейка Toshiba</h2>
      <i class="fas fa-chevron-down"></i>
      <span></span>
    </div>
    <div class="choice" style="--i:208px; --display:block">
      <div class="inputBox">
        <input type="checkbox" name="GeForce3080" id="GeForce3080" value="GeForce RTX 3080">
        <label for="GeForce3080">P300</label>
        <i class="fas fa-check"></i>
      </div>
      <div class="inputBox">
        <input type="checkbox" name="GeForce3070" id="GeForce3070" value="GeForce RTX 3070">
        <label for="GeForce3070">L200</label>
        <i class="fas fa-check"></i>
      </div>
      <div class="inputBox">
        <input type="checkbox" name="GeForce3060" id="GeForce3060" value="GeForce RTX 3060">
        <label for="GeForce3060">X300</label>
        <i class="fas fa-check"></i>
      </div>
      <div class="inputBox">
        <input type="checkbox" name="GeForce3050Ti" id="GeForce3050Ti" value="GeForce RTX 3050 Ti">
        <label for="GeForce3050Ti">Enterprise Capacity</label>
        <i class="fas fa-check"></i>
      </div>
    </div>
  </div>

  <div class="nav-filter">
    <div class="f-toggle">
      <h2 class="heading2">Линейка Western Digital</h2>
      <i class="fas fa-chevron-down"></i>
      <span></span>
    </div>
    <div class="choice" style="--i:443px; --display:block">
      <div class="inputBox">
        <input type="checkbox" name="GeForce3080" id="GeForce3080" value="GeForce RTX 3080">
        <label for="GeForce3080">Blue</label>
        <i class="fas fa-check"></i>
      </div>
      <div class="inputBox">
        <input type="checkbox" name="GeForce3070" id="GeForce3070" value="GeForce RTX 3070">
        <label for="GeForce3070">Black</label>
        <i class="fas fa-check"></i>
      </div>
      <div class="inputBox">
        <input type="checkbox" name="GeForce3060" id="GeForce3060" value="GeForce RTX 3060">
        <label for="GeForce3060">Caviar Black</label>
        <i class="fas fa-check"></i>
      </div>
      <div class="inputBox">
        <input type="checkbox" name="GeForce3050Ti" id="GeForce3050Ti" value="GeForce RTX 3050 Ti">
        <label for="GeForce3050Ti">Red</label>
        <i class="fas fa-check"></i>
      </div>
      <div class="inputBox">
        <input type="checkbox" name="GeForce3050" id="GeForce3050" value="GeForce RTX 3050">
        <label for="GeForce3050">Red Pro</label>
        <i class="fas fa-check"></i>
      </div>
      <div class="inputBox">
        <input type="checkbox" name="GeForce2080" id="GeForce2080" value="GeForce RTX 2080">
        <label for="GeForce2080">RED (NAS)</label>
        <i class="fas fa-check"></i>
      </div>
      <div class="inputBox">
        <input type="checkbox" name="GeForce2070" id="GeForce2070" value="GeForce RTX 2070">
        <label for="GeForce2070">RED PRO (NAS)</label>
        <i class="fas fa-check"></i>
      </div>
      <div class="inputBox">
        <input type="checkbox" name="GeForce2060" id="GeForce2060" value="GeForce RTX 2060">
        <label for="GeForce2060">Purple</label>
        <i class="fas fa-check"></i>
      </div>
      <div class="inputBox">
        <input type="checkbox" name="GeForce1650Ti" id="GeForce1650Ti" value="GeForce GTX 1650 Ti">
        <label for="GeForce1650Ti">Purple Surveillance</label>
        <i class="fas fa-check"></i>
      </div>
    </div>
  </div>
  <div class="inputBox-2">
    <input type="submit" name="" value="Применить">
  </div>
</div>