<div th:fragment="ram" class="filter">
    <div class="nav-opener-filter">
        <label>Фильтры</label>
        <i class="fas fa-caret-down"></i>
    </div>
    <div class="nav-filter">
      <div class="f-toggle">
        <h2 class="heading2">Назначение</h2>
        <i class="fas fa-chevron-down"></i>
        <span></span>
      </div>
      <div class="choice" style="--i:67px; --display:flex">
        <div class="inputBox">
          <input type="checkbox" name="GeForce3080" id="GeForce3080" value="GeForce RTX 3080">
          <label for="GeForce3080">Для ПК</label>
          <i class="fas fa-check"></i>
        </div>
        <div class="inputBox">
          <input type="checkbox" name="GeForce3070" id="GeForce3070" value="GeForce RTX 3070">
          <label for="GeForce3070">Для ноутбука</label>
          <i class="fas fa-check"></i>
        </div>
      </div>
    </div>

    <div class="nav-filter">
      <div class="f-toggle">
        <h2 class="heading2">Тип памяти</h2>
        <i class="fas fa-chevron-down"></i>
        <span></span>
      </div>
      <div class="choice" style="--i:302px; --display:block">
        <div class="inputBox">
          <input type="checkbox" name="GeForce3080" id="GeForce3080" value="GeForce RTX 3080">
          <label for="GeForce3080">DDR5</label>
          <i class="fas fa-check"></i>
        </div>
        <div class="inputBox">
          <input type="checkbox" name="GeForce3070" id="GeForce3070" value="GeForce RTX 3070">
          <label for="GeForce3070">DDR4</label>
          <i class="fas fa-check"></i>
        </div>
        <div class="inputBox">
          <input type="checkbox" name="GeForce3070" id="GeForce3070" value="GeForce RTX 3070">
          <label for="GeForce3070">DDR3</label>
          <i class="fas fa-check"></i>
        </div>
        <div class="inputBox">
          <input type="checkbox" name="GeForce3070" id="GeForce3070" value="GeForce RTX 3070">
          <label for="GeForce3070">DDR3L</label>
          <i class="fas fa-check"></i>
        </div>
        <div class="inputBox">
          <input type="checkbox" name="GeForce3070" id="GeForce3070" value="GeForce RTX 3070">
          <label for="GeForce3070">DDR2</label>
          <i class="fas fa-check"></i>
        </div>
        <div class="inputBox">
          <input type="checkbox" name="GeForce3070" id="GeForce3070" value="GeForce RTX 3070">
          <label for="GeForce3070">DDR</label>
          <i class="fas fa-check"></i>
        </div>
      </div>
    </div>

    <div class="nav-filter">
      <div class="f-toggle">
        <h2 class="heading2">Объем памяти</h2>
        <i class="fas fa-chevron-down"></i>
        <span></span>
      </div>
      <div class="choice" style="--i:443px; --display:block">
        <div class="inputBox">
          <input type="checkbox" name="GeForce3080" id="GeForce3080" value="GeForce RTX 3080">
          <label for="GeForce3080">250 ГБ</label>
          <i class="fas fa-check"></i>
        </div>
        <div class="inputBox">
          <input type="checkbox" name="GeForce3070" id="GeForce3070" value="GeForce RTX 3070">
          <label for="GeForce3070">128 ГБ</label>
          <i class="fas fa-check"></i>
        </div>
        <div class="inputBox">
          <input type="checkbox" name="GeForce3070" id="GeForce3070" value="GeForce RTX 3070">
          <label for="GeForce3070">64 ГБ</label>
          <i class="fas fa-check"></i>
        </div>
        <div class="inputBox">
          <input type="checkbox" name="GeForce3070" id="GeForce3070" value="GeForce RTX 3070">
          <label for="GeForce3070">32 ГБ</label>
          <i class="fas fa-check"></i>
        </div>
        <div class="inputBox">
          <input type="checkbox" name="GeForce3070" id="GeForce3070" value="GeForce RTX 3070">
          <label for="GeForce3070">16 ГБ</label>
          <i class="fas fa-check"></i>
        </div>
        <div class="inputBox">
          <input type="checkbox" name="GeForce3070" id="GeForce3070" value="GeForce RTX 3070">
          <label for="GeForce3070">8 ГБ</label>
          <i class="fas fa-check"></i>
        </div>
        <div class="inputBox">
          <input type="checkbox" name="GeForce3070" id="GeForce3070" value="GeForce RTX 3070">
          <label for="GeForce3070">4 ГБ</label>
          <i class="fas fa-check"></i>
        </div>
        <div class="inputBox">
          <input type="checkbox" name="GeForce3070" id="GeForce3070" value="GeForce RTX 3070">
          <label for="GeForce3070">2 ГБ</label>
          <i class="fas fa-check"></i>
        </div>
        <div class="inputBox">
          <input type="checkbox" name="GeForce3070" id="GeForce3070" value="GeForce RTX 3070">
          <label for="GeForce3070">1 ГБ</label>
          <i class="fas fa-check"></i>
        </div>
      </div>
    </div>

    <div class="nav-filter">
      <div class="f-toggle">
        <h2 class="heading2">Количество модулей</h2>
        <i class="fas fa-chevron-down"></i>
        <span></span>
      </div>
      <div class="choice" style="--i:208px; --display:block">
        <div class="inputBox">
          <input type="checkbox" name="GeForce3080" id="GeForce3080" value="GeForce RTX 3080">
          <label for="GeForce3080">8 модулей</label>
          <i class="fas fa-check"></i>
        </div>
        <div class="inputBox">
          <input type="checkbox" name="GeForce3070" id="GeForce3070" value="GeForce RTX 3070">
          <label for="GeForce3070">4 модуля</label>
          <i class="fas fa-check"></i>
        </div>
        <div class="inputBox">
          <input type="checkbox" name="GeForce3070" id="GeForce3070" value="GeForce RTX 3070">
          <label for="GeForce3070">2 модуля</label>
          <i class="fas fa-check"></i>
        </div>
        <div class="inputBox">
          <input type="checkbox" name="GeForce3070" id="GeForce3070" value="GeForce RTX 3070">
          <label for="GeForce3070">1 модуль</label>
          <i class="fas fa-check"></i>
        </div>
      </div>
    </div>

    <div class="nav-filter">
      <div class="f-toggle">
        <h2 class="heading2">Производитель</h2>
        <i class="fas fa-chevron-down"></i>
        <span></span>
      </div>
      <div class="choice" style="--i:725px; --display:block">
        <div class="inputBox">
          <input type="checkbox" name="GeForce3080" id="GeForce3080" value="GeForce RTX 3080">
          <label for="GeForce3080">AMD</label>
          <i class="fas fa-check"></i>
        </div>
        <div class="inputBox">
          <input type="checkbox" name="GeForce3070" id="GeForce3070" value="GeForce RTX 3070">
          <label for="GeForce3070">Corsair</label>
          <i class="fas fa-check"></i>
        </div>
        <div class="inputBox">
          <input type="checkbox" name="GeForce3060" id="GeForce3060" value="GeForce RTX 3060">
          <label for="GeForce3060">Crucial</label>
          <i class="fas fa-check"></i>
        </div>
        <div class="inputBox">
          <input type="checkbox" name="GeForce3050Ti" id="GeForce3050Ti" value="GeForce RTX 3050 Ti">
          <label for="GeForce3050Ti">G.Skill</label>
          <i class="fas fa-check"></i>
        </div>
        <div class="inputBox">
          <input type="checkbox" name="GeForce3050" id="GeForce3050" value="GeForce RTX 3050">
          <label for="GeForce3050">Geil</label>
          <i class="fas fa-check"></i>
        </div>
        <div class="inputBox">
          <input type="checkbox" name="GeForce3050" id="GeForce3050" value="GeForce RTX 3050">
          <label for="GeForce3050">Gigabyte</label>
          <i class="fas fa-check"></i>
        </div>
        <div class="inputBox">
          <input type="checkbox" name="GeForce3050" id="GeForce3050" value="GeForce RTX 3050">
          <label for="GeForce3050">Golden Memory</label>
          <i class="fas fa-check"></i>
        </div>
        <div class="inputBox">
          <input type="checkbox" name="GeForce3050" id="GeForce3050" value="GeForce RTX 3050">
          <label for="GeForce3050">GoodRAM</label>
          <i class="fas fa-check"></i>
        </div>
        <div class="inputBox">
          <input type="checkbox" name="GeForce3050" id="GeForce3050" value="GeForce RTX 3050">
          <label for="GeForce3050">Hynix</label>
          <i class="fas fa-check"></i>
        </div>
        <div class="inputBox">
          <input type="checkbox" name="GeForce3050" id="GeForce3050" value="GeForce RTX 3050">
          <label for="GeForce3050">Kingston Fury (ex. HyperX)</label>
          <i class="fas fa-check"></i>
        </div>
        <div class="inputBox">
          <input type="checkbox" name="GeForce3050" id="GeForce3050" value="GeForce RTX 3050">
          <label for="GeForce3050">Kingston</label>
          <i class="fas fa-check"></i>
        </div>
        <div class="inputBox">
          <input type="checkbox" name="GeForce3050" id="GeForce3050" value="GeForce RTX 3050">
          <label for="GeForce3050">Patriot</label>
          <i class="fas fa-check"></i>
        </div>
        <div class="inputBox">
          <input type="checkbox" name="GeForce3050" id="GeForce3050" value="GeForce RTX 3050">
          <label for="GeForce3050">Patriot Viper</label>
          <i class="fas fa-check"></i>
        </div>
        <div class="inputBox">
          <input type="checkbox" name="GeForce3050" id="GeForce3050" value="GeForce RTX 3050">
          <label for="GeForce3050">Samsung</label>
          <i class="fas fa-check"></i>
        </div>
        <div class="inputBox">
          <input type="checkbox" name="GeForce3050" id="GeForce3050" value="GeForce RTX 3050">
          <label for="GeForce3050">Team</label>
          <i class="fas fa-check"></i>
        </div>
      </div>
    </div>

    <div class="nav-filter">
      <div class="f-toggle">
        <h2 class="heading2">Линейка</h2>
        <i class="fas fa-chevron-down"></i>
        <span></span>
      </div>
      <div class="choice" style="--i:866px; --display:block">
        <div class="inputBox">
          <input type="checkbox" name="GeForce3080" id="GeForce3080" value="GeForce RTX 3080">
          <label for="GeForce3080">Aorus</label>
          <i class="fas fa-check"></i>
        </div>
        <div class="inputBox">
          <input type="checkbox" name="GeForce3070" id="GeForce3070" value="GeForce RTX 3070">
          <label for="GeForce3070">Corsair Dominator</label>
          <i class="fas fa-check"></i>
        </div>
        <div class="inputBox">
          <input type="checkbox" name="GeForce3070" id="GeForce3070" value="GeForce RTX 3070">
          <label for="GeForce3070">Corsair Value</label>
          <i class="fas fa-check"></i>
        </div>
        <div class="inputBox">
          <input type="checkbox" name="GeForce3070" id="GeForce3070" value="GeForce RTX 3070">
          <label for="GeForce3070">Corsair Vengeance</label>
          <i class="fas fa-check"></i>
        </div>
        <div class="inputBox">
          <input type="checkbox" name="GeForce3070" id="GeForce3070" value="GeForce RTX 3070">
          <label for="GeForce3070">Crucial Ballistix</label>
          <i class="fas fa-check"></i>
        </div>
        <div class="inputBox">
          <input type="checkbox" name="GeForce3070" id="GeForce3070" value="GeForce RTX 3070">
          <label for="GeForce3070">G.Skill Trident</label>
          <i class="fas fa-check"></i>
        </div>
        <div class="inputBox">
          <input type="checkbox" name="GeForce3070" id="GeForce3070" value="GeForce RTX 3070">
          <label for="GeForce3070">G.Skill Aegis</label>
          <i class="fas fa-check"></i>
        </div>
        <div class="inputBox">
          <input type="checkbox" name="GeForce3070" id="GeForce3070" value="GeForce RTX 3070">
          <label for="GeForce3070">G.Skill Flare</label>
          <i class="fas fa-check"></i>
        </div>
        <div class="inputBox">
          <input type="checkbox" name="GeForce3070" id="GeForce3070" value="GeForce RTX 3070">
          <label for="GeForce3070">G.Skill Ripjaws</label>
          <i class="fas fa-check"></i>
        </div>
        <div class="inputBox">
          <input type="checkbox" name="GeForce3070" id="GeForce3070" value="GeForce RTX 3070">
          <label for="GeForce3070">Kingston Fury</label>
          <i class="fas fa-check"></i>
        </div>
        <div class="inputBox">
          <input type="checkbox" name="GeForce3070" id="GeForce3070" value="GeForce RTX 3070">
          <label for="GeForce3070">HyperX Predator</label>
          <i class="fas fa-check"></i>
        </div>
        <div class="inputBox">
          <input type="checkbox" name="GeForce3070" id="GeForce3070" value="GeForce RTX 3070">
          <label for="GeForce3070">HyperX Impact</label>
          <i class="fas fa-check"></i>
        </div>
        <div class="inputBox">
          <input type="checkbox" name="GeForce3070" id="GeForce3070" value="GeForce RTX 3070">
          <label for="GeForce3070">Patriot Sniper</label>
          <i class="fas fa-check"></i>
        </div>
        <div class="inputBox">
          <input type="checkbox" name="GeForce3070" id="GeForce3070" value="GeForce RTX 3070">
          <label for="GeForce3070">Patriot Viper</label>
          <i class="fas fa-check"></i>
        </div>
        <div class="inputBox">
          <input type="checkbox" name="GeForce3070" id="GeForce3070" value="GeForce RTX 3070">
          <label for="GeForce3070">Team Elite</label>
          <i class="fas fa-check"></i>
        </div>
        <div class="inputBox">
          <input type="checkbox" name="GeForce3070" id="GeForce3070" value="GeForce RTX 3070">
          <label for="GeForce3070">Team T-Create</label>
          <i class="fas fa-check"></i>
        </div>
        <div class="inputBox">
          <input type="checkbox" name="GeForce3070" id="GeForce3070" value="GeForce RTX 3070">
          <label for="GeForce3070">Team T-Force</label>
          <i class="fas fa-check"></i>
        </div>
        <div class="inputBox">
          <input type="checkbox" name="GeForce3070" id="GeForce3070" value="GeForce RTX 3070">
          <label for="GeForce3070">Transcend Jetram</label>
          <i class="fas fa-check"></i>
        </div>
      </div>
    </div>

    <div class="nav-filter">
      <div class="f-toggle">
        <h2 class="heading2">Частота памяти</h2>
        <i class="fas fa-chevron-down"></i>
        <span></span>
      </div>
      <div class="choice" style="--i:772px; --display:block">
        <div class="inputBox">
          <input type="checkbox" name="GeForce3080" id="GeForce3080" value="GeForce RTX 3080">
          <label for="GeForce3080">400 МГц</label>
          <i class="fas fa-check"></i>
        </div>
        <div class="inputBox">
          <input type="checkbox" name="GeForce3070" id="GeForce3070" value="GeForce RTX 3070">
          <label for="GeForce3070">800 МГц</label>
          <i class="fas fa-check"></i>
        </div>
        <div class="inputBox">
          <input type="checkbox" name="GeForce3060" id="GeForce3060" value="GeForce RTX 3060">
          <label for="GeForce3060">1333 МГц</label>
          <i class="fas fa-check"></i>
        </div>
        <div class="inputBox">
          <input type="checkbox" name="GeForce3060" id="GeForce3060" value="GeForce RTX 3060">
          <label for="GeForce3060">1600 МГц</label>
          <i class="fas fa-check"></i>
        </div>
        <div class="inputBox">
          <input type="checkbox" name="GeForce3060" id="GeForce3060" value="GeForce RTX 3060">
          <label for="GeForce3060">1866 МГц</label>
          <i class="fas fa-check"></i>
        </div>
        <div class="inputBox">
          <input type="checkbox" name="GeForce3060" id="GeForce3060" value="GeForce RTX 3060">
          <label for="GeForce3060">2133 МГц</label>
          <i class="fas fa-check"></i>
        </div>
        <div class="inputBox">
          <input type="checkbox" name="GeForce3060" id="GeForce3060" value="GeForce RTX 3060">
          <label for="GeForce3060">2400 МГц</label>
          <i class="fas fa-check"></i>
        </div>
        <div class="inputBox">
          <input type="checkbox" name="GeForce3060" id="GeForce3060" value="GeForce RTX 3060">
          <label for="GeForce3060">2666 МГц</label>
          <i class="fas fa-check"></i>
        </div>
        <div class="inputBox">
          <input type="checkbox" name="GeForce3060" id="GeForce3060" value="GeForce RTX 3060">
          <label for="GeForce3060">2933 МГц</label>
          <i class="fas fa-check"></i>
        </div>
        <div class="inputBox">
          <input type="checkbox" name="GeForce3060" id="GeForce3060" value="GeForce RTX 3060">
          <label for="GeForce3060">3000 МГц</label>
          <i class="fas fa-check"></i>
        </div>
        <div class="inputBox">
          <input type="checkbox" name="GeForce3060" id="GeForce3060" value="GeForce RTX 3060">
          <label for="GeForce3060">3200 МГц</label>
          <i class="fas fa-check"></i>
        </div>
        <div class="inputBox">
          <input type="checkbox" name="GeForce3060" id="GeForce3060" value="GeForce RTX 3060">
          <label for="GeForce3060">3333 МГц</label>
          <i class="fas fa-check"></i>
        </div>
        <div class="inputBox">
          <input type="checkbox" name="GeForce3060" id="GeForce3060" value="GeForce RTX 3060">
          <label for="GeForce3060">3600 МГц</label>
          <i class="fas fa-check"></i>
        </div>
        <div class="inputBox">
          <input type="checkbox" name="GeForce3060" id="GeForce3060" value="GeForce RTX 3060">
          <label for="GeForce3060">3733 МГц</label>
          <i class="fas fa-check"></i>
        </div>
        <div class="inputBox">
          <input type="checkbox" name="GeForce3060" id="GeForce3060" value="GeForce RTX 3060">
          <label for="GeForce3060">4000 МГц</label>
          <i class="fas fa-check"></i>
        </div>
        <div class="inputBox">
          <input type="checkbox" name="GeForce3060" id="GeForce3060" value="GeForce RTX 3060">
          <label for="GeForce3060">Более 4266 МГц</label>
          <i class="fas fa-check"></i>
        </div>
      </div>
    </div>

    <div class="nav-filter">
      <div class="f-toggle">
        <h2 class="heading2">CAS Latency (CL)</h2>
        <i class="fas fa-chevron-down"></i>
        <span></span>
      </div>
      <div class="choice" style="--i:537px; --display:block">
        <div class="inputBox">
          <input type="checkbox" name="GeForce3080" id="GeForce3080" value="GeForce RTX 3080">
          <label for="GeForce3080">CL6</label>
          <i class="fas fa-check"></i>
        </div>
        <div class="inputBox">
          <input type="checkbox" name="GeForce3070" id="GeForce3070" value="GeForce RTX 3070">
          <label for="GeForce3070">CL9</label>
          <i class="fas fa-check"></i>
        </div>
        <div class="inputBox">
          <input type="checkbox" name="GeForce3070" id="GeForce3070" value="GeForce RTX 3070">
          <label for="GeForce3070">CL10</label>
          <i class="fas fa-check"></i>
        </div>
        <div class="inputBox">
          <input type="checkbox" name="GeForce3070" id="GeForce3070" value="GeForce RTX 3070">
          <label for="GeForce3070">CL11</label>
          <i class="fas fa-check"></i>
        </div>
        <div class="inputBox">
          <input type="checkbox" name="GeForce3070" id="GeForce3070" value="GeForce RTX 3070">
          <label for="GeForce3070">CL13</label>
          <i class="fas fa-check"></i>
        </div>
        <div class="inputBox">
          <input type="checkbox" name="GeForce3070" id="GeForce3070" value="GeForce RTX 3070">
          <label for="GeForce3070">CL14</label>
          <i class="fas fa-check"></i>
        </div>
        <div class="inputBox">
          <input type="checkbox" name="GeForce3070" id="GeForce3070" value="GeForce RTX 3070">
          <label for="GeForce3070">CL15</label>
          <i class="fas fa-check"></i>
        </div>
        <div class="inputBox">
          <input type="checkbox" name="GeForce3070" id="GeForce3070" value="GeForce RTX 3070">
          <label for="GeForce3070">CL16</label>
          <i class="fas fa-check"></i>
        </div>
        <div class="inputBox">
          <input type="checkbox" name="GeForce3070" id="GeForce3070" value="GeForce RTX 3070">
          <label for="GeForce3070">CL17</label>
          <i class="fas fa-check"></i>
        </div>
        <div class="inputBox">
          <input type="checkbox" name="GeForce3070" id="GeForce3070" value="GeForce RTX 3070">
          <label for="GeForce3070">CL18</label>
          <i class="fas fa-check"></i>
        </div>
        <div class="inputBox">
          <input type="checkbox" name="GeForce3070" id="GeForce3070" value="GeForce RTX 3070">
          <label for="GeForce3070">CL19</label>
          <i class="fas fa-check"></i>
        </div>
      </div>
    </div>

    <div class="inputBox-2">
      <input type="submit" name="" value="Применить">
    </div>
    </div>