<div th:fragment="ram" class="NavigationContainer">
    <div class="nav-opener-filter">
        <label>Фильтры</label>
        <i class="fas fa-caret-down"></i>
    </div>
    <div class="inputBox-2">
        <label for="maxcost">Введите максимальную стоимость</label>
        <input type="text" name="maxcost" value="190000" id="maxcost-label" pattern="[0-9]{0,6}" size="6" maxlength="6">
        <span></span>
    </div>
    <ul class="FilterList">
        <h2 class="FilterName">Назначение</h2>
        <li class="filter">
            <input type="checkbox" name="GeForce3080" value="GeForce RTX 3080">
            <span class="iconBox"><label>Для ПК</label></span>
        </li>
        <li class="filter">
            <input type="checkbox" name="GeForce3070" value="GeForce RTX 3070">
            <span class="iconBox"><label>Для ноутбука</label></span>
        </li>
    </ul>
    <ul class="FilterList">
        <h2 class="FilterName">Тип памяти</h2>
        <li class="filter">
            <input type="checkbox" name="GeForce3080" value="GeForce RTX 3080">
            <span class="iconBox"><label>DDR5</label></span>
        </li>
        <li class="filter">
            <input type="checkbox" name="GeForce3070" value="GeForce RTX 3070">
            <span class="iconBox"><label>DDR4</label></span>
        </li>
        <li class="filter">
            <input type="checkbox" name="GeForce3070" value="GeForce RTX 3070">
            <span class="iconBox"><label>DDR3</label></span>
        </li>
        <li class="filter">
            <input type="checkbox" name="GeForce3070" value="GeForce RTX 3070">
            <span class="iconBox"><label>DDR3L</label></span>
        </li>
        <li class="filter">
            <input type="checkbox" name="GeForce3070" value="GeForce RTX 3070">
            <span class="iconBox"><label>DDR2</label></span>
        </li>
        <li class="filter">
            <input type="checkbox" name="GeForce3070" value="GeForce RTX 3070">
            <span class="iconBox"><label>DDR</label></span>
        </li>
    </ul>
    <ul class="FilterList">
        <h2 class="FilterName">Объем памяти</h2>
        <li class="filter">
            <input type="checkbox" name="GeForce3080" value="GeForce RTX 3080">
            <span class="iconBox"><label>250 ГБ</label></span>
        </li>
        <li class="filter">
            <input type="checkbox" name="GeForce3070" value="GeForce RTX 3070">
            <span class="iconBox"><label>128 ГБ</label></span>
        </li>
        <li class="filter">
            <input type="checkbox" name="GeForce3070" value="GeForce RTX 3070">
            <span class="iconBox"><label>64 ГБ</label></span>
        </li>
        <li class="filter">
            <input type="checkbox" name="GeForce3070" value="GeForce RTX 3070">
            <span class="iconBox"><label>32 ГБ</label></span>
        </li>
        <li class="filter">
            <input type="checkbox" name="GeForce3070" value="GeForce RTX 3070">
            <span class="iconBox"><label>16 ГБ</label></span>
        </li>
        <li class="filter">
            <input type="checkbox" name="GeForce3070" value="GeForce RTX 3070">
            <span class="iconBox"><label>8 ГБ</label></span>
        </li>
        <li class="filter">
            <input type="checkbox" name="GeForce3070" value="GeForce RTX 3070">
            <span class="iconBox"><label>4 ГБ</label></span>
        </li>
        <li class="filter">
            <input type="checkbox" name="GeForce3070" value="GeForce RTX 3070">
            <span class="iconBox"><label>2 ГБ</label></span>
        </li>
        <li class="filter">
            <input type="checkbox" name="GeForce3070" value="GeForce RTX 3070">
            <span class="iconBox"><label>1 ГБ</label></span>
        </li>
    </ul>
    <ul class="FilterList">
        <h2 class="FilterName">Количество модулей</h2>
        <li class="filter">
            <input type="checkbox" name="GeForce3080" value="GeForce RTX 3080">
            <span class="iconBox"><label>8 модулей</label></span>
        </li>
        <li class="filter">
            <input type="checkbox" name="GeForce3070" value="GeForce RTX 3070">
            <span class="iconBox"><label>4 модуля<</label></span>
        </li>
        <li class="filter">
            <input type="checkbox" name="GeForce3070" value="GeForce RTX 3070">
            <span class="iconBox"><label>2 модуля<</label></span>
        </li>
        <li class="filter">
            <input type="checkbox" name="GeForce3070" value="GeForce RTX 3070">
            <span class="iconBox"><label>1 модуль<</label></span>
        </li>
    </ul>
    <ul class="FilterList">
        <h2 class="FilterName">Производитель</h2>
        <li class="filter">
            <input type="checkbox" name="GeForce3080" value="GeForce RTX 3080">
            <span class="iconBox"><label>AMD</label></span>
        </li>
        <li class="filter">
            <input type="checkbox" name="GeForce3070" value="GeForce RTX 3070">
            <span class="iconBox"><label>Corsair</label></span>
        </li>
        <li class="filter">
            <input type="checkbox" name="GeForce3060" value="GeForce RTX 3060">
            <span class="iconBox"><label>Crucial</label></span>
        </li>
        <li class="filter">
            <input type="checkbox" name="GeForce3050Ti" value="GeForce RTX 3050 Ti">
            <span class="iconBox"><label>G.Skill</label></span>
        </li>
        <li class="filter">
            <input type="checkbox" name="GeForce3050" value="GeForce RTX 3050">
            <span class="iconBox"><label>Geil</label></span>
        </li>
        <li class="filter">
            <input type="checkbox" name="GeForce3050" value="GeForce RTX 3050">
            <span class="iconBox"><label>Gigabyte</label></span>
        </li>
        <li class="filter">
            <input type="checkbox" name="GeForce3050" value="GeForce RTX 3050">
            <span class="iconBox"><label>Golden Memory</label></span>
        </li>
        <li class="filter">
            <input type="checkbox" name="GeForce3050" value="GeForce RTX 3050">
            <span class="iconBox"><label>GoodRAM</label></span>
        </li>
        <li class="filter">
            <input type="checkbox" name="GeForce3050" value="GeForce RTX 3050">
            <span class="iconBox"><label>Hynix</label></span>
        </li>
        <li class="filter">
            <input type="checkbox" name="GeForce3050" value="GeForce RTX 3050">
            <span class="iconBox"><label>Kingston Fury (ex. HyperX)</label></span>
        </li>
        <li class="filter">
            <input type="checkbox" name="GeForce3050" value="GeForce RTX 3050">
            <span class="iconBox"><label>Kingston</label></span>
        </li>
        <li class="filter">
            <input type="checkbox" name="GeForce3050" value="GeForce RTX 3050">
            <span class="iconBox"><label>Patriot</label></span>
        </li>
        <li class="filter">
            <input type="checkbox" name="GeForce3050" value="GeForce RTX 3050">
            <span class="iconBox"><label>Patriot Viper</label></span>
        </li>
        <li class="filter">
            <input type="checkbox" name="GeForce3050" value="GeForce RTX 3050">
            <span class="iconBox"><label>Samsung</label></span>
        </li>
        <li class="filter">
            <input type="checkbox" name="GeForce3050" value="GeForce RTX 3050">
            <span class="iconBox"><label>Team</label></span>
        </li>
    </ul>
    <ul class="FilterList">
        <h2 class="FilterName">Линейка</h2>
        <li class="filter">
            <input type="checkbox" name="GeForce3080" value="GeForce RTX 3080">
            <span class="iconBox"><label>Aorus</label></span>
        </li>
        <li class="filter">
            <input type="checkbox" name="GeForce3070" value="GeForce RTX 3070">
            <span class="iconBox"><label>Corsair Dominator</label></span>
        </li>
        <li class="filter">
            <input type="checkbox" name="GeForce3070" value="GeForce RTX 3070">
            <span class="iconBox"><label>Corsair Value</label></span>
        </li>
        <li class="filter">
            <input type="checkbox" name="GeForce3070" value="GeForce RTX 3070">
            <span class="iconBox"><label>Corsair Vengeance</label></span>
        </li>
        <li class="filter">
            <input type="checkbox" name="GeForce3070" value="GeForce RTX 3070">
            <span class="iconBox"><label>Crucial Ballistix</label></span>
        </li>
        <li class="filter">
            <input type="checkbox" name="GeForce3070" value="GeForce RTX 3070">
            <span class="iconBox"><label>G.Skill Trident</label></span>
        </li>
        <li class="filter">
            <input type="checkbox" name="GeForce3070" value="GeForce RTX 3070">
            <span class="iconBox"><label>G.Skill Aegis</label></span>
        </li>
        <li class="filter">
            <input type="checkbox" name="GeForce3070" value="GeForce RTX 3070">
            <span class="iconBox"><label>G.Skill Flare</label></span>
        </li>
        <li class="filter">
            <input type="checkbox" name="GeForce3070" value="GeForce RTX 3070">
            <span class="iconBox"><label>G.Skill Ripjaws</label></span>
        </li>
        <li class="filter">
            <input type="checkbox" name="GeForce3070" value="GeForce RTX 3070">
            <span class="iconBox"><label>Kingston Fury</label></span>
        </li>
        <li class="filter">
            <input type="checkbox" name="GeForce3070" value="GeForce RTX 3070">
            <span class="iconBox"><label>HyperX Predator</label></span>
        </li>
        <li class="filter">
            <input type="checkbox" name="GeForce3070" value="GeForce RTX 3070">
            <span class="iconBox"><label>HyperX Impact</label></span>
        </li>
        <li class="filter">
            <input type="checkbox" name="GeForce3070" value="GeForce RTX 3070">
            <span class="iconBox"><label>Patriot Sniper</label></span>
        </li>
        <li class="filter">
            <input type="checkbox" name="GeForce3070" value="GeForce RTX 3070">
            <span class="iconBox"><label>Patriot Viper</label></span>
        </li>
        <li class="filter">
            <input type="checkbox" name="GeForce3070" value="GeForce RTX 3070">
            <span class="iconBox"><label>Team Elite</label></span>
        </li>
        <li class="filter">
            <input type="checkbox" name="GeForce3070" value="GeForce RTX 3070">
            <span class="iconBox"><label>Team T-Create</label></span>
        </li>
        <li class="filter">
            <input type="checkbox" name="GeForce3070" value="GeForce RTX 3070">
            <span class="iconBox"><label>Team T-Force</label></span>
        </li>
        <li class="filter">
            <input type="checkbox" name="GeForce3070" value="GeForce RTX 3070">
            <span class="iconBox"><label>Transcend Jetram</label></span>
        </li>
    </ul>
    <ul class="FilterList">
        <h2 class="FilterName">Частота памяти</h2>
        <li class="filter">
            <input type="checkbox" name="GeForce3080" value="GeForce RTX 3080">
            <span class="iconBox"><label>400 МГц</label></span>
        </li>
        <li class="filter">
            <input type="checkbox" name="GeForce3070" value="GeForce RTX 3070">
            <span class="iconBox"><label>800 МГц</label></span>
        </li>
        <li class="filter">
            <input type="checkbox" name="GeForce3060" value="GeForce RTX 3060">
            <span class="iconBox"><label>1333 МГц</label></span>
        </li>
        <li class="filter">
            <input type="checkbox" name="GeForce3060" value="GeForce RTX 3060">
            <span class="iconBox"><label>1600 МГц</label></span>
        </li>
        <li class="filter">
            <input type="checkbox" name="GeForce3060" value="GeForce RTX 3060">
            <span class="iconBox"><label>1866 МГц</label></span>
        </li>
        <li class="filter">
            <input type="checkbox" name="GeForce3060" value="GeForce RTX 3060">
            <span class="iconBox"><label>2133 МГц</label></span>
        </li>
        <li class="filter">
            <input type="checkbox" name="GeForce3060" value="GeForce RTX 3060">
            <span class="iconBox"><label>2400 МГц</label></span>
        </li>
        <li class="filter">
            <input type="checkbox" name="GeForce3060" value="GeForce RTX 3060">
            <span class="iconBox"><label>2666 МГц</label></span>
        </li>
        <li class="filter">
            <input type="checkbox" name="GeForce3060" value="GeForce RTX 3060">
            <span class="iconBox"><label>2933 МГц</label></span>
        </li>
        <li class="filter">
            <input type="checkbox" name="GeForce3060" value="GeForce RTX 3060">
            <span class="iconBox"><label>3000 МГц</label></span>
        </li>
        <li class="filter">
            <input type="checkbox" name="GeForce3060" value="GeForce RTX 3060">
            <span class="iconBox"><label>3200 МГц</label></span>
        </li>
        <li class="filter">
            <input type="checkbox" name="GeForce3060" value="GeForce RTX 3060">
            <span class="iconBox"><label>3333 МГц</label></span>
        </li>
        <li class="filter">
            <input type="checkbox" name="GeForce3060" value="GeForce RTX 3060">
            <span class="iconBox"><label>3600 МГц</label></span>
        </li>
        <li class="filter">
            <input type="checkbox" name="GeForce3060" value="GeForce RTX 3060">
            <span class="iconBox"><label>3733 МГц</label></span>
        </li>
        <li class="filter">
            <input type="checkbox" name="GeForce3060" value="GeForce RTX 3060">
            <span class="iconBox"><label>4000 МГц</label></span>
        </li>
        <li class="filter">
            <input type="checkbox" name="GeForce3060" value="GeForce RTX 3060">
            <span class="iconBox"><label>Более 4266 МГц</label></span>
        </li>
    </ul>
    <ul class="FilterList">
        <h2 class="FilterName">CAS Latency (CL)</h2>
        <li class="filter">
            <label class="checkContainer">

                <input type="checkbox" name="GeForce3080" value="GeForce RTX 3080">
                <span class="iconBox"><label>CL6</label></span>
            </label>
        </li>
        <li class="filter">
            <label class="checkContainer">

                <input type="checkbox" name="GeForce3070" value="GeForce RTX 3070">
                <span class="iconBox"><label>CL9</label></span>
            </label>
        </li>
        <li class="filter">
            <label class="checkContainer">

                <input type="checkbox" name="GeForce3070" value="GeForce RTX 3070">
                <span class="iconBox"><label>CL10</label></span>
            </label>
        </li>
        <li class="filter">
            <label class="checkContainer">

                <input type="checkbox" name="GeForce3070" value="GeForce RTX 3070">
                <span class="iconBox"><label>CL11</label></span>
            </label>
        </li>
        <li class="filter">
            <label class="checkContainer">

                <input type="checkbox" name="GeForce3070" value="GeForce RTX 3070">
                <span class="iconBox"><label>CL13</label></span>
            </label>
        </li>
        <li class="filter">
            <label class="checkContainer">

                <input type="checkbox" name="GeForce3070" value="GeForce RTX 3070">
                <span class="iconBox"><label>CL14</label></span>
            </label>
        </li>
        <li class="filter">
            <label class="checkContainer">

                <input type="checkbox" name="GeForce3070" value="GeForce RTX 3070">
                <span class="iconBox"><label>CL15</label></span>
            </label>
        </li>
        <li class="filter">
            <label class="checkContainer">

                <input type="checkbox" name="GeForce3070" value="GeForce RTX 3070">
                <span class="iconBox"><label>CL16</label></span>
            </label>
        </li>
        <li class="filter">
            <label class="checkContainer">

                <input type="checkbox" name="GeForce3070" value="GeForce RTX 3070">
                <span class="iconBox"><label>CL17</label></span>
            </label>
        </li>
        <li class="filter">
            <label class="checkContainer">

                <input type="checkbox" name="GeForce3070" value="GeForce RTX 3070">
                <span class="iconBox"><label>CL18</label></span>
            </label>
        </li>
        <li class="filter">
            <label class="checkContainer">

                <input type="checkbox" name="GeForce3070" value="GeForce RTX 3070">
                <span class="iconBox"><label>CL19</label></span>
            </label>
        </li>
    </ul>
    <div class="inputBox-2">
        <input type="submit" name="" value="Применить">
    </div>
</div>