<div th:fragment="ssd" class="filter">
    <div class="nav-opener-filter">
        <label>Фильтры</label>
        <i class="fas fa-caret-down"></i>
    </div>
    <div class="nav-filter">
      <div class="f-toggle">
        <h2 class="heading2">Объем памяти</h2>
        <i class="fas fa-chevron-down"></i>
        <span></span>
      </div>
      <div class="choice" style="--i:302px; --display:block">
        <div class="inputBox">
          <input type="checkbox" name="GeForce3080" id="GeForce3080" value="GeForce RTX 3080">
          <label for="GeForce3080">Более 2 ТБ</label>
          <i class="fas fa-check"></i>
        </div>
        <div class="inputBox">
          <input type="checkbox" name="GeForce3070" id="GeForce3070" value="GeForce RTX 3070">
          <label for="GeForce3070">2 ТБ</label>
          <i class="fas fa-check"></i>
        </div>
        <div class="inputBox">
          <input type="checkbox" name="GeForce3070" id="GeForce3070" value="GeForce RTX 3070">
          <label for="GeForce3070">960 ГБ–1 ТБ</label>
          <i class="fas fa-check"></i>
        </div>
        <div class="inputBox">
          <input type="checkbox" name="GeForce3070" id="GeForce3070" value="GeForce RTX 3070">
          <label for="GeForce3070">480–512 ГБ</label>
          <i class="fas fa-check"></i>
        </div>
        <div class="inputBox">
          <input type="checkbox" name="GeForce3070" id="GeForce3070" value="GeForce RTX 3070">
          <label for="GeForce3070">240–256 ГБ</label>
          <i class="fas fa-check"></i>
        </div>
        <div class="inputBox">
          <input type="checkbox" name="GeForce3070" id="GeForce3070" value="GeForce RTX 3070">
          <label for="GeForce3070">120–128 ГБ</label>
          <i class="fas fa-check"></i>
        </div>
      </div>
    </div>

    <div class="nav-filter">
      <div class="f-toggle">
        <h2 class="heading2">Форм-фактор</h2>
        <i class="fas fa-chevron-down"></i>
        <span></span>
      </div>
      <div class="choice" style="--i:255px; --display:block">
        <div class="inputBox">
          <input type="checkbox" name="GeForce3080" id="GeForce3080" value="GeForce RTX 3080">
          <label for="GeForce3080">2.5″</label>
          <i class="fas fa-check"></i>
        </div>
        <div class="inputBox">
          <input type="checkbox" name="GeForce3070" id="GeForce3070" value="GeForce RTX 3070">
          <label for="GeForce3070">M.2 2280/2260</label>
          <i class="fas fa-check"></i>
        </div>
        <div class="inputBox">
          <input type="checkbox" name="GeForce3070" id="GeForce3070" value="GeForce RTX 3070">
          <label for="GeForce3070">mSATA</label>
          <i class="fas fa-check"></i>
        </div>
        <div class="inputBox">
          <input type="checkbox" name="GeForce3070" id="GeForce3070" value="GeForce RTX 3070">
          <label for="GeForce3070">U.2</label>
          <i class="fas fa-check"></i>
        </div>
        <div class="inputBox">
          <input type="checkbox" name="GeForce3070" id="GeForce3070" value="GeForce RTX 3070">
          <label for="GeForce3070">Внешний SSD</label>
          <i class="fas fa-check"></i>
        </div>
      </div>
    </div>

    <div class="nav-filter">
      <div class="f-toggle">
        <h2 class="heading2">Интерфейс</h2>
        <i class="fas fa-chevron-down"></i>
        <span></span>
      </div>
      <div class="choice" style="--i:302px; --display:block">
        <div class="inputBox">
          <input type="checkbox" name="GeForce3080" id="GeForce3080" value="GeForce RTX 3080">
          <label for="GeForce3080">mSATA</label>
          <i class="fas fa-check"></i>
        </div>
        <div class="inputBox">
          <input type="checkbox" name="GeForce3070" id="GeForce3070" value="GeForce RTX 3070">
          <label for="GeForce3070">SATA III</label>
          <i class="fas fa-check"></i>
        </div>
        <div class="inputBox">
          <input type="checkbox" name="GeForce3070" id="GeForce3070" value="GeForce RTX 3070">
          <label for="GeForce3070">PCIe 3.0</label>
          <i class="fas fa-check"></i>
        </div>
        <div class="inputBox">
          <input type="checkbox" name="GeForce3070" id="GeForce3070" value="GeForce RTX 3070">
          <label for="GeForce3070">PCIe 4.0</label>
          <i class="fas fa-check"></i>
        </div>
        <div class="inputBox">
          <input type="checkbox" name="GeForce3070" id="GeForce3070" value="GeForce RTX 3070">
          <label for="GeForce3070">USB 3.1</label>
          <i class="fas fa-check"></i>
        </div>
        <div class="inputBox">
          <input type="checkbox" name="GeForce3070" id="GeForce3070" value="GeForce RTX 3070">
          <label for="GeForce3070">USB Type-C</label>
          <i class="fas fa-check"></i>
        </div>
      </div>
    </div>

    <div class="nav-filter">
      <div class="f-toggle">
        <h2 class="heading2">Скорость чтения</h2>
        <i class="fas fa-chevron-down"></i>
        <span></span>
      </div>
      <div class="choice" style="--i:443px; --display:block">
        <div class="inputBox">
          <input type="checkbox" name="GeForce3080" id="GeForce3080" value="GeForce RTX 3080">
          <label for="GeForce3080">Более 3500 МБ/с</label>
          <i class="fas fa-check"></i>
        </div>
        <div class="inputBox">
          <input type="checkbox" name="GeForce3070" id="GeForce3070" value="GeForce RTX 3070">
          <label for="GeForce3070">3001-3500 МБ/с</label>
          <i class="fas fa-check"></i>
        </div>
        <div class="inputBox">
          <input type="checkbox" name="GeForce3060" id="GeForce3060" value="GeForce RTX 3060">
          <label for="GeForce3060">2501-3000 МБ/с</label>
          <i class="fas fa-check"></i>
        </div>
        <div class="inputBox">
          <input type="checkbox" name="GeForce3050Ti" id="GeForce3050Ti" value="GeForce RTX 3050 Ti">
          <label for="GeForce3050Ti">2001-2500 МБ/с</label>
          <i class="fas fa-check"></i>
        </div>
        <div class="inputBox">
          <input type="checkbox" name="GeForce3050" id="GeForce3050" value="GeForce RTX 3050">
          <label for="GeForce3050">1501-2000 МБ/с</label>
          <i class="fas fa-check"></i>
        </div>
        <div class="inputBox">
          <input type="checkbox" name="GeForce3050" id="GeForce3050" value="GeForce RTX 3050">
          <label for="GeForce3050">1001-1500 МБ/с</label>
          <i class="fas fa-check"></i>
        </div>
        <div class="inputBox">
          <input type="checkbox" name="GeForce3050" id="GeForce3050" value="GeForce RTX 3050">
          <label for="GeForce3050">601-1000 МБ/с</label>
          <i class="fas fa-check"></i>
        </div>
        <div class="inputBox">
          <input type="checkbox" name="GeForce3050" id="GeForce3050" value="GeForce RTX 3050">
          <label for="GeForce3050">501-600 МБ/с</label>
          <i class="fas fa-check"></i>
        </div>
        <div class="inputBox">
          <input type="checkbox" name="GeForce3050" id="GeForce3050" value="GeForce RTX 3050">
          <label for="GeForce3050">До 500 МБ/с</label>
          <i class="fas fa-check"></i>
        </div>
      </div>
    </div>

    <div class="nav-filter">
      <div class="f-toggle">
        <h2 class="heading2">Скорость записи</h2>
        <i class="fas fa-chevron-down"></i>
        <span></span>
      </div>
      <div class="choice" style="--i:443px; --display:block">
        <div class="inputBox">
          <input type="checkbox" name="GeForce3080" id="GeForce3080" value="GeForce RTX 3080">
          <label for="GeForce3080">Более 4000 МБ/с</label>
          <i class="fas fa-check"></i>
        </div>
        <div class="inputBox">
          <input type="checkbox" name="GeForce3070" id="GeForce3070" value="GeForce RTX 3070">
          <label for="GeForce3070">3001-4000 МБ/с</label>
          <i class="fas fa-check"></i>
        </div>
        <div class="inputBox">
          <input type="checkbox" name="GeForce3060" id="GeForce3060" value="GeForce RTX 3060">
          <label for="GeForce3060">2501-3000 МБ/с</label>
          <i class="fas fa-check"></i>
        </div>
        <div class="inputBox">
          <input type="checkbox" name="GeForce3050Ti" id="GeForce3050Ti" value="GeForce RTX 3050 Ti">
          <label for="GeForce3050Ti">2001-2500 МБ/с</label>
          <i class="fas fa-check"></i>
        </div>
        <div class="inputBox">
          <input type="checkbox" name="GeForce3050" id="GeForce3050" value="GeForce RTX 3050">
          <label for="GeForce3050">1501-2000 МБ/с</label>
          <i class="fas fa-check"></i>
        </div>
        <div class="inputBox">
          <input type="checkbox" name="GeForce3050" id="GeForce3050" value="GeForce RTX 3050">
          <label for="GeForce3050">1001-1500 МБ/с</label>
          <i class="fas fa-check"></i>
        </div>
        <div class="inputBox">
          <input type="checkbox" name="GeForce3050" id="GeForce3050" value="GeForce RTX 3050">
          <label for="GeForce3050">601-1000 МБ/с</label>
          <i class="fas fa-check"></i>
        </div>
        <div class="inputBox">
          <input type="checkbox" name="GeForce3050" id="GeForce3050" value="GeForce RTX 3050">
          <label for="GeForce3050">501-600 МБ/с</label>
          <i class="fas fa-check"></i>
        </div>
        <div class="inputBox">
          <input type="checkbox" name="GeForce3050" id="GeForce3050" value="GeForce RTX 3050">
          <label for="GeForce3050">До 500 МБ/с</label>
          <i class="fas fa-check"></i>
        </div>
      </div>
    </div>

    <div class="nav-filter">
      <div class="f-toggle">
        <h2 class="heading2">Ресурс записи (TWB)</h2>
        <i class="fas fa-chevron-down"></i>
        <span></span>
      </div>
      <div class="choice" style="--i:443px; --display:block">
        <div class="inputBox">
          <input type="checkbox" name="GeForce3080" id="GeForce3080" value="GeForce RTX 3080">
          <label for="GeForce3080">Более 3000 Тб</label>
          <i class="fas fa-check"></i>
        </div>
        <div class="inputBox">
          <input type="checkbox" name="GeForce3070" id="GeForce3070" value="GeForce RTX 3070">
          <label for="GeForce3070">2001-3000 Тб</label>
          <i class="fas fa-check"></i>
        </div>
        <div class="inputBox">
          <input type="checkbox" name="GeForce3060" id="GeForce3060" value="GeForce RTX 3060">
          <label for="GeForce3060">1301-2000 Тб</label>
          <i class="fas fa-check"></i>
        </div>
        <div class="inputBox">
          <input type="checkbox" name="GeForce3060" id="GeForce3060" value="GeForce RTX 3060">
          <label for="GeForce3060">1001-1300 Тб</label>
          <i class="fas fa-check"></i>
        </div>
        <div class="inputBox">
          <input type="checkbox" name="GeForce3060" id="GeForce3060" value="GeForce RTX 3060">
          <label for="GeForce3060">801-1000 Тб</label>
          <i class="fas fa-check"></i>
        </div>
        <div class="inputBox">
          <input type="checkbox" name="GeForce3060" id="GeForce3060" value="GeForce RTX 3060">
          <label for="GeForce3060">501-800 Тб</label>
          <i class="fas fa-check"></i>
        </div>
        <div class="inputBox">
          <input type="checkbox" name="GeForce3060" id="GeForce3060" value="GeForce RTX 3060">
          <label for="GeForce3060">301-500 Тб</label>
          <i class="fas fa-check"></i>
        </div>
        <div class="inputBox">
          <input type="checkbox" name="GeForce3060" id="GeForce3060" value="GeForce RTX 3060">
          <label for="GeForce3060">201-300 Тб</label>
          <i class="fas fa-check"></i>
        </div>
        <div class="inputBox">
          <input type="checkbox" name="GeForce3060" id="GeForce3060" value="GeForce RTX 3060">
          <label for="GeForce3060">До 200 Тб</label>
          <i class="fas fa-check"></i>
        </div>
      </div>
    </div>

    <div class="nav-filter">
      <div class="f-toggle">
        <h2 class="heading2">Производитель</h2>
        <i class="fas fa-chevron-down"></i>
        <span></span>
      </div>
      <div class="choice" style="--i:960px; --display:block">
        <div class="inputBox">
          <input type="checkbox" name="GeForce3080" id="GeForce3080" value="GeForce RTX 3080">
          <label for="GeForce3080">ADATA</label>
          <i class="fas fa-check"></i>
        </div>
        <div class="inputBox">
          <input type="checkbox" name="GeForce3070" id="GeForce3070" value="GeForce RTX 3070">
          <label for="GeForce3070">AMD</label>
          <i class="fas fa-check"></i>
        </div>
        <div class="inputBox">
          <input type="checkbox" name="GeForce3070" id="GeForce3070" value="GeForce RTX 3070">
          <label for="GeForce3070">Apacer</label>
          <i class="fas fa-check"></i>
        </div>
        <div class="inputBox">
          <input type="checkbox" name="GeForce3070" id="GeForce3070" value="GeForce RTX 3070">
          <label for="GeForce3070">Corsair</label>
          <i class="fas fa-check"></i>
        </div>
        <div class="inputBox">
          <input type="checkbox" name="GeForce3070" id="GeForce3070" value="GeForce RTX 3070">
          <label for="GeForce3070">Crucial</label>
          <i class="fas fa-check"></i>
        </div>
        <div class="inputBox">
          <input type="checkbox" name="GeForce3070" id="GeForce3070" value="GeForce RTX 3070">
          <label for="GeForce3070">Gigabyte</label>
          <i class="fas fa-check"></i>
        </div>
        <div class="inputBox">
          <input type="checkbox" name="GeForce3070" id="GeForce3070" value="GeForce RTX 3070">
          <label for="GeForce3070">GoodRAM</label>
          <i class="fas fa-check"></i>
        </div>
        <div class="inputBox">
          <input type="checkbox" name="GeForce3070" id="GeForce3070" value="GeForce RTX 3070">
          <label for="GeForce3070">Intel</label>
          <i class="fas fa-check"></i>
        </div>
        <div class="inputBox">
          <input type="checkbox" name="GeForce3070" id="GeForce3070" value="GeForce RTX 3070">
          <label for="GeForce3070">HyperX</label>
          <i class="fas fa-check"></i>
        </div>
        <div class="inputBox">
          <input type="checkbox" name="GeForce3070" id="GeForce3070" value="GeForce RTX 3070">
          <label for="GeForce3070">Kingston</label>
          <i class="fas fa-check"></i>
        </div>
        <div class="inputBox">
          <input type="checkbox" name="GeForce3070" id="GeForce3070" value="GeForce RTX 3070">
          <label for="GeForce3070">LaCie</label>
          <i class="fas fa-check"></i>
        </div>
        <div class="inputBox">
          <input type="checkbox" name="GeForce3070" id="GeForce3070" value="GeForce RTX 3070">
          <label for="GeForce3070">Patriot</label>
          <i class="fas fa-check"></i>
        </div>
        <div class="inputBox">
          <input type="checkbox" name="GeForce3070" id="GeForce3070" value="GeForce RTX 3070">
          <label for="GeForce3070">PNY</label>
          <i class="fas fa-check"></i>
        </div>
        <div class="inputBox">
          <input type="checkbox" name="GeForce3070" id="GeForce3070" value="GeForce RTX 3070">
          <label for="GeForce3070">Samsung</label>
          <i class="fas fa-check"></i>
        </div>
        <div class="inputBox">
          <input type="checkbox" name="GeForce3070" id="GeForce3070" value="GeForce RTX 3070">
          <label for="GeForce3070">SanDisk</label>
          <i class="fas fa-check"></i>
        </div>
        <div class="inputBox">
          <input type="checkbox" name="GeForce3070" id="GeForce3070" value="GeForce RTX 3070">
          <label for="GeForce3070">Seagate</label>
          <i class="fas fa-check"></i>
        </div>
        <div class="inputBox">
          <input type="checkbox" name="GeForce3070" id="GeForce3070" value="GeForce RTX 3070">
          <label for="GeForce3070">Silicon Power</label>
          <i class="fas fa-check"></i>
        </div>
        <div class="inputBox">
          <input type="checkbox" name="GeForce3070" id="GeForce3070" value="GeForce RTX 3070">
          <label for="GeForce3070">Team</label>
          <i class="fas fa-check"></i>
        </div>
        <div class="inputBox">
          <input type="checkbox" name="GeForce3070" id="GeForce3070" value="GeForce RTX 3070">
          <label for="GeForce3070">Transcend</label>
          <i class="fas fa-check"></i>
        </div>
        <div class="inputBox">
          <input type="checkbox" name="GeForce3070" id="GeForce3070" value="GeForce RTX 3070">
          <label for="GeForce3070">Western Digital</label>
          <i class="fas fa-check"></i>
        </div>
      </div>
    </div>

    <div class="nav-filter">
      <div class="f-toggle">
        <h2 class="heading2">Тип ячеек памяти</h2>
        <i class="fas fa-chevron-down"></i>
        <span></span>
      </div>
      <div class="choice" style="--i:302px; --display:block">
        <div class="inputBox">
          <input type="checkbox" name="GeForce3080" id="GeForce3080" value="GeForce RTX 3080">
          <label for="GeForce3080">MLC</label>
          <i class="fas fa-check"></i>
        </div>
        <div class="inputBox">
          <input type="checkbox" name="GeForce3070" id="GeForce3070" value="GeForce RTX 3070">
          <label for="GeForce3070">TLC</label>
          <i class="fas fa-check"></i>
        </div>
        <div class="inputBox">
          <input type="checkbox" name="GeForce3060" id="GeForce3060" value="GeForce RTX 3060">
          <label for="GeForce3060">V-NAND</label>
          <i class="fas fa-check"></i>
        </div>
        <div class="inputBox">
          <input type="checkbox" name="GeForce3050Ti" id="GeForce3050Ti" value="GeForce RTX 3050 Ti">
          <label for="GeForce3050Ti">3D-NAND TLC</label>
          <i class="fas fa-check"></i>
        </div>
        <div class="inputBox">
          <input type="checkbox" name="GeForce3050Ti" id="GeForce3050Ti" value="GeForce RTX 3050 Ti">
          <label for="GeForce3050Ti">3D-NAND QLC</label>
          <i class="fas fa-check"></i>
        </div>
        <div class="inputBox">
          <input type="checkbox" name="GeForce3050Ti" id="GeForce3050Ti" value="GeForce RTX 3050 Ti">
          <label for="GeForce3050Ti">3D-NAND</label>
          <i class="fas fa-check"></i>
        </div>
      </div>
    </div>

    <div class="nav-filter">
      <div class="f-toggle">
        <h2 class="heading2">Линейка</h2>
        <i class="fas fa-chevron-down"></i>
        <span></span>
      </div>
      <div class="choice" style="--i:678px; --display:block">
        <div class="inputBox">
          <input type="checkbox" name="GeForce3080" id="GeForce3080" value="GeForce RTX 3080">
          <label for="GeForce3080">ADATA Swordfish</label>
          <i class="fas fa-check"></i>
        </div>
        <div class="inputBox">
          <input type="checkbox" name="GeForce3080" id="GeForce3080" value="GeForce RTX 3080">
          <label for="GeForce3080">ADATA XPG</label>
          <i class="fas fa-check"></i>
        </div>
        <div class="inputBox">
          <input type="checkbox" name="GeForce3070" id="GeForce3070" value="GeForce RTX 3070">
          <label for="GeForce3080">Apacer Panther</label>
          <i class="fas fa-check"></i>
        </div>
        <div class="inputBox">
          <input type="checkbox" name="GeForce3070" id="GeForce3070" value="GeForce RTX 3070">
          <label for="GeForce3080">GoodRAM IRDM</label>
          <i class="fas fa-check"></i>
        </div>
        <div class="inputBox">
          <input type="checkbox" name="GeForce3070" id="GeForce3070" value="GeForce RTX 3070">
          <label for="GeForce3080">Kingston A2000</label>
          <i class="fas fa-check"></i>
        </div>
        <div class="inputBox">
          <input type="checkbox" name="GeForce3070" id="GeForce3070" value="GeForce RTX 3070">
          <label for="GeForce3080">Kingston A400</label>
          <i class="fas fa-check"></i>
        </div>
        <div class="inputBox">
          <input type="checkbox" name="GeForce3070" id="GeForce3070" value="GeForce RTX 3070">
          <label for="GeForce3080">Kingston KC2000</label>
          <i class="fas fa-check"></i>
        </div>
        <div class="inputBox">
          <input type="checkbox" name="GeForce3070" id="GeForce3070" value="GeForce RTX 3070">
          <label for="GeForce3080">Kingston KC2500</label>
          <i class="fas fa-check"></i>
        </div>
        <div class="inputBox">
          <input type="checkbox" name="GeForce3070" id="GeForce3070" value="GeForce RTX 3070">
          <label for="GeForce3080">Kingston KC600</label>
          <i class="fas fa-check"></i>
        </div>
        <div class="inputBox">
          <input type="checkbox" name="GeForce3070" id="GeForce3070" value="GeForce RTX 3070">
          <label for="GeForce3080">Kingston NV1</label>
          <i class="fas fa-check"></i>
        </div>
        <div class="inputBox">
          <input type="checkbox" name="GeForce3070" id="GeForce3070" value="GeForce RTX 3070">
          <label for="GeForce3080">Samsung 860 EVO</label>
          <i class="fas fa-check"></i>
        </div>
        <div class="inputBox">
          <input type="checkbox" name="GeForce3070" id="GeForce3070" value="GeForce RTX 3070">
          <label for="GeForce3080">Samsung 870 EVO</label>
          <i class="fas fa-check"></i>
        </div>
        <div class="inputBox">
          <input type="checkbox" name="GeForce3070" id="GeForce3070" value="GeForce RTX 3070">
          <label for="GeForce3080">Samsung 970 EVO</label>
          <i class="fas fa-check"></i>
        </div>
        <div class="inputBox">
          <input type="checkbox" name="GeForce3070" id="GeForce3070" value="GeForce RTX 3070">
          <label for="GeForce3080">Samsung 980</label>
          <i class="fas fa-check"></i>
        </div>
      </div>
    </div>

    <div class="inputBox-2">
      <input type="submit" name="" value="Применить">
    </div>
    </div>