<div th:fragment="ssd" class="filter">
    <div class="nav-opener-filter">
        <label>Фильтры</label>
        <i class="fas fa-caret-down"></i>
    </div>
    <div class="inputBox-2">
        <label for="maxcost">Введите максимальную стоимость</label>
        <input type="text" name="maxcost" value="190000" id="maxcost-label" pattern="[0-9]{0,6}" size="6" maxlength="6">
        <span></span>
    </div>
    <ul class="FilterList">
        <h2 class="FilterName">Объем памяти</h2>
        <li class="filter">
            <input type="checkbox" name="GeForce3080" value="GeForce RTX 3080">
            <span class="iconBox"><label>Более 2 ТБ</label></span>
        </li>
        <li class="filter">
            <input type="checkbox" name="GeForce3070" value="GeForce RTX 3070">
            <span class="iconBox"><label>2 ТБ</label></span>
        </li>
        <li class="filter">
            <input type="checkbox" name="GeForce3070" value="GeForce RTX 3070">
            <span class="iconBox"><label>960 ГБ–1 ТБ</label></span>
        </li>
        <li class="filter">
            <input type="checkbox" name="GeForce3070" value="GeForce RTX 3070">
            <span class="iconBox"><label>480–512 ГБ</label></span>
        </li>
        <li class="filter">
            <input type="checkbox" name="GeForce3070" value="GeForce RTX 3070">
            <span class="iconBox"><label>240–256 ГБ</label></span>
        </li>
        <li class="filter">
            <input type="checkbox" name="GeForce3070" value="GeForce RTX 3070">
            <span class="iconBox"><label>120–128 ГБ</label></span>
        </li>
    </ul>
    <ul class="FilterList">
        <h2 class="FilterName">Форм-фактор</h2>
        <li class="filter">
            <input type="checkbox" name="GeForce3080" value="GeForce RTX 3080">
            <span class="iconBox"><label>2.5″</label></span>
        </li>
        <li class="filter">
            <input type="checkbox" name="GeForce3070" value="GeForce RTX 3070">
            <span class="iconBox"><label>M.2 2280/2260</label></span>
        </li>
        <li class="filter">
            <input type="checkbox" name="GeForce3070" value="GeForce RTX 3070">
            <span class="iconBox"><label>mSATA</label></span>
        </li>
        <li class="filter">
            <input type="checkbox" name="GeForce3070" value="GeForce RTX 3070">
            <span class="iconBox"><label>U.2</label></span>
        </li>
        <li class="filter">
            <input type="checkbox" name="GeForce3070" value="GeForce RTX 3070">
            <span class="iconBox"><label>Внешний SSD</label></span>
        </li>
    </ul>
    <ul class="FilterList">
        <h2 class="FilterName">Интерфейс</h2>
        <li class="filter">
            <input type="checkbox" name="GeForce3080" value="GeForce RTX 3080">
            <span class="iconBox"><label>mSATA</label></span>
        </li>
        <li class="filter">
            <input type="checkbox" name="GeForce3070" value="GeForce RTX 3070">
            <span class="iconBox"><label>SATA III</label></span>
        </li>
        <li class="filter">
            <input type="checkbox" name="GeForce3070" value="GeForce RTX 3070">
            <span class="iconBox"><label>PCIe 3.0</label></span>
        </li>
        <li class="filter">
            <input type="checkbox" name="GeForce3070" value="GeForce RTX 3070">
            <span class="iconBox"><label>PCIe 4.0</label></span>
        </li>
        <li class="filter">
            <input type="checkbox" name="GeForce3070" value="GeForce RTX 3070">
            <span class="iconBox"><label>USB 3.1</label></span>
        </li>
        <li class="filter">
            <input type="checkbox" name="GeForce3070" value="GeForce RTX 3070">
            <span class="iconBox"><label>USB Type-C</label></span>
        </li>
    </ul>
    <ul class="FilterList">
        <h2 class="FilterName">Скорость чтения</h2>
        <li class="filter">
            <input type="checkbox" name="GeForce3080" value="GeForce RTX 3080">
            <span class="iconBox"><label>Более 3500 МБ/с</label></span>
        </li>
        <li class="filter">
            <input type="checkbox" name="GeForce3070" value="GeForce RTX 3070">
            <span class="iconBox"><label>3001-3500 МБ/с</label></span>
        </li>
        <li class="filter">
            <input type="checkbox" name="GeForce3060" value="GeForce RTX 3060">
            <span class="iconBox"><label>2501-3000 МБ/с</label></span>
        </li>
        <li class="filter">
            <input type="checkbox" name="GeForce3050Ti" value="GeForce RTX 3050 Ti">
            <span class="iconBox"><label>2001-2500 МБ/с</label></span>
        </li>
        <li class="filter">
            <input type="checkbox" name="GeForce3050" value="GeForce RTX 3050">
            <span class="iconBox"><label>1501-2000 МБ/с</label></span>
        </li>
        <li class="filter">
            <input type="checkbox" name="GeForce3050" value="GeForce RTX 3050">
            <span class="iconBox"><label>1001-1500 МБ/с</label></span>
        </li>
        <li class="filter">
            <input type="checkbox" name="GeForce3050" value="GeForce RTX 3050">
            <span class="iconBox"><label>601-1000 МБ/с</label></span>
        </li>
        <li class="filter">
            <input type="checkbox" name="GeForce3050" value="GeForce RTX 3050">
            <span class="iconBox"><label>501-600 МБ/с</label></span>
        </li>
        <li class="filter">
            <input type="checkbox" name="GeForce3050" value="GeForce RTX 3050">
            <span class="iconBox"><label>До 500 МБ/с</label></span>
        </li>
    </ul>
    <ul class="FilterList">
        <h2 class="FilterName">Скорость записи</h2>
        <li class="filter">
            <input type="checkbox" name="GeForce3080" value="GeForce RTX 3080">
            <span class="iconBox"><label>Более 4000 МБ/с</label></span>
        </li>
        <li class="filter">
            <input type="checkbox" name="GeForce3070" value="GeForce RTX 3070">
            <span class="iconBox"><label>3001-4000 МБ/с</label></span>
        </li>
        <li class="filter">
            <input type="checkbox" name="GeForce3060" value="GeForce RTX 3060">
            <span class="iconBox"><label>2501-3000 МБ/с</label></span>
        </li>
        <li class="filter">
            <input type="checkbox" name="GeForce3050Ti" value="GeForce RTX 3050 Ti">
            <span class="iconBox"><label>2001-2500 МБ/с</label></span>
        </li>
        <li class="filter">
            <input type="checkbox" name="GeForce3050" value="GeForce RTX 3050">
            <span class="iconBox"><label>1501-2000 МБ/с</label></span>
        </li>
        <li class="filter">
            <input type="checkbox" name="GeForce3050" value="GeForce RTX 3050">
            <span class="iconBox"><label>1001-1500 МБ/с</label></span>
        </li>
        <li class="filter">
            <input type="checkbox" name="GeForce3050" value="GeForce RTX 3050">
            <span class="iconBox"><label>601-1000 МБ/с</label></span>
        </li>
        <li class="filter">
            <input type="checkbox" name="GeForce3050" value="GeForce RTX 3050">
            <span class="iconBox"><label>501-600 МБ/с</label></span>
        </li>
        <li class="filter">
            <input type="checkbox" name="GeForce3050" value="GeForce RTX 3050">
            <span class="iconBox"><label>До 500 МБ/с</label></span>
        </li>
    </ul>
    <ul class="FilterList">
        <h2 class="FilterName">Ресурс записи (TWB)</h2>
        <li class="filter">
            <input type="checkbox" name="GeForce3080" value="GeForce RTX 3080">
            <span class="iconBox"><label>Более 3000 Тб</label></span>
        </li>
        <li class="filter">
            <input type="checkbox" name="GeForce3070" value="GeForce RTX 3070">
            <span class="iconBox"><label>2001-3000 Тб</label></span>
        </li>
        <li class="filter">
            <input type="checkbox" name="GeForce3060" value="GeForce RTX 3060">
            <span class="iconBox"><label>1301-2000 Тб</label></span>
        </li>
        <li class="filter">
            <input type="checkbox" name="GeForce3060" value="GeForce RTX 3060">
            <span class="iconBox"><label>1001-1300 Тб</label></span>
        </li>
        <li class="filter">
            <input type="checkbox" name="GeForce3060" value="GeForce RTX 3060">
            <span class="iconBox"><label>801-1000 Тб</label></span>
        </li>
        <li class="filter">
            <input type="checkbox" name="GeForce3060" value="GeForce RTX 3060">
            <span class="iconBox"><label>501-800 Тб</label></span>
        </li>
        <li class="filter">
            <input type="checkbox" name="GeForce3060" value="GeForce RTX 3060">
            <span class="iconBox"><label>301-500 Тб</label></span>
        </li>
        <li class="filter">
            <input type="checkbox" name="GeForce3060" value="GeForce RTX 3060">
            <span class="iconBox"><label>201-300 Тб</label></span>
        </li>
        <li class="filter">
            <input type="checkbox" name="GeForce3060" value="GeForce RTX 3060">
            <span class="iconBox"><label>До 200 Тб</label></span>
        </li>
    </ul>
    <ul class="FilterList">
        <h2 class="FilterName">Производитель</h2>
        <li class="filter">
            <input type="checkbox" name="GeForce3080" value="GeForce RTX 3080">
            <span class="iconBox"><label>ADATA</label></span>
        </li>
        <li class="filter">
            <input type="checkbox" name="GeForce3070" value="GeForce RTX 3070">
            <span class="iconBox"><label>AMD</label></span>
        </li>
        <li class="filter">
            <input type="checkbox" name="GeForce3070" value="GeForce RTX 3070">
            <span class="iconBox"><label>Apacer</label></span>
        </li>
        <li class="filter">
            <input type="checkbox" name="GeForce3070" value="GeForce RTX 3070">
            <span class="iconBox"><label>Corsair</label></span>
        </li>
        <li class="filter">
            <input type="checkbox" name="GeForce3070" value="GeForce RTX 3070">
            <span class="iconBox"><label>Crucial</label></span>
        </li>
        <li class="filter">
            <input type="checkbox" name="GeForce3070" value="GeForce RTX 3070">
            <span class="iconBox"><label>Gigabyte</label></span>
        </li>
        <li class="filter">
            <input type="checkbox" name="GeForce3070" value="GeForce RTX 3070">
            <span class="iconBox"><label>GoodRAM</label></span>
        </li>
        <li class="filter">
            <input type="checkbox" name="GeForce3070" value="GeForce RTX 3070">
            <span class="iconBox"><label>Intel</label></span>
        </li>
        <li class="filter">
            <input type="checkbox" name="GeForce3070" value="GeForce RTX 3070">
            <span class="iconBox"><label>HyperX</label></span>
        </li>
        <li class="filter">
            <input type="checkbox" name="GeForce3070" value="GeForce RTX 3070">
            <span class="iconBox"><label>Kingston</label></span>
        </li>
        <li class="filter">
            <input type="checkbox" name="GeForce3070" value="GeForce RTX 3070">
            <span class="iconBox"><label>LaCie</label></span>
        </li>
        <li class="filter">
            <input type="checkbox" name="GeForce3070" value="GeForce RTX 3070">
            <span class="iconBox"><label>Patriot</label></span>
        </li>
        <li class="filter">
            <input type="checkbox" name="GeForce3070" value="GeForce RTX 3070">
            <span class="iconBox"><label>PNY</label></span>
        </li>
        <li class="filter">
            <input type="checkbox" name="GeForce3070" value="GeForce RTX 3070">
            <span class="iconBox"><label>Samsung</label></span>
        </li>
        <li class="filter">
            <input type="checkbox" name="GeForce3070" value="GeForce RTX 3070">
            <span class="iconBox"><label>SanDisk</label></span>
        </li>
        <li class="filter">
            <input type="checkbox" name="GeForce3070" value="GeForce RTX 3070">
            <span class="iconBox"><label>Seagate</label></span>
        </li>
        <li class="filter">
            <input type="checkbox" name="GeForce3070" value="GeForce RTX 3070">
            <span class="iconBox"><label>Silicon Power</label></span>
        </li>
        <li class="filter">
            <input type="checkbox" name="GeForce3070" value="GeForce RTX 3070">
            <span class="iconBox"><label>Team</label></span>
        </li>
        <li class="filter">
            <input type="checkbox" name="GeForce3070" value="GeForce RTX 3070">
            <span class="iconBox"><label>Transcend</label></span>
        </li>
        <li class="filter">
            <input type="checkbox" name="GeForce3070" value="GeForce RTX 3070">
            <span class="iconBox"><label>Western Digital</label></span>
        </li>
    </ul>
    <ul class="FilterList">
        <h2 class="FilterName">Тип ячеек памяти</h2>
        <li class="filter">
            <input type="checkbox" name="GeForce3080" value="GeForce RTX 3080">
            <span class="iconBox"><label>MLC</label></span>
        </li>
        <li class="filter">
            <input type="checkbox" name="GeForce3070" value="GeForce RTX 3070">
            <span class="iconBox"><label>TLC</label></span>
        </li>
        <li class="filter">
            <input type="checkbox" name="GeForce3060" value="GeForce RTX 3060">
            <span class="iconBox"><label>V-NAND</label></span>
        </li>
        <li class="filter">
            <input type="checkbox" name="GeForce3050Ti" value="GeForce RTX 3050 Ti">
            <span class="iconBox"><label>3D-NAND TLC</label></span>
        </li>
        <li class="filter">
            <input type="checkbox" name="GeForce3050Ti" value="GeForce RTX 3050 Ti">
            <span class="iconBox"><label>3D-NAND QLC</label></span>
        </li>
        <li class="filter">
            <input type="checkbox" name="GeForce3050Ti" value="GeForce RTX 3050 Ti">
            <span class="iconBox"><label>3D-NAND</label></span>
        </li>
    </ul>
    <ul class="FilterList">
        <h2 class="FilterName">Линейка</h2>
        <li class="filter">
            <label class="checkContainer">
                <input type="checkbox" name="GeForce3080" value="GeForce RTX 3080">
                <span class="iconBox"><label>ADATA Swordfish</label></span>
            </label>
        </li>
        <li class="filter">
            <label class="checkContainer">
                <input type="checkbox" name="GeForce3080" value="GeForce RTX 3080">
                <span class="iconBox"><label>ADATA XPG</label></span>
            </label>
        </li>
        <li class="filter">
            <label class="checkContainer">
                <input type="checkbox" name="GeForce3070" value="GeForce RTX 3070">
                <span class="iconBox"><label>Apacer Panther</label></span>
            </label>
        </li>
        <li class="filter">
            <label class="checkContainer">
                <input type="checkbox" name="GeForce3070" value="GeForce RTX 3070">
                <span class="iconBox"><label>GoodRAM IRDM</label></span>
            </label>
        </li>
        <li class="filter">
            <label class="checkContainer">
                <input type="checkbox" name="GeForce3070" value="GeForce RTX 3070">
                <span class="iconBox"><label>Kingston A2000</label></span>
            </label>
        </li>
        <li class="filter">
            <label class="checkContainer">
                <input type="checkbox" name="GeForce3070" value="GeForce RTX 3070">
                <span class="iconBox"><label>Kingston A400</label></span>
            </label>
        </li>
        <li class="filter">
            <label class="checkContainer">
                <input type="checkbox" name="GeForce3070" value="GeForce RTX 3070">
                <span class="iconBox"><label>Kingston KC2000</label></span>
            </label>
        </li>
        <li class="filter">
            <label class="checkContainer">
                <input type="checkbox" name="GeForce3070" value="GeForce RTX 3070">
                <span class="iconBox"><label>Kingston KC2500</label></span>
            </label>
        </li>
        <li class="filter">
            <label class="checkContainer">
                <input type="checkbox" name="GeForce3070" value="GeForce RTX 3070">
                <span class="iconBox"><label>Kingston KC600</label></span>
            </label>
        </li>
        <li class="filter">
            <label class="checkContainer">
                <input type="checkbox" name="GeForce3070" value="GeForce RTX 3070">
                <span class="iconBox"><label>Kingston NV1</label></span>
            </label>
        </li>
        <li class="filter">
            <label class="checkContainer">
                <input type="checkbox" name="GeForce3070" value="GeForce RTX 3070">
                <span class="iconBox"><label>Samsung 860 EVO</label></span>
            </label>
        </li>
        <li class="filter">
            <label class="checkContainer">
                <input type="checkbox" name="GeForce3070" value="GeForce RTX 3070">
                <span class="iconBox"><label>Samsung 870 EVO</label></span>
            </label>
        </li>
        <li class="filter">
            <label class="checkContainer">
                <input type="checkbox" name="GeForce3070" value="GeForce RTX 3070">
                <span class="iconBox"><label>Samsung 970 EVO</label></span>
            </label>
        </li>
        <li class="filter">
            <label class="checkContainer">
                <input type="checkbox" name="GeForce3070" value="GeForce RTX 3070">
                <span class="iconBox"><label>Samsung 980</label></span>
            </label>
        </li>
    </ul>
    <div class="inputBox-2">
        <input type="submit" name="" value="Применить">
    </div>
</div>