<div th:fragment="footer" class="footer">
  <footer>
    <ul>
      <li><a href="#"><i class="fab fa-github-square"></i></a></li>
      <li><a href="#"><i class="fab fa-twitter-square"></i></a></li>
      <li><a href="#"><i class="fab fa-instagram-square"></i></a></li>
    </ul>

    <ul class="navbar">
      <li class="nav-item">
        <a class="nav-link" rel="tooltip" title="Contact phone #1" data-placement="bottom" href="#">
          <p>(0**) ***-**-**</p>
        </a>
      </li>
    </ul>
    <ul class="navbar">
      <li class="nav-item">
        <a class="nav-link" rel="tooltip" title="Contact phone #2" data-placement="bottom" href="#">
          <p>(0**) ***-**-**</p>
        </a>
      </li>
    </ul>

    <span >
      ©
      <script>
        document.write(new Date().getFullYear())
      </script>, made with
        <i class="fas fa-heart heart"></i>
    </span>
  </footer>
</div>