<!-- recall start -->
<div th:fragment="recall" id="recall">
	<i class="fas fa-times-circle close" onclick="recall()"></i>
	<div class="flex pb-15">
		<h2 class="heading">Запросить обратный звонок</h2>
	</div>

	<div class="inputBox">
		<div></div>
		<input type="text" name="Name" id="Name" required="">
		<label for="Name">Имя</label>
		<span></span>
	</div>

	<div class="inputBox">
		<div></div>
		<input type="text" name="Phone" id="Phone" autocomplete="on"  required="">
		<label for="Phone">Телефон</label>
		<span></span>
	</div>

	<div class="inputBox">
		<textarea type="text" name="Comment" id="Comment" required=""></textarea>
		<label for="Comment">Комментарий</label>
		<span></span>
	</div>
	<div class="inputBox-2">
		<h2 class="heading">Причина звонка</h2>
		<div>
			<input type="radio" name="reason" value="Arrange" id="radio1" required="">
			<label class="label-primary" for="radio1">Оформить заказ</label>
			<i class="fas fa-check"></i>
		</div>
		<div>
			<input type="radio" name="reason" value="Receive" id="radio2" required="">
			<label class="label-primary" for="radio2">Получить информацию о товаре</label>
			<i class="fas fa-check"></i>
		</div>
		<div>
			<input type="radio" name="reason" value="Warranty" id="radio3" required="">
			<label class="label-primary" for="radio3">Гарантийное обращение</label>
			<i class="fas fa-check"></i>
		</div>
		<div>
			<input type="radio" name="reason" value="Other" id="radio4" required="">
			<label class="label-primary" for="radio4">Другое</label>
			<i class="fas fa-check"></i>
		</div>
	</div>
	<div class="inputBox">
		<a class="link-btn" href="#" onclick="recall()">Перезвоните мне</a>
	</div>
</div>
<!-- recall end -->
<div th:fragment="settings" id="settings" sec:authorize="isAuthenticated()">
	<script type="text/javascript" th:src="@{/js/updateProfile.js}"></script>
	<div class="formBox-form" method="POST" enctype="multipart/form-data" id="refreshSettings">
		<i class="fas fa-times-circle close" onclick="settings()"></i>
		<div class="inputBox admin" sec:authorize="hasRole('ADMIN')">
			<a href="/admin" class="link-btn">Админ панель</a>
		</div>
		<h2 class="heading">Настройки профиля</h2>

		<div class="imgBox inputImgBox">
			<img id="ProfileImage">
			<input type="file" id="photoFile" accept="image/jpg, image/jpeg, image/png" name="photoFile">
		</div>

		<div class="inputBox">
			<input type="email" name="login" id="ProfileLogin" required="">
			<label>E-mail адрес</label>
			<span></span>
		</div>
		<div class="inputBox">
			<input type="password" name="password" id="Password" required>
			<label>Пароль</label>
			<span></span>
		</div>

		<div class="inputBox">
			<div></div>
			<input type="text" name="firstName" id="FirstName" required="">
			<label for="FirstName">Имя</label>
			<span></span>
		</div>
		<div class="inputBox">
			<div></div>
			<input type="text" name="secondName" id="SecondName" required="">
			<label for="SecondName">Фамилия</label>
			<span></span>
		</div>
		<div class="inputBox">
			<div></div>
			<input type="text" name="middleName" id="MiddleName" required="">
			<label for="MiddleName">Отчество</label>
			<span></span>
		</div>
		<div class="inputBox">
			<div></div>
			<input type="text" name="phone" id="MainPhone" autocomplete="on"  required="">
			<label for="MainPhone">Телефон</label>
			<span></span>
		</div>
		<div class="inputBox">
			<div></div>
			<input type="text" name="city" id="City" required="">
			<label for="City">Город</label>
			<span></span>
		</div>
		<div class="inputBox">
			<div></div>
			<input type="text" onfocus="(this.type='date')" onblur="if(this.value==''){this.type='text'}" name="registerDate" id="RegisterDate" required="" readonly>
			<label for="RegisterDate" style="top: -30px;left: 0;color: var(--primary);">Дата регистрации</label>
			<span></span>
		</div>
		<script type="text/javascript" th:src="@{/js/editProfile.js}"></script>
		<div class="inputBox">
			<input type="button" class="submit" name="" value="Изменить профиль" onclick="editProfile()" oninvalid="changeProfile()">
		</div>
	</div>
</div>

<!-- login start -->
<div th:fragment="login" id="login" ${session}>
	<i class="fas fa-times-circle close" onclick="some(this)"></i>
	<div class="formBox">
		<form class="formBox-form" th:action="@{/login}" method="post">
			<h2 class="form-heading">Авторизация</h2>
			<div class="inputBox">
				<input type="email" name="username" required="">
				<label>E-mail Адрес</label>
				<span></span>
			</div>
			<div class="inputBox">
				<input type="password" name="password" required="">
				<label>Пароль</label>
				<span></span>
			</div>
			<div class="inputBox">
				<input type="submit" name="" value="Авторизация" oninvalid="login()">
				<!-- <button type="submit" name="" value="">Send</button> -->
			</div>
		</form>
		<a href="#" onclick="register()">Всё ещё нет созданного аккаунта?</a>
	</div>
</div>
<!-- login end -->

<!-- register start -->
<div th:fragment="register" id="register">
	<i class="fas fa-times-circle close" onclick="some(this)"></i>
	<div class="formBox">
		<form class="formBox-form" th:action="@{/registration}" modelAttribute="User" method="post">
			<h2 class="form-heading">Регистрация</h2>
			<div class="inputBox">
				<input type="email" name="login" required="">
				<label>E-mail Адрес</label>
				<span></span>
			</div>
			<div class="inputBox">
				<input type="text" name="username" required="">
				<label>Имя пользователя</label>
				<span></span>
			</div>
			<div class="inputBox">
				<input type="password" name="password" required="">
				<label>Пароль</label>
				<span></span>
			</div>
			<div class="inputBox">
				<input type="submit" value="Зарегистрироваться" oninvalid="register()">
			</div>
		</form>
		<a href="#" onclick="login()">Уже есть зарегестрированный аккаунт?</a>
	</div>
</div>
<!-- register end -->