<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
  <meta charset="utf-8" />
  <title th:text="${title}">

  </title>
  <link rel="icon" href="#">
  <meta name='viewport' content='width=device-width, initial-scale=1.0'>
  <script src="https://kit.fontawesome.com/979f4e20dd.js" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <link rel="stylesheet" th:href="@{/css/style.css}"/>
  <link rel="stylesheet" th:href="@{/css/product.css}"/>
  <link rel="stylesheet" th:href="@{/css/media.css}" type="text/css"/>
</head>

<body>
<!-- loader start -->
<div th:insert="blocks/loader :: loader"></div>
<!-- loader end -->
  <main id="blur">
  <!-- header start -->
    <div th:insert="blocks/header :: header"></div>

  <!-- services start -->
    <div class="head">
      <h2 class="heading">Жесткие диски</h2>
      <div class="inputBox">
        <input type="search" name="" required="">
        <label>Введите название товара для поиска</label>
        <a href="#">
          <i class="fas fa-search"></i>
        </a>
      </div>
    </div>
  <section class="block">
    <div class="block-bg"></div>

    <div th:insert="blocks/filters/hdd :: hdd"></div>

    <div class="content">
      <div class="container">
        <div class="contentBox">
          <div>
            <a href="#" class="Name">
              Жесткий диск Western Digital Red 1TB 16MB 2.5" (WD10JFCX)
            </a>
            <h2 class="serial">
              Код: 017662
            </h2>
            <br>
              <img class="preview" src="western-digital-wd-red-1tb-16mb-25-wd10jfcx.jpg">
            <br>
            <p class="availability">Есть в наличии</p>
            <div class="cost">
              <p class="money">2 311 грн</p>
              <div class="icons">
                <a href="#">
                  <i class="fas fa-balance-scale"></i>
                </a>
                <a href="#">
                  <i class="fas fa-shopping-cart"></i>
                </a>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>
  <!-- services end -->

<!-- footer start -->
  <div th:insert="blocks/footer :: footer"></div>
<!-- footer end -->
  </main>
<!-- modals start -->
    <div th:insert="blocks/modals :: recall"></div>
    <div th:insert="blocks/modals :: settings"></div>
    <div th:insert="blocks/modals :: login"></div>
    <div th:insert="blocks/modals :: register"></div>
<!-- modals end -->

    <script type="text/javascript" th:src="@{/js/OpenProfileImage.js}"></script>
    <script type="text/javascript" th:src="@{/js/PhoneMask.js}"></script>
    <script type="text/javascript" th:src="@{/js/modals.js}"></script>
    <script type="text/javascript" th:src="@{/js/toggle-filter.js}"></script>
</body>

</html>